# Irish Ag CA2

Countries chosen for this analysis are Ireland, Germany, Austrailia.

This analysis will focus on the Irish agricultural landscape and the impact that the move towards a more plant based diet has had on it's production/ imports/ exports in comparrison to other counties wehere veganism is also on the rise. 

From the Europe Dataset, the analysis will focus on Ireland, which will be the baseline for all analysis and then Germany. The Irish agriculture findings will then be compared against Germany as both countries benifit from the European Common agricultural Policy. The analysis will be looking for similarities & differences in each countries agriculture indistry. Germany has been chosen as a country for analysis as it is one of the countries with the highest % of vegans in Europe.

The analysis will go on to compare Irish agriculure against  Austraulia, one of the largest vegan populations in the world who do not benifit from being a member of the CAP.

## Import Initial Libraries 

Import Pandas and Numpy libraries. 

Pandas is a Python library used for data analysis. The Pandas library enables DataFrame and Series functionality used for analyzing the data. This library works with the tabular data, i.e data that is organized in a table with rows(observations) and columns(features). 

NumPy is a Python library used to perform mathematical and computing operations specific to arrays. The NumPy module works with the numerical data.
https://numpy.org/doc/stable/

Seaborn and Matplotlib libraries are used for data visualisation purposes to generate plots, graphs and other visuaisations of data. 

Plotly Express is used for Interactive visalusations

In [ ]:
#data manipulation libraries
import pandas as pd
import numpy as np

# data visualization Libraries
import seaborn as sns
from matplotlib import pyplot as plt
import plotly.express as px

## Python Good Practice 
The following are also good practice to run at the start of every Analysis project to ensure the best results

In [ ]:
# filter warnings
import warnings
warnings.filterwarnings("ignore")

# avoid blurry images
%config InLineBackend.figure_format = "retina"
sns.set_context=("talk")

# enable multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Datasets

There is both production and import/export of goods data available on https://www.fao.org/faostat/en/#data/QCL for all continents.

In this section both production and import/export data for Europe, Americas & Oceanias will be imported. Later this data will be go through EDA and data cleaning before moving onto analysis and visualisation. 

Population will also be imported for each country as to standardise analysis to per capita findings. 
Ireland population: https://fred.stlouisfed.org/series/POPTOTIEA647NWDB

In [ ]:
#import dataset
europe = pd.read_csv("data\Production_Crops_Livestock_E_Europe_NOFLAG.csv")

europe.head()

In [ ]:
#import dataset
europe_trade = pd.read_csv("data\Trade_CropsLivestock_E_Europe_NOFLAG.csv")

europe_trade.head()

In [ ]:
#import dataset
americas = pd.read_csv("data\Production_Crops_Livestock_E_Americas_NOFLAG.csv")

americas.head()

In [ ]:
#import dataset
americas_trade = pd.read_csv("data\Trade_CropsLivestock_E_Americas_NOFLAG.csv")

americas_trade.head()

In [ ]:
#import dataset
oceania = pd.read_csv("data\Production_Crops_Livestock_E_Oceania_NOFLAG.csv")

oceania.head()

In [ ]:
#import dataset
oceania_trade = pd.read_csv("data\Trade_CropsLivestock_E_Oceania_NOFLAG.csv")

oceania_trade.head()

In [ ]:
# import dataset
ireland_pop = pd.read_csv("data\irelandpop.csv")

columns = [ 'Year', 'Population_Ireland']
ireland_pop.columns = columns

# reformat year
ireland_pop['Year'] = ireland_pop['Year'].str[:4]

# drop year 1960 & 2020 
ireland_pop.drop([0], axis=0, inplace=True)
ireland_pop.drop([60], axis=0, inplace=True)

# cast pop as int 
ireland_pop['Population_Ireland'] = ireland_pop['Population_Ireland'].astype('int')

ireland_pop.tail()

In [ ]:
#import dataset
germany_pop = pd.read_csv("data\germanypop.csv")

columns = [ 'Year', 'Population_Germany']
germany_pop.columns = columns

#reformat year
germany_pop['Year'] = germany_pop['Year'].str[:4]

#drop year 1960 # drop year 1960 & 2020
germany_pop.drop([0], axis=0, inplace=True)
germany_pop.drop([60], axis=0, inplace=True)

# cast pop as int 
germany_pop['Population_Germany'] = germany_pop['Population_Germany'].astype('int')

germany_pop.tail()

In [ ]:
#import dataset
aus_pop = pd.read_csv("data\\australiapop.csv")

columns = [ 'Year', 'Population_Australia']
aus_pop.columns = columns

#reformat year
aus_pop['Year'] = aus_pop['Year'].str[:4]

#drop year 1960 
aus_pop.drop([0], axis=0, inplace=True)
aus_pop.drop([60], axis=0, inplace=True)

# cast pop as int 
aus_pop['Population_Australia'] = aus_pop['Population_Australia'].astype('int')

aus_pop.head()

## Europe Production Dataset Initial EDA

The European Prouction Dataset is taken from faostat and contains annual data on all crops and animal products producted in  Europe from 1961-2020, measured in tonnes. It also contains information on livestock numbers, yields, areas havested and slaughtering numbers.

Unit Measurements:

    Production = tonnes / head / 1000 head / number
    Area harvested = ha
    Yield =	hg/ha
    Stocks = head / 1000 head
    Producing Animals / Slaughtered = head / 1000 head
    Yields/ Carcass Weight = 0.1g/An, hg/An
    Milking Animals = head 
    Laying = head / 1000 head
    Prod Popultn (bees/honey) = number

"Crop statistics are recorded for 173 products, covering the following categories: Crops Primary, Fibre Crops Primary, Cereals, Coarse Grain, Citrus Fruit, Fruit, Jute Jute-like Fibres, Oilcakes Equivalent, Oil crops Primary, Pulses, Roots and Tubers, Treenuts and Vegetables and Melons. Data are expressed in terms of area harvested, production quantity and yield. The objective is to comprehensively cover production of all primary crops for all countries and regions in the world. Area and production data on cereals relate to crops harvested for dry grain only. Cereal crops harvested for hay or harvested green for food, feed or silage or used for grazing are therefore excluded. Area data relate to harvested area. Some countries report sown or cultivated area only." https://www.fao.org/faostat/en/#data/QCL

In this section and the European Trade section, Dataset will go through an initial EDA process before comparative analysis can begin. Here, datasets will be cleaned by:

    Removing / renaming / re-order columns where necessary
    Reshaping data into a more usable format
    Identify Missing or NaN Values / address appropriately 
    Ensuring correct dtype is applied for each feature  - as the ony datetime variable being used is 'Year', this can remain as int type. It will not be nescessary to cast to datetime dytpe.

In [ ]:
#drop columns not required for analysis
to_drop = ['Area Code','Item Code','Element Code']
europe.drop(to_drop, inplace=True, axis=1)

### Melt Data

The current dataset is difficult to read as it has lots of columns for the different years of data. This dataset can be reshaped using the melt() function

In [ ]:
# melt new dataframe in order to visualise data by street 
europe_melt = pd.melt(europe, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
europe_melt.columns = columns

#remove Y from year
europe_melt['Year'] = europe_melt['Year'].str[1:]

europe_melt.head()

In [ ]:
# dataframe shape, number of rows/ columns 
europe_melt.shape

In [ ]:
europe_melt.info()

### Missing Values

Missing values and 0 values look to reflect that there was no production/ harvest/ yield etc. in a given year for a given country for a given crop/livestock. For early years, it is accptable to assume 0/ NaN values reflect that a cuntry had not yet bgan to produce/ trade this item and therefore values remain as NaN. These values can be removed. 

However, this does not seem to be the case for all 0 / NaN values as pending further investigation it looks like quite a lot of items are missing the last 3 years of production data (2018 / 2019 / 2020). This is consistent across all EU data. This data might not have been submitted to official sources and therefore not included in datasets yet due to covid 19 disruptions. Oceania data seems to only be missing 2020 data as a result of Covid disruptions.

Interpolating or replacing this 2020 might not be appropriate as the interpolated data will not be able to account for the disruption caused by Covid on the Agriculture sector for both production & trade. Therefore, this data will be dropped form the analysis. 

2018 / 2019 data should be interpolated, but it will need to be specific to only the last 2 years to ensure data integretity. It is difficult to interpolate data in the format it is currently in as the Crop_Livestock and Year column contain multiple values which would make it harder to specify what exactly to interpolate. To rectify this, Europe data will first be tidied into seperate Ireland/ Germany datasets to make it easier to identify what specific data to interpolate using the iloc replace function as it allows for specificied rows/ values to be amended, thus keeping the earlier years 0 values in tact to reflect true circumstances.  

Finally, ' Value' dtype will only be changed to int only after missing data has been dealt wil in full in 'Ireland Missing Values'  section as this cannot be done when NaN values are present.

In [ ]:
#remove rows with data not available 
europe_melt = europe_melt.loc[europe_melt["Year"] != "2020"]

In [ ]:
# number of missing values 
europe_melt.isnull().sum()

In [ ]:
#check the amount of 0's in each column
europe_melt_sparse = (europe_melt == 0).sum()
europe_melt_sparse

## European Trade Dataset EDA

The European Trade Dataset is taken from faostat and contains annual data on all crop/ livestock/ animal product Imports and Exports in Europe from 1961-2020, measured in tonnes and heads. It also contains information on Import and Export values in $1000US.

Import/ Export Quantity Unit Measurements:

    Crops = tonnes
    Livestock = head
    Dairy Products = tonnes
    Meat animal Product = tonnes 

"The food and agricultural trade dataset is collected, processed and disseminated by FAO according to the standard International Merchandise Trade Statistics (IMTS) Methodology. The data is mainly provided by UNSD, Eurostat, and other national authorities as needed. This source data is checked for outliers, trade partner data is used for non-reporting countries or missing cells, and data on food aid is added to take into account total cross-border trade flows."  https://www.fao.org/faostat/en/#data/TCL

In [ ]:
#drop columns not required for analysis
europe_trade.drop(to_drop, inplace=True, axis=1)

### Melt Data

In [ ]:
# melt new dataframe in order to visualise data by street 
europe_trade_melt = pd.melt(europe_trade, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
europe_trade_melt.columns = columns

#remove Y from year
europe_trade_melt['Year'] = europe_trade_melt['Year'].str[1:]

europe_trade_melt.head()

In [ ]:
# dataframe shape, number of rows/ columns 
europe_trade_melt.shape

In [ ]:
europe_trade_melt.info()

### Missing Values

Unlike for the Europoean Production data, European and Oceania Trade data is not missing large amounts of data as a result of covid disruption. Meaning, any missing data identified here either relates to years there was no imports/exports for a given country for a given crop/livestock. 

For early years, it is accptable to assume 0/ NaN values reflect that a country had not yet began to produce/ trade this item and therefore values remain as NaN and can be removed. Any other Nan/ 0's identified are likely to reflect other years where no trade took place for the given product. 

As such, any missing data will just be removed for European & Oceanic Trade datasets.

In [ ]:
#remove rows with data not available 
europe_trade_melt = europe_trade_melt.loc[europe_trade_melt["Year"] != "2020"]

In [ ]:
# number of missing values 
europe_trade_melt.isnull().sum()

In [ ]:
#check the amount of 0's in each column
europe_trade_melt_sparse = (europe_trade_melt == 0).sum()
europe_trade_melt_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
europe_trade_melt.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
europe_trade_df = europe_trade_melt.dropna(axis=0)

# check if we have any NaN values in our dataset
europe_trade_df.isnull().values.any()

In [ ]:
europe_trade_df.shape

## Oceania Production Dataset

The Oceania Prouction Dataset is taken from faostat and contains annual data on all crops and animal products producted throughout the Oceania region from 1961-2020, measured in tonnes. It also contains information on livestock numbers, yields, areas havested and slaughtering numbers.

Unit Measurements:

    Production = tonnes
    Area harvested = ha
    Yield =	hg/ha
    Stocks = head 
    Slaughter = head
    Yields/ Carcass Weight = 0.1g/An, hg/An
    Milking Animals = head
    Laying = head
    Prod Popultn (bees/honey) = number

"Crop statistics are recorded for 173 products, covering the following categories: Crops Primary, Fibre Crops Primary, Cereals, Coarse Grain, Citrus Fruit, Fruit, Jute Jute-like Fibres, Oilcakes Equivalent, Oil crops Primary, Pulses, Roots and Tubers, Treenuts and Vegetables and Melons. Data are expressed in terms of area harvested, production quantity and yield. The objective is to comprehensively cover production of all primary crops for all countries and regions in the world. Area and production data on cereals relate to crops harvested for dry grain only. Cereal crops harvested for hay or harvested green for food, feed or silage or used for grazing are therefore excluded. Area data relate to harvested area. Some countries report sown or cultivated area only." https://www.fao.org/faostat/en/#data/QCL

In [ ]:
#drop columns not required for analysis
to_drop = ['Area Code','Item Code','Element Code']
oceania.drop(to_drop, inplace=True, axis=1)

### Melt Data

In [ ]:
# melt new dataframe in order to visualise data by street 
oceania_melt = pd.melt(oceania, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
oceania_melt.columns = columns

#remove Y from year
oceania_melt['Year'] = oceania_melt['Year'].str[1:]

#set Year to datetime dtype
#oceania_melt['Year']= pd.to_datetime(europe_melt['Year'])

oceania_melt

In [ ]:
# dataframe shape, number of rows/ columns 
oceania_melt.shape

In [ ]:
oceania_melt.info()

### Missing Values

As established prior, Missing values and 0 values look to reflect that there was no production/ harvest/ yield etc. in a given year for a given country for a given crop/livestock. For early years, it is accptable to assume 0/ NaN values reflect 
that a cuntry had not yet bgan to produce/ trade this item and therefore values remain as NaN. These values can be removed. 

Unlike the European Dataset, the Oceania dataset does not appear to be missing any 2018/2019 values, meaning all Nan/ 0 values can be removed. 

As pointed out previously, Oceania data is also missing 2020 data as a result of Covid disruptions. Therefore, this data will be dropped form the analysis similar to europan data. 

Finally, ' Value' dtype will be changed to int only after missing data has been dealt with, as this cannot be done when NaN values are present.

In [ ]:
#remove rows with data not available 
oceania_melt = oceania_melt.loc[oceania_melt["Year"] != "2020"]

In [ ]:
# number of missing values 
oceania_melt.isnull().sum()

In [ ]:
#check the amount of 0's in each column
oceania_melt_sparse = (oceania_melt == 0).sum()
oceania_melt_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
oceania_melt.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
oceania_df = oceania_melt.dropna(axis=0)

# check if we have any NaN values in our dataset
oceania_df.isnull().values.any()

In [ ]:
oceania_df.shape

In [ ]:
# cast value as int 
oceania_df['Value'] = oceania_df['Value'].astype('int')

In [ ]:
oceania_df

## Oceania Trade Dataset

The Oceania Trade Dataset is taken from faostat and contains annual data on all crop/ livestock/ animal product Imports and Exports throughout the Oceania region from 1961-2020, measured in tonnes and heads. It also contains information on Import and Export values in $1000US.

Import/ Export Quantity Unit Measurements:

    Crops = tonnes
    Livestock = head
    Dairy Products = tonnes
    Meat animal Product = tonnes 

"The food and agricultural trade dataset is collected, processed and disseminated by FAO according to the standard International Merchandise Trade Statistics (IMTS) Methodology. The data is mainly provided by UNSD, Eurostat, and other national authorities as needed. This source data is checked for outliers, trade partner data is used for non-reporting countries or missing cells, and data on food aid is added to take into account total cross-border trade flows."  https://www.fao.org/faostat/en/#data/TCL

In [ ]:
#drop columns not required for analysis
oceania_trade.drop(to_drop, inplace=True, axis=1)

### Melt Data

In [ ]:
# melt new dataframe in order to visualise data by street 
oceania_trade_melt = pd.melt(oceania_trade, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
oceania_trade_melt.columns = columns

#remove Y from year
oceania_trade_melt['Year'] = oceania_trade_melt['Year'].str[1:]

#set Year to datetime dtype
#europe_melt['Year']= pd.to_datetime(europe_melt['Year'])

oceania_trade_melt.head()

In [ ]:
# dataframe shape, number of rows/ columns 
oceania_trade_melt.shape

In [ ]:
oceania_trade_melt.info()

### Missing Values

Similar to European Trade data, Oceania Trade data is not missing large amounts of data as a result of covid disruption. Meaning, any missing data identified here either relates to years there was no imports/exports for a given country for a given crop/livestock. 

Similarly for early years, it is accptable to assume 0/ NaN values reflect that a country had not yet began to produce/ trade this item and therefore values remain as NaN and can be removed. Any other Nan/ 0's identified are likely to reflect other years where no trade took place for the given product. 

As such, any missing data will just be removed for European & Oceanic Trade datasets.

In [ ]:
#remove rows with data not available 
oceania_trade_melt = oceania_trade_melt.loc[oceania_trade_melt["Year"] != "2020"]

In [ ]:
# number of missing values 
oceania_trade_melt.isnull().sum()

In [ ]:
#check the amount of 0's in each column
oceania_trade_melt_sparse = (oceania_trade_melt == 0).sum()
oceania_trade_melt_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
oceania_trade_melt.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
oceania_trade_df = oceania_trade_melt.dropna(axis=0)

# check if we have any NaN values in our dataset
oceania_trade_df.isnull().values.any()

In [ ]:
oceania_trade_df.shape

In [ ]:
# cast value as int 
oceania_trade_df['Value'] = oceania_trade_df['Value'].astype('int')

## IRELAND

Ireland will form as the baseline country for analysis. 

This analysis will focus on how irish production and consumption has changed over time in line with consumer diet trends and thus impacted irelands agriculture. For the sake of this analysis, Irish production is specific on meat, dairy and crops. Livestock data will not be included in this analysis and will be filtered out by specifying the ireland_prod datafame to only contain 'Production' for element. Livesotck is measured in 'head' and '1000 head' so will remove any livestock data. 

Population data will be added as to calculate values per capita for later comparrison with other countries. 

In order to calculate consumption of a product; production, export and import data on a particular crop is required.
Ireland Trade data will be sorted into 'Import Quantity / Import Value / Export Quantity/ Export Value' and brought into the Ireand dataset using a merge function.

Seperate datasets can be used to conduct specific analysis on Meat, dairy and crop products using the str.contains function. 

Once cleaned, descriptive statistics will then be used for statistical analysis on datasets. It is important to note that the Crop_Livestock column contains multiple products that vary in production level. As it would not be useful to see the mean/diveations until this column is divided up further so an average meat production figure or average dairy production figure can be shown. 

After analysing the descriptive statistics, iusal representations will be used to display initial data to the reader

## Ireland Production Dataset 

For the sake of this analysis, Irish production is specific on meat, dairy and crops. Livestock data will not be included in this analysis and will be filtered out by specifying the ireland_prod datafame to only contain 'Production' for element. Livesotck is measured in 'head' and '1000 head' so will remove any livestock data. 

Columns will also be renamed to 'Production' specific values to make it easier to identify what columns can be dropped when merging with trade datasets later on. 

Missing Values will then be adressed for Ireland dataset. 

The shape function will show how many rows are present. This number is expected to drop once merged with trade data as only rows that have all elements related to consumption (import/ export/ production data) will be kept.

In [ ]:
# create irish dataset
ireland_prod_df = europe_melt.loc[europe_melt['Country']=='Ireland']

# irish production dataset - all products (crop, meat, livestock)
ireland_prod = ireland_prod_df.loc[ireland_prod_df['Element']=='Production']

# rename columns
ireland_prod.rename(columns={'Country': 'Prod Country', 'Unit': 'Production Unit', 'Value': 'Production Value' }, inplace=True)

#reset index
ireland_prod.reset_index(drop=True, inplace=True)

ireland_prod

In [ ]:
ireland_prod.shape

### Ireland Missing Values

Missing values for European data have been reviewed previously. NaN and 0 values look to reflect that there was no production/ harvest/ yield etc. in a given year for a given country for a given crop/livestock. For early years, it is accptable to assume 0/ NaN values reflect that a cuntry had not yet bgan to produce/ trade this item and therefore values remain as NaN. These values can be removed.

2018 / 2019 data should be interpolated. It is difficult to interpolate data in the format it is currently in as the Crop_Livestock and Year column contain multiple values which would make it harder to specify what exactly to interpolate. 

To rectify this, Ireland data will converted into a pivot_table to make it easier to identify what specific columns of data need to be interpolated. Using the loc function to identify row / colun indexes first, the iloc replace function can then be used to replace specific 2018/2019 values.

' Value' dtype will be changed to int once this missing values process is complete.

In [ ]:
#ireland_prod as a pivot table to see what values we need to replace for 2018/2019 only

ireland_prod_table = pd.pivot_table(ireland_prod, values='Production Value', index=['Prod Country', 'Element', 'Production Unit', 'Year'],
                    columns=['Crop_Livestock'], aggfunc=np.sum, fill_value=0)
ireland_prod_table

In [ ]:
# search tab to identify what 2018/2019 data to be replaces & identify iloc 
ireland_prod.loc[ireland_prod['Crop_Livestock']=='Cream fresh']

In [ ]:
# replace missing 2018/ 2019 values with last recorded value 

ireland_prod.iloc[[8203, 8346],[5]] = 2696.0
ireland_prod.iloc[[8206, 8349],[5]] = 3463.0
ireland_prod.iloc[[8208, 8351],[5]] = 1222.0
ireland_prod.iloc[[8209, 8352],[5]] = 3279.0
ireland_prod.iloc[[8168, 8311],[5]] = 4435.0
ireland_prod.iloc[[8214, 8357],[5]] = 4706000.0
ireland_prod.iloc[[8217, 8360],[5]] = 57170.0
ireland_prod.iloc[[8158, 8301],[5]] = 1702.0
ireland_prod.iloc[[8160, 8303],[5]] = 199.0
ireland_prod.iloc[[8167, 8310],[5]] = 1478.0
ireland_prod.iloc[[8168, 8311],[5]] = 4435.0
ireland_prod.iloc[[8171, 8314],[5]] = 340.0
ireland_prod.iloc[[8184, 8327],[5]] = 8906.0
ireland_prod.iloc[[8193, 8336],[5]] = 268.0
ireland_prod.iloc[[8194, 8337],[5]] = 45.0
ireland_prod.iloc[[8223, 8336],[5]] = 2890.0
ireland_prod.iloc[[8236, 8379],[5]] = 7169.0
ireland_prod.iloc[[8244, 8387],[5]] = 1855.0
ireland_prod.iloc[[8252, 8395],[5]] = 629.0
ireland_prod.iloc[[8258, 8401],[5]] = 75000.0
ireland_prod.iloc[[8259, 8402],[5]] = 9755.0
ireland_prod.iloc[[8266, 8409],[5]] = 26516.0
ireland_prod.iloc[[8267, 8410],[5]] = 2.0
ireland_prod.iloc[[8271, 8414],[5]] = 2219.0
ireland_prod.iloc[[8272, 8415],[5]] = 41849.0
ireland_prod.iloc[[8291, 8434],[5]] = 75000.0
ireland_prod.iloc[[8173, 8316],[5]] = 30064.0

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
ireland_prod.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
ireland_prod = ireland_prod.dropna(axis=0)

# check if we have any NaN values in our dataset
ireland_prod.isnull().values.any()

In [ ]:
# cast value as int 
ireland_prod['Production Value'] = ireland_prod['Production Value'].astype('int')

### Ireland Production- Add Population 

Population data will be added as to calculate values per capita for later comparrison with other countries. Per Capita amounts will be added during feature Engineering later on.

In [ ]:
# merge population data. Outer merge so no data is lost 

ireland_prod_pop = pd.merge(ireland_prod, ireland_pop, how="outer", on = ["Year"])
ireland_prod_pop.head()

In [ ]:
ireland_prod_pop.shape

### Ireland Production Analysis

As the focus of this analysis is how irish production and consumption has changed over time in line with consumer diet trends and thus impacted irelands agriculture, the ireland_df can be divided into Meat / Dairy / Crop datasets for further analysis. This will be done by using the str.contains function to specify what products should be included in each dataset.

The .unique and loc functions will then be used to further filter each dataset and remove any unwanted/ non relevant  products from each dataset.

In [ ]:
# irish production meat products
ireland_prod_meat = ireland_prod_pop.loc[ireland_prod_pop['Crop_Livestock'].str.contains('meat', case=False)]
ireland_prod_meat.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
ireland_prod_meat.reset_index(drop=True)

# irish production dairy products
ireland_prod_dairy = ireland_prod_pop.loc[ireland_prod_pop['Crop_Livestock'].str.contains('milk', case=False)]
ireland_prod_dairy.rename(columns={'Crop_Livestock': 'Dairy Product'}, inplace=True)
ireland_prod_dairy.reset_index(drop=True)

# irish production crops
ireland_prod_crop = ireland_prod_pop.loc[ireland_prod_pop['Crop_Livestock'].str.contains('meat', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('milk', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('offals', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('fat', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('hides', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('wool', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('skin', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('cream', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('egg', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('lard', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('butter', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('cheese', case=False) == False]
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop_Livestock'].str.contains('oil', case=False) == False]
ireland_prod_crop.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
ireland_prod_crop.reset_index(drop=True)

In [ ]:
# check Meat Type values are what we want for analysis
ireland_prod_meat['Meat Type'].unique()

In [ ]:
# remove any items we dont want 
ireland_prod_meat = ireland_prod_meat.loc[ireland_prod_meat['Meat Type'] != 'Meat nes']
ireland_prod_meat = ireland_prod_meat.loc[ireland_prod_meat['Meat Type'] != 'Meat, Total']

In [ ]:
ireland_prod_dairy['Dairy Product'].unique()

In [ ]:
ireland_prod_dairy = ireland_prod_dairy.loc[ireland_prod_dairy['Dairy Product'] != 'Milk, Total']
ireland_prod_dairy = ireland_prod_dairy.loc[ireland_prod_dairy['Dairy Product'] != 'Evaporat&Condensed Milk']

In [ ]:
ireland_prod_crop['Crop'].unique()

In [ ]:
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Vegetables, fresh nes']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Fruit, fresh nes']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Cereals, Total']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Fruit Primary']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Vegetables Primary']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Margarine, short']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Cereals nes']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Pulses, Total']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Roots and Tubers, Total']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Sugar Crops Primary']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Vegetables, leguminous nes']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Leeks, other alliaceous vegetables']
ireland_prod_crop = ireland_prod_crop.loc[ireland_prod_crop['Crop'] != 'Berries nes']

### Ireland Production Visualisations 

Visualisations can be seen using Seaborn & MatPlotlib to visualise Irelands agriculture production from 1961-2019 for meat / dairy/ crops. A line graph os chosen as to show production over time.

However, it is difficult to interpret the Crop dataset using a line graph. Imcluded below are other options tried to visualise this better including samplign and using percentage change. This data is better represented as a barplot to show production per crop. A view of how production has changed throughout the years will be better visualised using Plotly Express later in the analysis.

In [ ]:
def plotprodvisuals(dataset, foodvalue, country):
    plt.figure(figsize = (12,8))
    sns.lineplot(data=dataset, x="Year", y="Production Value", hue= foodvalue)  
    plt.xlabel('\nYear', fontsize=15) 
    plt.ylabel('Tonnes Produced\n', fontsize=15)
    plt.title('\n ' + country + "'s Production per " + foodvalue + ' 1961-2019\n', fontsize=20)
    plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
    plt.xticks(rotation = 80);
plt.show(); 

def plotprodvisualsii(dataset, foodvalue, minx, maxx,  country, title):
    plt.figure(figsize = (12,8))
    plt.subplots(figsize = (12,8))
    sns.lineplot(data=dataset, x="Year", y="Production Value", hue= foodvalue)  
    plt.ylim([minx, maxx])
    plt.xticks(rotation = 80, fontsize = 12)
    plt.xlabel('\nYear', fontsize=15) 
    plt.ylabel('Tonnes Produced\n', fontsize=15)
    plt.title('\n ' + country + "'s Production per " + title + foodvalue + ' 1961-2019\n', fontsize=20)
    plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1));
plt.show(); 

def plotprodbar(dataset, foodvalue, country):
    plt.figure(figsize = (15,10))
    sns.barplot(data = dataset, x = foodvalue, y="Production Value")
    plt.xticks(rotation = 90, fontsize=12)
    plt.xlabel('Poduct\n', fontsize=15) 
    plt.ylabel('Amount in Tonnes\n', fontsize=15)
    # https://stackoverflow.com/questions/35638525/how-to-add-title-to-subplots-with-loop
    # set the spacing between subplots 
    plt.subplots_adjust(left=None, bottom=None, right=None, top=1, wspace=None, hspace=1)
    # add title to include i value
    plt.title('\n ' + country + "'s Top " + foodvalue + ' 1961-2019\n', fontsize=20)
plt.show();

In [ ]:
plotprodvisuals(ireland_prod_meat, "Meat Type", 'Ireland')
plotprodvisualsii(ireland_prod_dairy, "Dairy Product", 1000000, 8500000, 'Ireland', 'Top ')
plotprodvisualsii(ireland_prod_dairy, "Dairy Product", 0, 275000, 'Ireland', 'Other ')
plotprodvisualsii(ireland_prod_crop, "Crop", 75000, 2250000, 'Ireland', 'Top ')
plotprodvisualsii(ireland_prod_crop, "Crop", 0, 75000, 'Ireland', 'Other ')
plotprodbar(ireland_prod_crop, "Crop",'Ireland');

### Fix line graph to avoid clumping 

Multiple methods were attempted to find a better way to display Crop data to avoid clumping including  using % change, sampling and splitting values into seperate graphs bt setting y limits for values. 

Setting y limits appears to work the best but a shortned list for crops will need to be created further on to enable a better visual. This list can be created once rade data is also added to dataset.

In [ ]:
# sort values to use pct_change
ireland_prod_crop_test= ireland_prod_crop.sort_values(by=['Crop', 'Year'])

# add pc change column
ireland_prod_crop_test['Production Value PCT'] = ireland_prod_crop_test['Production Value'].pct_change().cumsum()

#reset index to use iloc
ireland_prod_crop_test.reset_index(drop=True, inplace=True)

# replace 1st value of PCT column
#ireland_dairy.iloc[[0],[10]] = 61300

ireland_prod_crop_test.head()

In [ ]:
plt.figure(figsize = (12,8))
sns.lineplot(data=ireland_prod_crop_test, x="Year", y="Production Value PCT", hue="Crop")  
plt.xlabel('\nYear', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('Ireland Crop Production 1961-2019\n', fontsize=20)
plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
plt.xticks(rotation = 90);

In [ ]:
#create a sample for better visualisations 
# https://www.geeksforgeeks.org/python-pandas-dataframe-sample/

# create new sample df
ireland_prod_crop_sample = ireland_prod_crop.sample(frac =.25)

#sort values by year
ireland_prod_crop_sample.sort_values(by=['Crop', 'Year'])

plt.figure(figsize = (12,8))
sns.lineplot(data=ireland_prod_crop_sample, x="Year", y="Production Value", hue="Crop")  
plt.xlabel('\nYear', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('Ireland Crop Production 1961-2019\n', fontsize=20)
plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
plt.xticks(rotation = 90);

In [ ]:
#reset graph limits to work for crop items

fig, ax = plt.subplots(figsize = (12,8))
vt = sns.lineplot(data=ireland_prod_crop, x="Year", y="Production Value", hue="Crop")  
vt = ax.set_ylim(0, 75000);
plt.xlabel('\nYear', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('Ireland Crop Production 1961-2019\n', fontsize=20)
plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
plt.xticks(rotation = 90);

## Ireland Trade Datasets

In order to calculate consumption of a product; production, export and import data on a particular crop is required.
Ireland Trade data will be sorted into  seperate 'Import Quantity / Import Value / Export Quantity/ Export Value' datasets using the loc function. 

Agian columns will be remaned to allow for easy column identification once date is merged with production data. This data will then and brought into the Ireland dataset using a merge function.

The shape function will show how many rows are present in each dataset. This number is likely to be different to the production data but is expected to drop once merged with trade data as only rows that have all elements related to consumption (import/ export/ production data) will be kept.

In [ ]:
# create irish dataset
ireland_trade = europe_trade_df.loc[europe_trade_df['Country']=='Ireland']

# irish import/ export datasets - all products (crop, meat, livestock)
ireland_imports = ireland_trade.loc[ireland_trade['Element']=='Import Quantity']
ireland_exports = ireland_trade.loc[ireland_trade['Element']=='Export Quantity']
ireland_imports_val = ireland_trade.loc[ireland_trade['Element']=='Import Value']
ireland_exports_val = ireland_trade.loc[ireland_trade['Element']=='Export Value']

# rename Value Columns 
ireland_imports.rename(columns={'Value': 'Import Quantity'}, inplace=True)
ireland_exports.rename(columns={'Value': 'Export Quantity'}, inplace=True)
ireland_exports.rename(columns={'Unit': 'Export Unit'}, inplace=True)
ireland_imports.rename(columns={'Unit': 'Import Unit'}, inplace=True)
ireland_imports_val.rename(columns={'Value': 'Import Value'}, inplace=True)
ireland_exports_val.rename(columns={'Value': 'Export Value'}, inplace=True)

#reset index
ireland_imports.reset_index(drop=True, inplace=True)
ireland_exports.reset_index(drop=True, inplace=True)
ireland_imports_val.reset_index(drop=True, inplace=True)
ireland_exports_val.reset_index(drop=True, inplace=True)

In [ ]:
ireland_imports.head()
ireland_exports.head()
ireland_imports_val.head()
ireland_exports_val.head()

In [ ]:
ireland_imports.shape
ireland_exports.shape
ireland_imports_val.shape
ireland_exports_val.shape

In [ ]:
ireland_imports['Crop_Livestock'].unique()

## Merge Ireland Trade & Production 

As both Ireland production and Ireland Trade data have been cleaned and missing values have either been imputed/ removed, an Inner Merge is suitable to use here. There are significantly less rows in the production datataset than in the exports/ imports dataset. This is to be expected for imports as the Ireland would typically import products it does not produce/ produce enough of itelf. For export data it is possible there is more records available.

This analysis is focusing on how irish production and consumption has changed over time in line with consumer diet trends and thus impacted irelands agriculture. In order to calculate consumption of a product; production, export and import data on a particular crop is required. 

Therefore the analysis should include data on  all 3. An inner merge would be suitable in most circumstances, however there are situations where a country may produce and export an item and have no need to import as supplies are high. Likewise a country might not produce an item so imports are high and exports are non existant. An inner merge would only keep rows where the selected values exists in both the left and right dataframes. 

Therefore an outer merge will be used when merging import values. This is most suitable here as to not loose any data where a country would import but not produce. An left merge will be used for export values, so data will only be merged if production values exist. 

"Crop_Livestock" and "Year" will both used during merge to ensure no duplicate values are added.

Missing values wil be checked once more to ensure no data was lost/skewed during the merge. 

Finally, some item names differ between the datasets. These will be identified & replaced to simplify the datasets. For this analysis, 'meat preparations' (mince) will be catagorised alongside meat, cattle / meat, pig accordingly.

In [ ]:
# merge population data. 
ireland_add_exports = pd.merge(ireland_prod_pop, ireland_exports, how="left", on = ["Crop_Livestock", "Year"])

In [ ]:
ireland_add_exports.shape

In [ ]:
# merge data. 
ireland_df = pd.merge(ireland_add_exports, ireland_imports, how="outer", on = ["Crop_Livestock", "Year"])

# merge population data. Outer merge so no data is lost 

ireland_df = pd.merge(ireland_df, ireland_pop, how="outer", on = ["Year"])
ireland_df.head()

#ireland_add_imvals = pd.merge(ireland_add_exports, ireland_imports_val, how="outer", on = ["Crop_Livestock", "Year"])
#ireland_df = pd.merge(ireland_add_imvals, ireland_exports_val, how="outer", on = ["Crop_Livestock", "Year"])

In [ ]:
ireland_df.shape

In [ ]:
ireland_df.columns

In [ ]:
# drop duplicate / unnecessary columns
ire_to_drop = ['Element_x', 'Country_x', 'Element_y', 'Country_y', 'Element', 'Population_Ireland_x']
ireland_df = ireland_df.drop(ire_to_drop, axis = 1)

# rename columns to include unit
ireland_df.rename(columns={'Population_Ireland_y' : 'Population_Ireland'}, inplace=True)

#reorder columns 
ire_columns = ['Prod Country', 'Crop_Livestock', 'Year', 'Production Unit',  'Production Value', 'Import Unit', 'Import Quantity', 'Export Unit', 'Export Quantity',  'Population_Ireland']
ireland_df = ireland_df.reindex(columns=ire_columns)

# check dataset
ireland_df.head(100)

In [ ]:
# number of missing values 
ireland_df.isnull().sum()

In [ ]:
#check the amount of 0's in each column
ireland_df_sparse = (ireland_df == 0).sum()
ireland_df_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
ireland_df['Prod Country'].replace(to_replace = np.nan, value = 'Ireland', inplace=True)

# first will replace 0 values with NaNs  
ireland_df.replace(to_replace = np.nan, value = 0, inplace=True)

# check if we have any NaN values in our dataset
ireland_df.isnull().sum()

In [ ]:
ireland_df_sparse

In [ ]:
# cast value as int 
ireland_df['Production Value'] = ireland_df['Production Value'].astype('int')
ireland_df['Import Quantity'] = ireland_df['Import Quantity'].astype('int')
ireland_df['Export Quantity'] = ireland_df['Export Quantity'].astype('int')
ireland_df['Population_Ireland'] = ireland_df['Population_Ireland'].astype('int')

In [ ]:
# replace items with differeng names across datasets 
ireland_df.replace(to_replace = 'Meat, beef, preparations', value = 'Meat, beef' , inplace=True)
ireland_df.replace(to_replace = 'Beef and Buffalo Meat', value = 'Meat, beef' , inplace=True)
ireland_df.replace(to_replace = 'Meat, cattle, boneless (beef & veal)', value = 'Meat, beef' , inplace=True)
ireland_df.replace(to_replace = 'Meat, cattle', value = 'Meat, beef' , inplace=True)
ireland_df.replace(to_replace = 'Pigmeat', value = 'Meat, pig' , inplace=True)
ireland_df.replace(to_replace = 'Meat, pig, preparations', value = 'Meat, pig' , inplace=True)
ireland_df.replace(to_replace = 'Bovine Meat', value = 'Meat, beef' , inplace=True)
ireland_df.replace(to_replace = 'Meat, goose and guinea fowl', value = 'Meat, goose' , inplace=True)
ireland_df.replace(to_replace = 'Almonds, with shell', value = 'Almonds' , inplace=True)
ireland_df.replace(to_replace = 'Almonds shelled', value = 'Almonds' , inplace=True)
ireland_df.replace(to_replace = 'Hazelnuts, with shell', value = 'Hazelnuts' , inplace=True)
ireland_df.replace(to_replace = 'Hazelnuts, shelled', value = 'Hazelnuts' , inplace=True)
ireland_df.replace(to_replace = 'Cashew nuts, with shell', value = 'Cashew nuts' , inplace=True)
ireland_df.replace(to_replace = 'Cashew nuts, shelled', value = 'Cashew nuts' , inplace=True)
ireland_df.replace(to_replace = 'Oats rolled', value = 'Oats' , inplace=True)

## Feature Engineering - Ireland Consumption 

In order to analyse whether Irelands consumption has changed over time in line with changing diet  trends, a consumption column wil need to be feature engineered. To calculate consumption of a product; production, export and import data on a particular crop is required and the folowing equation will be used:

    Consumption = (Production + Imports) - Exports 

This calaculation is as adaptation of the calculation used to calculate GDP, which is:

    GDP = Domestic Consumption (C) + Domestic gross investment (In) + Government spending (G) + [Exports (E)Imports (I )], or GDP = C + In + G + (EI)

https://www.wilsoncenter.org/chapter-3-trade-agreements-and-economic-theory

In [ ]:
ireland_df['Consumption'] = (ireland_df['Production Value'] + ireland_df['Import Quantity']) - ireland_df['Export Quantity']

In [ ]:
ireland_df

## Ireland Meat/ Dairy/ Crop Datasets

As the focus of this analysis is how irish production and consumption has changed over time in line with consumer diet trends and thus impacted irelands agriculture, the ireland_df can be divided into Meat / Dairy / Crop datasets for further analysis. This will be done by using the str.contains function to specify what products should/ should not be included in each dataset.

The .unique and loc functions will then be used to further filter each dataset and remove any unwanted/ non relevant  products from each dataset. 

The crop dataset will be determined by crops associated with vegan produce such as milk alternatives and meat alternative products.

In [ ]:
# irish production meat products
ireland_meat = ireland_df.loc[ireland_df['Crop_Livestock'].str.contains('meat', case=False)]
ireland_meat.rename(columns={'Crop_Livestock': 'Meat_Type'}, inplace=True)
ireland_meat.reset_index(drop=True)

# irish production dairy products
ireland_dairy = ireland_df.loc[ireland_df['Crop_Livestock'].str.contains('milk|cream', case=False)]
ireland_dairy.rename(columns={'Crop_Livestock': 'Dairy_Product'}, inplace=True)
ireland_dairy.reset_index(drop=True)

# irish production crops
ireland_crop = ireland_df.loc[ireland_df['Crop_Livestock'].str.contains('total|chickpea|soy|almond|oat|hazelnut|cashew|tofu|avocado|mushroom|hemp|flax|chia|seaweed|yeast|quinoa|primary', case=False)]
ireland_crop = ireland_crop.loc[ireland_crop['Crop_Livestock'].str.contains('meat|milk|offal|fat|hide|wool|sheep|cream|egg|lard|butter|cheese|oil|skin|goat|rice|juice|other|paste|sauce|tow|canned|cake|frozen|nes|confectionery|oil|broken|waste|equivalent', case=False) == False]
ireland_crop.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
ireland_crop.reset_index(drop=True)

In [ ]:
ireland_crop['Crop'].unique()

In [ ]:
# check Meat Type values are what we want for analysis
ireland_meat['Meat_Type'].unique()

In [ ]:
ireland_meat = ireland_meat.loc[ireland_meat['Meat_Type'].str.contains('nes|total|poultry|other|canned', case=False) == False]
ireland_meat = ireland_meat.loc[ireland_meat['Meat_Type'].str.contains('Sheep and Goat Meat', case=False) == False]

In [ ]:
ireland_dairy['Dairy_Product'].unique()

In [ ]:
ireland_dairy = ireland_dairy.loc[ireland_dairy['Dairy_Product'] != 'Evaporat&Condensed Milk']
ireland_dairy = ireland_dairy.loc[ireland_dairy['Dairy_Product'] != 'Buttermilk, curdled, acidified milk']
ireland_dairy = ireland_dairy.loc[ireland_dairy['Dairy_Product'] != 'Ice cream and edible ice']
ireland_dairy = ireland_dairy.loc[ireland_dairy['Dairy_Product'] != 'Skim Milk&Buttermilk,Dry']
ireland_dairy = ireland_dairy.loc[ireland_dairy['Dairy_Product'].str.contains('total|nes', case=False) == False]

### Descriptive Statistics per product type for all years

Now the data has been cleaned, descriptive statistical analysis can begin. A mean production / import/ export value will be shown for each product type (meat, dairy, crop). Min/ max info, inter quatrile ranges and standard diveation form the mean will also be shown per product type across production/ imports / exports. 

Population data can be ignored here as data will be skewed.

In [ ]:
# for all meat products 1961-2019
ireland_meat.describe()

# for all dairy products 1961-2019
ireland_dairy.describe()

# for all crops 1961-2019
ireland_crop.describe()

### Ireland Visualisations 

Seaborn & MatPlotlib libraries will be used to visualise Irelands agriculture production from 1961-2019 for meat / dairy/ crops.

A line graph is chosen as to show production and consumption over time. A loop will be used here to avoid repetition, a function will be created to all this loop for different datasets. 

A bar plot is used to show Top Meat/ Dairy/ Crop Imports, Exports and consumption per product. Similarly, a loop will be used here to avoid repetition, a function will be created to all this loop for different datasets. 

These visualisations will then be compared against population values to see if values increase/ decrease with population.

In [ ]:
ireland_meat_list = ireland_meat['Meat_Type'].unique()
ireland_dairy_list = ireland_dairy['Dairy_Product'].unique()
ireland_crop_list = ireland_crop['Crop'].unique()

In [ ]:
# function 1 - Line graphs for production / consumption Vs Population throughout years

# set the spacing between subplots /  # add title to include i value
# https://stackoverflow.com/questions/35638525/how-to-add-title-to-subplots-with-loop

## add annotation for lines in line graph
# https://stackoverflow.com/questions/49237522/how-to-annotate-end-of-lines-using-python-and-matplotlib
#https://matplotlib.org/3.5.0/api/_as_gen/matplotlib.axes.Axes.annotate.html

## change limit of x axes to allow rom for labels
#https://stackoverflow.com/questions/62882793/adding-extra-space-along-the-x-axis-in-matplotlib-bar-graph


line_values = ['Production Value', 'Consumption']

def plotlinegraphs(dataset, value, country, popvalue, ydataname):
    plt.figure(figsize = (15,20))
    for i in enumerate(line_values):
        plt.subplot(2,1,i[0]+1)
        ax = sns.lineplot(data= dataset, x="Year", y= i[1], hue= value, ci=None, )
        for line, name in zip(ax.lines, ydataname):
            y = line.get_ydata()[-1]
            ax.annotate(name, xy=(1,y), xytext=(760,1), color=line.get_color(), 
                textcoords="offset points",
                size=14, va="baseline")
            plt.xlim(None, 70)
            plt.xticks(rotation = 80, fontsize=12)
            plt.xlabel('\nYear', fontsize=15) 
            plt.ylabel('Amount in Tonnes\n', fontsize=15)
            plt.legend(prop = {'size': 10}, loc='upper left', bbox_to_anchor=(1.1, 1))
            plt.subplots_adjust(left=None, bottom=None, right=1, top=None, wspace=None, hspace=0.4)
            plt.title('\n ' + country + i[1] + ' per ' + value + ' Vs Population for 1961-2019\n', fontsize=20)
        ax2 = plt.twinx()
        #plt.ylabel('\nPopulation', fontsize=15)
        plt.ylabel('\n ', fontsize=15)
        sns.lineplot(data=dataset, x="Year", y= popvalue, color ="r", 
                     label= 'Population', linestyle='dashdot', linewidth=3, ax=ax2)
        plt.legend(loc='upper right')

plt.show();

In [ ]:
# # function 2 - Line graphs for production / consumption thrughout yearswhere max/ min values are required 

def plotlinegraphsii(dataset, value, minx, maxx, country, popvalue, ydataname, title):
    plt.figure(figsize = (15,30))
    for i in enumerate(line_values):
        plt.subplot(2,1,i[0]+1)
        ax = sns.lineplot(data= dataset, x="Year", y= i[1], hue= value, ci=None, )
        for line, name in zip(ax.lines, ydataname):
            y = line.get_ydata()[-1]
            ax.annotate(name, xy=(1,y), xytext=(760,1), color=line.get_color(), 
                textcoords="offset points",
                size=14, va="baseline")
            plt.xlim(None, 70)
            plt.ylim([minx, maxx])
            plt.xticks(rotation = 80, fontsize=12)
            plt.xlabel('\nYear', fontsize=15) 
            plt.ylabel('Amount in Tonnes\n', fontsize=15)
            plt.legend(prop = {'size': 10}, loc='upper left', bbox_to_anchor=(1.1, 1))
            plt.subplots_adjust(left=None, bottom=None, right=1, top=None, wspace=None, hspace=0.4)
            plt.title('\n ' + country + i[1] + ' per ' + title + value + ' Vs Population for 1961-2019\n', fontsize=20)
        ax2 = plt.twinx()
        #plt.ylabel('\nPopulation', fontsize=15)
        plt.ylabel('\n ', fontsize=15)
        sns.lineplot(data=dataset, x="Year", y= popvalue, color ="r", 
                     label= 'Population', linestyle='dashdot', linewidth=3, ax=ax2)
        plt.legend(loc='upper right')

plt.show();

In [ ]:
# function 3 - Bar plots for production/ consumption/ imports / exports 

features = ['Production Value', 'Import Quantity', 'Export Quantity', 'Consumption']

def plotfigures(dataset, value, country):
    plt.figure(figsize = (15,30))
    for i in enumerate(features):
        plt.subplot(4,1,i[0]+1)
        sns.barplot(data = dataset, x = value, y = i[1])
        plt.xticks(rotation = 80, fontsize=12)
        plt.xlabel('Product\n', fontsize=15) 
        plt.ylabel('Amount in Tonnes\n', fontsize=15)
    # https://stackoverflow.com/questions/35638525/how-to-add-title-to-subplots-with-loop
    # set the spacing between subplots 
        plt.subplots_adjust(left=None, bottom=None, right=None, top=1, wspace=None, hspace=1)
    # add title to include i value
        plt.title('\n ' + country + i[1] + ' per ' +  value + ' for 1961-2019\n', fontsize=20)
plt.show();

#### Meat

In [ ]:
# ireland meat visuals
plotlinegraphs(ireland_meat, 'Meat_Type', 'Ireland ', 'Population_Ireland', ireland_meat_list)
plotfigures(ireland_meat, 'Meat_Type', 'Ireland ');

In [ ]:
# ireland meat visuals more detail
plotlinegraphsii(ireland_meat, 'Meat_Type',  5000, 270000, 'Ireland ', 'Population_Ireland', ireland_meat_list, 'Top ')
plotlinegraphsii(ireland_meat, 'Meat_Type',  0, 5000, 'Ireland ', 'Population_Ireland', ireland_meat_list, 'Other ')

#### Dairy

In [ ]:
# ireland dairy visuals 
plotlinegraphs(ireland_dairy, 'Dairy_Product', 'Ireland ', 'Population_Ireland', ireland_dairy_list)
plotfigures(ireland_dairy, 'Dairy_Product', 'Ireland ');

In [ ]:
# ireland dairu visuals more detail
plotlinegraphsii(ireland_dairy, 'Dairy_Product', 1000000, 8500000, 'Ireland ', 'Population_Ireland', ireland_dairy_list,'Top ')
plotlinegraphsii(ireland_dairy, 'Dairy_Product', 0, 300000, 'Ireland ', 'Population_Ireland', ireland_dairy_list,  'Mid ')

plotlinegraphsii(ireland_dairy, 'Dairy_Product', 0, 110000, 'Ireland ', 'Population_Ireland', ireland_dairy_list,  'Smaller ')

#### Crops

In [ ]:
# ireland crop visuals 
plotlinegraphs(ireland_crop, 'Crop', 'Ireland ', 'Population_Ireland', ireland_crop_list)
plotfigures(ireland_crop, 'Crop', 'Ireland ');

In [ ]:
# ireland crop visuals more detail 
plotlinegraphsii(ireland_crop, 'Crop', 80000, 3000000, 'Ireland ', 'Population_Ireland', ireland_crop_list, 'Top ')
plotlinegraphsii(ireland_crop, 'Crop', 0, 80000, 'Ireland ', 'Population_Ireland', ireland_crop_list, 'Mid ')
plotlinegraphsii(ireland_crop, 'Crop', 0, 8000, 'Ireland ', 'Population_Ireland', ireland_crop_list, 'Smaller ')

### Ireland Production Pivot Table

In [ ]:
#ireland_dairy_prod as a pivot table to see dairy poduct values per year

ireland_meat_table = pd.pivot_table(ireland_meat, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Meat_Type'], aggfunc=np.sum, fill_value=0)


ireland_dairy_table = pd.pivot_table(ireland_dairy, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Dairy_Product'], aggfunc=np.sum, fill_value=0)


ireland_crop_table = pd.pivot_table(ireland_crop, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Crop'], aggfunc=np.sum, fill_value=0)

In [ ]:
ireland_meat_table

In [ ]:
ireland_dairy_table

In [ ]:
ireland_crop_table

### Descriptive Statistics per product for all years

The FAO datasets are free of outliers, however, outliers will appear when looking at boxplots per product for all years as this data is presented in Pivot table format and will show 0 values for years where production on an item had not yet started.

In [ ]:
ireland_meat_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))
ireland_dairy_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))
ireland_crop_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=ireland_meat_table, orient='h', palette='Reds_r');

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=ireland_dairy_table, orient='h', palette='BuPu_r');

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=ireland_crop_table, orient='h', palette='summer_r');

In [ ]:
ireland_meat_table.columns

In [ ]:
ireland_meat_columns = ['Meal, meat', 'Meat, beef', 'Meat, chicken', 'Meat, duck', 'Meat, game',
       'Meat, goat', 'Meat, goose', 'Meat, horse', 'Meat, pig',
       'Meat, pig sausages', 'Meat, pork', 'Meat, rabbit', 'Meat, sheep', 'Meat, turkey']

## GERMANY

 ## Germany Production Datasets

In [ ]:
# create german dataset
germany_prod_df = europe_melt.loc[europe_melt['Country']=='Germany']

# german production dataset - all products (crop, meat, livestock)
germany_prod = germany_prod_df.loc[germany_prod_df['Element']=='Production']

# rename columns
germany_prod.rename(columns={'Country': 'Prod Country', 'Unit': 'Production Unit', 'Value': 'Production Value' }, inplace=True)

#reset index
germany_prod.reset_index(drop=True, inplace=True)

germany_prod

### Germany Missing Values

In [ ]:
#ireland_prod as a pivot table to see what values we need to replace for 2018/2019 only

germany_prod_table = pd.pivot_table(germany_prod, values='Production Value', index=['Prod Country', 'Element', 'Production Unit', 'Year'],
                    columns=['Crop_Livestock'], aggfunc=np.sum, fill_value=0)
germany_prod_table

In [ ]:
xxxxx

In [ ]:
# search tab to identify what 2018/2019 data to be replaces & identify iloc 
germany_prod.loc[germany_prod['Crop_Livestock']=='Cream fresh']

In [ ]:
# replace missing 2018/ 2019 values with last recorded value 

germany_prod.iloc[[9463, 9629],[5]] = 227.0
germany_prod.iloc[[9478, 9644],[5]] = 2040.0
germany_prod.iloc[[9479, 9645],[5]] = 791400.0
germany_prod.iloc[[9480, 9646],[5]] = 1484200.0
germany_prod.iloc[[9499, 9665],[5]] = 2703.0
germany_prod.iloc[[9501, 9667],[5]] = 86160.0
germany_prod.iloc[[9510, 9676],[5]] = 21600.0
germany_prod.iloc[[9526, 9692],[5]] = 58400.0
germany_prod.iloc[[9531, 9697],[5]] = 32532.0
germany_prod.iloc[[9534, 9700],[5]] = 13800937.0
germany_prod.iloc[[9535, 9701],[5]] = 430400.0
germany_prod.iloc[[9536, 9702],[5]] = 27000.0
germany_prod.iloc[[9537, 9703],[5]] = 37363.0
germany_prod.iloc[[9538, 9704],[5]] = 134800.0
germany_prod.iloc[[9539, 9705],[5]] = 376407.0
germany_prod.iloc[[9546, 9712],[5]] = 8194.0
germany_prod.iloc[[9561, 9727],[5]] = 12851.0
germany_prod.iloc[[9567, 9733],[5]] = 91603.0
germany_prod.iloc[[9569, 9735],[5]] = 562.0
germany_prod.iloc[[9574, 9740],[5]] = 2905.0
germany_prod.iloc[[9576, 9742],[5]] = 13141.0
germany_prod.iloc[[9591, 9757],[5]] = 38164.0
germany_prod.iloc[[9593, 9759],[5]] = 6218.0
germany_prod.iloc[[9599, 9765],[5]] = 18261.0
germany_prod.iloc[[9602, 9768],[5]] = 29446.0
germany_prod.iloc[[9603, 9769],[5]] = 345200.0
germany_prod.iloc[[9626, 9792],[5]] = 18261.0
germany_prod.iloc[[9486, 9652],[5]] = 578000.0

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
germany_prod.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
germany_prod = germany_prod.dropna(axis=0)

# check if we have any NaN values in our dataset
germany_prod.isnull().values.any()

In [ ]:
# cast value as int 
germany_prod['Production Value'] = germany_prod['Production Value'].astype('int')

### Germany Production- Add Population

In [ ]:
# merge population data. Outer merge so no data is lost 
germany_prod_pop = pd.merge(germany_prod, germany_pop, how="outer", on = ["Year"])
germany_prod_pop.head()

In [ ]:
germany_prod_pop.shape

###  Germany Production Analysis

In [ ]:
# german production meat products
germany_meat_prod = germany_prod_pop.loc[germany_prod_pop['Crop_Livestock'].str.contains('meat', case=False)]
germany_meat_prod.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
germany_meat_prod.reset_index(drop=True)

# german production dairy products
germany_dairy_prod =  germany_prod_pop.loc[ germany_prod_pop['Crop_Livestock'].str.contains('milk', case=False)]
germany_dairy_prod.rename(columns={'Crop_Livestock': 'Dairy Product'}, inplace=True)
germany_dairy_prod.reset_index(drop=True)

# german production crops
germany_crop_prod = germany_prod_pop.loc[germany_prod_pop['Crop_Livestock'].str.contains('meat', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('milk', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('offals', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('fat', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('hides', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('wool', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('sheep', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('cream', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('egg', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('lard', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('butter', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('cheese', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('oil', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('skin', case=False) == False]

germany_crop_prod.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
germany_crop_prod.reset_index(drop=True)

In [ ]:
# check Meat Type values are what we want for analysis
germany_meat_prod['Meat Type'].unique()

In [ ]:
# remove any items we dont want 
germany_meat_prod = germany_meat_prod.loc[germany_meat_prod['Meat Type'] != 'Meat nes']
germany_meat_prod = germany_meat_prod.loc[germany_meat_prod['Meat Type'] != 'Meat, Total']

In [ ]:
germany_dairy_prod['Dairy Product'].unique()

In [ ]:
germany_dairy_prod = germany_dairy_prod.loc[germany_dairy_prod['Dairy Product'] != 'Milk, Total']
germany_dairy_prod = germany_dairy_prod.loc[germany_dairy_prod['Dairy Product'] != 'Evaporat&Condensed Milk']

In [ ]:
germany_crop_prod['Crop'].unique()

In [ ]:
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Vegetables, fresh nes']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Fruit, fresh nes']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Cereals, Total']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Fruit Primary']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Vegetables Primary']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Margarine, short']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Cereals nes']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Pulses, Total']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Roots and Tubers, Total']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Sugar Crops Primary']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Vegetables, leguminous nes']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Leeks, other alliaceous vegetables']
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop'] != 'Berries nes']

In [ ]:
# Rename 2015 Columns
# dcc_2015_ff.rename(columns={' O_Connell_St_Outside_Clerys': 'OConnell_St_Clerys'}, inplace=True)

### Germany Prodcuction Visualisations

In [ ]:
plotprodvisuals(germany_meat_prod, 'Meat Type', 'Germany')
plotprodvisuals(germany_dairy_prod, 'Dairy Product', 'Germany')
plotprodvisuals(germany_crop_prod, 'Crop', 'Germany')

In [ ]:
plotprodvisualsii(germany_meat_prod, "Meat Type", 10000, 6000000, 'Germany', 'Top ');
plotprodvisualsii(germany_meat_prod, "Meat Type",  0, 100000, 'Germany', 'Other ');

In [ ]:
plotprodvisualsii(germany_dairy_prod, "Dairy Product", 5000000, 35000000, 'Germany', 'Top ');
plotprodvisualsii(germany_dairy_prod, "Dairy Product",  0, 1500000, 'Germany', 'Other ');

In [ ]:
plotprodvisualsii(germany_crop_prod, "Crop", 5000000, 40000000, 'Germany', 'Top ');
plotprodvisualsii(germany_crop_prod, "Crop",  0, 5000000, 'Germany', 'Other ');
plotprodbar(germany_crop_prod, "Crop",'Germany');

## Germany Trade Datasets

In [ ]:
# create german dataset
germany_trade = europe_trade_df.loc[europe_trade_df['Country']=='Germany']

# german import/ export datasets - all products (crop, meat, livestock)
germany_imports = germany_trade.loc[germany_trade['Element']=='Import Quantity']
germany_exports = germany_trade.loc[germany_trade['Element']=='Export Quantity']

# rename Value Columns 
germany_imports.rename(columns={'Value': 'Import Quantity'}, inplace=True)
germany_exports.rename(columns={'Value': 'Export Quantity'}, inplace=True)
germany_exports.rename(columns={'Unit': 'Export Unit'}, inplace=True)
germany_imports.rename(columns={'Unit': 'Import Unit'}, inplace=True)

#reset index
germany_imports.reset_index(drop=True, inplace=True)
germany_exports.reset_index(drop=True, inplace=True)

In [ ]:
germany_imports.head()
germany_exports.head()

In [ ]:
germany_imports.shape
germany_exports.shape

## Merge Germany Trade & Production

In [ ]:
# merge population data. 
germany_add_exports = pd.merge(germany_prod_pop, germany_exports, how="left", on = ["Crop_Livestock", "Year"])

In [ ]:
germany_add_exports.head()
germany_add_exports.shape

In [ ]:
# merge data. 
germany_df = pd.merge(germany_add_exports, germany_imports, how="outer", on = ["Crop_Livestock", "Year"])

# merge population data. Outer merge so no data is lost 

germany_df = pd.merge(germany_df, germany_pop, how="outer", on = ["Year"])
germany_df.head()

#ireland_add_imvals = pd.merge(ireland_add_exports, ireland_imports_val, how="outer", on = ["Crop_Livestock", "Year"])
#ireland_df = pd.merge(ireland_add_imvals, ireland_exports_val, how="outer", on = ["Crop_Livestock", "Year"])

In [ ]:
germany_df.columns

In [ ]:
# drop duplicate / unnecessary columns
ger_to_drop = ['Element_x', 'Country_x', 'Element_y', 'Country_y', 'Element', 'Population_Germany_x']
germany_df = germany_df.drop(ger_to_drop, axis = 1)

# rename columns to include unit
germany_df.rename(columns={'Population_Germany_y' : 'Population_Germany'}, inplace=True)

#reorder columns 
ger_columns = ['Prod Country', 'Crop_Livestock', 'Year', 'Production Unit',  'Production Value', 'Import Unit', 'Import Quantity', 'Export Unit', 'Export Quantity',  'Population_Germany']
germany_df = germany_df.reindex(columns=ger_columns)

# check dataset
germany_df.head(100)

In [ ]:
# number of missing values 
germany_df.isnull().sum()

In [ ]:
#check the amount of 0's in each column
germany_df_sparse = (germany_df == 0).sum()
germany_df_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
germany_df['Prod Country'].replace(to_replace = np.nan, value = 'Germany', inplace=True)

# first will replace 0 values with NaNs  
germany_df.replace(to_replace = np.nan, value = 0, inplace=True)

# check if we have any NaN values in our dataset
germany_df.isnull().sum()

In [ ]:
germany_df_sparse

In [ ]:
# cast value as int 
germany_df['Production Value'] = germany_df['Production Value'].astype('int')
germany_df['Import Quantity'] = germany_df['Import Quantity'].astype('int')
germany_df['Export Quantity'] = germany_df['Export Quantity'].astype('int')
germany_df['Population_Germany'] = germany_df['Population_Germany'].astype('int')

In [ ]:
germany_df['Crop_Livestock'].unique()

In [ ]:
# replace items with differeng names across datasets 
germany_df.replace(to_replace = 'Meat, beef, preparations', value = 'Meat, beef' , inplace=True)
germany_df.replace(to_replace = 'Beef and Buffalo Meat', value = 'Meat, beef' , inplace=True)
germany_df.replace(to_replace = 'Meat, cattle, boneless (beef & veal)', value = 'Meat, beef' , inplace=True)
germany_df.replace(to_replace = 'Meat, cattle', value = 'Meat, beef' , inplace=True)
germany_df.replace(to_replace = 'Pigmeat', value = 'Meat, pig' , inplace=True)
germany_df.replace(to_replace = 'Meat, pig, preparations', value = 'Meat, pig' , inplace=True)
germany_df.replace(to_replace = 'Bovine Meat', value = 'Meat, beef' , inplace=True)
germany_df.replace(to_replace = 'Meat, goose and guinea fowl', value = 'Meat, goose' , inplace=True)
germany_df.replace(to_replace = 'Almonds, with shell', value = 'Almonds' , inplace=True)
germany_df.replace(to_replace = 'Almonds shelled', value = 'Almonds' , inplace=True)
germany_df.replace(to_replace = 'Hazelnuts, with shell', value = 'Hazelnuts' , inplace=True)
germany_df.replace(to_replace = 'Hazelnuts, shelled', value = 'Hazelnuts' , inplace=True)
germany_df.replace(to_replace = 'Cashew nuts, with shell', value = 'Cashew nuts' , inplace=True)
germany_df.replace(to_replace = 'Cashew nuts, shelled', value = 'Cashew nuts' , inplace=True)
germany_df.replace(to_replace = 'Oats rolled', value = 'Oats' , inplace=True)

## Feature Engineering - Germany Consumption

In [ ]:
germany_df['Consumption'] = (germany_df['Production Value'] + germany_df['Import Quantity']) - germany_df['Export Quantity']

In [ ]:
germany_df.head()

## Germany Meat/ Dairy/ Crop Datasets

In [ ]:
# german production meat products
germany_meat = germany_df.loc[germany_df['Crop_Livestock'].str.contains('meat', case=False)]
germany_meat.rename(columns={'Crop_Livestock': 'Meat_Type'}, inplace=True)
germany_meat.reset_index(drop=True)

# german production dairy products
germany_dairy = germany_df.loc[germany_df['Crop_Livestock'].str.contains('milk|cream', case=False)]
germany_dairy.rename(columns={'Crop_Livestock': 'Dairy_Product'}, inplace=True)
germany_dairy.reset_index(drop=True)

# german production crops
germany_crop = germany_df.loc[germany_df['Crop_Livestock'].str.contains('total|chickpea|soy|almond|oat|hazelnut|cashew|tofu|avocado|mushroom|hemp|flax|chia|seaweed|yeast|quinoa|primary', case=False)]
germany_crop = germany_crop.loc[germany_crop['Crop_Livestock'].str.contains('meat|milk|offal|fat|hide|wool|sheep|cream|egg|lard|butter|cheese|oil|skin|goat|rice|juice|other|paste|sauce|canned|cake|frozen|nes|confectionery|oil|broken|waste|equivalent|tow', case=False) == False]
germany_crop.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
germany_crop.reset_index(drop=True)

In [ ]:
germany_crop['Crop'].unique()

In [ ]:
# check Meat Type values are what we want for analysis
germany_meat['Meat_Type'].unique()

In [ ]:
germany_meat = germany_meat.loc[germany_meat['Meat_Type'].str.contains('nes|total|poultry|other|canned', case=False) == False]
germany_meat = germany_meat.loc[germany_meat['Meat_Type'].str.contains('Sheep and Goat Meat', case=False) == False]

In [ ]:
germany_dairy['Dairy_Product'].unique()

In [ ]:
germany_dairy = germany_dairy.loc[germany_dairy['Dairy_Product'] != 'Evaporat&Condensed Milk']
germany_dairy = germany_dairy.loc[germany_dairy['Dairy_Product'] != 'Buttermilk, curdled, acidified milk']
germany_dairy = germany_dairy.loc[germany_dairy['Dairy_Product'] != 'Ice cream and edible ice']
germany_dairy = germany_dairy.loc[germany_dairy['Dairy_Product'] != 'Skim Milk&Buttermilk,Dry']
germany_dairy = germany_dairy.loc[germany_dairy['Dairy_Product'].str.contains('total|nes', case=False) == False]

### Descriptive Statistics per product type for all years

In [ ]:
# for all meat products 1961-2019
germany_meat.describe()

# for all dairy products 1961-2019
germany_dairy.describe()

# for all crops 1961-2019
germany_crop.describe()

### Germany Visualisations

In [ ]:
germany_meat_list = germany_meat['Meat_Type'].unique()
germany_dairy_list = germany_dairy['Dairy_Product'].unique()
germany_crop_list = germany_crop['Crop'].unique()

#### Meat

In [ ]:
# germany meat visuals 
plotlinegraphs(germany_meat, 'Meat_Type', 'Germany ', 'Population_Germany', germany_meat_list)
plotfigures(germany_meat, 'Meat_Type', 'Germany ');

In [ ]:
# germany meat visuals more detail
plotlinegraphsii(germany_meat, 'Meat_Type',  400000, 2500000, 'Germany ', 'Population_Germany', germany_meat_list, 'Top ')
plotlinegraphsii(germany_meat, 'Meat_Type',  0, 400000, 'Germany ', 'Population_Germany', germany_meat_list, 'Other ')

#### Dairy

In [ ]:
# germany dairy visuals 
plotlinegraphs(germany_dairy, 'Dairy_Product', 'Germany ', 'Population_Germany', germany_dairy_list)
plotfigures(germany_dairy, 'Dairy_Product', 'Germany ');

In [ ]:
# germany dairy visuals more detail
plotlinegraphsii(germany_dairy, 'Dairy_Product', 10000000, 36000000, 'Germany ', 'Population_Germany', germany_dairy_list, 'Top ')
plotlinegraphsii(germany_dairy, 'Dairy_Product', 0, 1600000, 'Germany ', 'Population_Germany', germany_dairy_list, 'Other ')

#### Crops

In [ ]:
# germany crop visuals
plotlinegraphs(germany_crop, 'Crop', 'Germany ', 'Population_Germany', germany_crop_list)
plotfigures(germany_crop, 'Crop', 'Germany ');

In [ ]:
# germany crop visuals more detail
plotlinegraphsii(germany_crop, 'Crop', 8000000, 55000000, 'Germany ', 'Population_Germany',  germany_crop_list, 'Top ')
plotlinegraphsii(germany_crop, 'Crop', 0, 8000000, 'Germany ', 'Population_Germany',  germany_crop_list, 'Mid ')
plotlinegraphsii(germany_crop, 'Crop', 0, 100000, 'Germany ', 'Population_Germany',  germany_crop_list, 'Smaller ')

### Germany Production Pivot Table

In [ ]:
#germany as a pivot table to see poduct values per year

germany_meat_table = pd.pivot_table(germany_meat, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Meat_Type'], aggfunc=np.sum, fill_value=0)


germany_dairy_table = pd.pivot_table(germany_dairy, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Dairy_Product'], aggfunc=np.sum, fill_value=0)


germany_crop_table = pd.pivot_table(germany_crop, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Crop'], aggfunc=np.sum, fill_value=0)

In [ ]:
germany_meat_table
germany_dairy_table
germany_crop_table

### Descriptive Statistics per product for all years

In [ ]:
germany_meat_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))
germany_dairy_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))
germany_crop_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=germany_meat_table, orient='h', palette='Reds_r');

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=germany_dairy_table, orient='h', palette='BuPu_r');

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=germany_crop_table, orient='h', palette='summer_r');

## AUSTRALIA

## Australia Production Datasets

In [ ]:
# create australian dataset
oz_df = oceania_df.loc[oceania_df['Country']=='Australia']

# australian production dataset - all products (crop, meat, livestock)
oz_prod = oz_df.loc[oz_df['Element']=='Production']

# rename columns
oz_prod.rename(columns={'Country': 'Prod Country', 'Unit': 'Production Unit', 'Value': 'Production Value' }, inplace=True)

#reset index
oz_prod.reset_index(drop=True, inplace=True)

oz_prod

### Australia Production - Add Population

In [ ]:
# merge population data. Outer merge so no data is lost 
oz_prod_pop = pd.merge(oz_prod, aus_pop, how="outer", on = ["Year"])
oz_prod_pop.head()

In [ ]:
oz_prod_pop.shape

### Australia Production Analysis

In [ ]:
# australian production meat products
oz_meat_prod = oz_prod_pop.loc[oz_prod_pop['Crop_Livestock'].str.contains('meat', case=False)]
oz_meat_prod.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
oz_meat_prod.reset_index(drop=True)

# australian production dairy products
oz_dairy_prod = oz_prod_pop.loc[oz_prod_pop['Crop_Livestock'].str.contains('milk', case=False)]
oz_dairy_prod.rename(columns={'Crop_Livestock': 'Dairy Product'}, inplace=True)
oz_dairy_prod.reset_index(drop=True)

# australian production crops
oz_crop_prod = oz_prod_pop.loc[oz_prod_pop['Crop_Livestock'].str.contains('meat', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('milk', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('offals', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('fat', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('hides', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('wool', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('sheep', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('cream', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('egg', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('lard', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('butter', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('cheese', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('oil', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('skin', case=False) == False]
oz_crop_prod.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
oz_crop_prod.reset_index(drop=True)

In [ ]:
# check Meat Type values are what we want for analysis
oz_meat_prod['Meat Type'].unique()

In [ ]:
# remove any items we dont want 
oz_meat_prod = oz_meat_prod.loc[oz_meat_prod['Meat Type'] != 'Meat nes']
oz_meat_prod = oz_meat_prod.loc[oz_meat_prod['Meat Type'] != 'Meat, Total']

In [ ]:
oz_dairy_prod['Dairy Product'].unique()

In [ ]:
oz_dairy_prod = oz_dairy_prod.loc[oz_dairy_prod['Dairy Product'] != 'Milk, Total']
oz_dairy_prod = oz_dairy_prod.loc[oz_dairy_prod['Dairy Product'] != 'Evaporat&Condensed Milk']

In [ ]:
oz_crop_prod['Crop'].unique()

In [ ]:
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Vegetables, fresh nes']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Fruit, fresh nes']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Cereals, Total']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Fruit Primary']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Vegetables Primary']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Margarine, short']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Cereals nes']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Pulses, Total']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Roots and Tubers, Total']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Sugar Crops Primary']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Vegetables, leguminous nes']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Leeks, other alliaceous vegetables']
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop'] != 'Berries nes']

### Australia Production Visualisations

In [ ]:
plotprodvisuals(oz_meat_prod, 'Meat Type', 'Australia')
plotprodvisuals(oz_dairy_prod, 'Dairy Product', 'Australia')
plotprodvisuals(oz_crop_prod, 'Crop', 'Australia')

In [ ]:
plotprodvisualsii(oz_meat_prod, "Meat Type", 10000, 6000000, 'Australia', 'Top ');
plotprodvisualsii(oz_meat_prod, "Meat Type",  0, 100000, 'Australia', 'Other ');

In [ ]:
plotprodvisualsii(oz_dairy_prod, "Dairy Product", 5000000, 35000000, 'Australia', 'Top ');
plotprodvisualsii(oz_dairy_prod, "Dairy Product",  0, 1500000, 'Germany', 'Other ');

In [ ]:
plotprodvisualsii(oz_crop_prod, "Crop", 5000000, 40000000, 'Australia', 'Top ');
plotprodvisualsii(oz_crop_prod, "Crop",  0, 5000000, 'Australia', 'Other ');
plotprodbar(oz_crop_prod, "Crop",'Australia');

## Australia Trade Datasets

In [ ]:
# create australian dataset
oz_trade = oceania_trade_df.loc[oceania_trade_df['Country']=='Australia']

# australian import/ export datasets - all products (crop, meat, livestock)
oz_imports = oz_trade.loc[oz_trade['Element']=='Import Quantity']
oz_exports = oz_trade.loc[oz_trade['Element']=='Export Quantity']

# rename Value Columns 
oz_imports.rename(columns={'Value': 'Import Quantity'}, inplace=True)
oz_exports.rename(columns={'Value': 'Export Quantity'}, inplace=True)
oz_exports.rename(columns={'Unit': 'Export Unit'}, inplace=True)
oz_imports.rename(columns={'Unit': 'Import Unit'}, inplace=True)

#reset index
oz_imports.reset_index(drop=True, inplace=True)
oz_exports.reset_index(drop=True, inplace=True)

In [ ]:
# merge population data. Outer merge so no data is lost 
oz_imports = pd.merge(oz_imports, aus_pop, how="outer", on = ["Year"])
oz_exports = pd.merge(oz_exports, aus_pop, how="outer", on = ["Year"])

oz_imports.head()
oz_exports.head()

In [ ]:
oz_imports.shape
oz_exports.shape

## Merge Australia Trade & Production

In [ ]:
# merge population data. 
oz_add_exports = pd.merge(oz_prod_pop, oz_exports, how="left", on = ["Crop_Livestock", "Year"])

In [ ]:
oz_add_exports.head()
oz_add_exports.shape

In [ ]:
# drop duplicate / unnecessary columns
oz_to_drop = ['Element_x', 'Country', 'Element_y', 'Population_Australia_y']
oz_add_exports = oz_add_exports.drop(oz_to_drop, axis = 1)

# merge data. 
oz_df = pd.merge(oz_add_exports, oz_imports, how="outer", on = ["Crop_Livestock", "Year"])

# merge population data. Outer merge so no data is lost 
oz_df = pd.merge(oz_df, aus_pop, how="outer", on = ["Year"])
oz_df.head()

In [ ]:
oz_df.columns

In [ ]:
# drop duplicate / unnecessary columns
oz_to_drop = ['Element', 'Country', 'Population_Australia_x']
oz_df = oz_df.drop(oz_to_drop, axis = 1)

# rename columns to include unit
oz_df.rename(columns={'Population_Australia_y' : 'Population_Australia'}, inplace=True)

#reorder columns 
oz_columns = ['Prod Country', 'Crop_Livestock', 'Year', 'Production Unit',  'Production Value', 'Import Unit', 'Import Quantity', 'Export Unit', 'Export Quantity',  'Population_Australia']
oz_df = oz_df.reindex(columns=oz_columns)

# check dataset
oz_df.head(100)

In [ ]:
# number of missing values 
oz_df.isnull().sum()

In [ ]:
#check the amount of 0's in each column
oz_df_sparse = (oz_df == 0).sum()
oz_df_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
oz_df['Prod Country'].replace(to_replace = np.nan, value = 'Australia', inplace=True)

# first will replace 0 values with NaNs  
oz_df.replace(to_replace = np.nan, value = 0, inplace=True)

# check if we have any NaN values in our dataset
oz_df.isnull().sum()

In [ ]:
oz_df_sparse

In [ ]:
# cast value as int 
oz_df['Production Value'] = oz_df['Production Value'].astype('int')
oz_df['Import Quantity'] = oz_df['Import Quantity'].astype('int')
oz_df['Export Quantity'] = oz_df['Export Quantity'].astype('int')
oz_df['Population_Australia'] = oz_df['Population_Australia'].astype('int')

In [ ]:
oz_df['Crop_Livestock'].unique()

In [ ]:
# replace items with differeng names across datasets 
oz_df.replace(to_replace = 'Meat, beef, preparations', value = 'Meat, beef' , inplace=True)
oz_df.replace(to_replace = 'Beef and Buffalo Meat', value = 'Meat, beef' , inplace=True)
oz_df.replace(to_replace = 'Meat, cattle, boneless (beef & veal)', value = 'Meat, beef' , inplace=True)
oz_df.replace(to_replace = 'Meat, cattle', value = 'Meat, beef' , inplace=True)
oz_df.replace(to_replace = 'Pigmeat', value = 'Meat, pig' , inplace=True)
oz_df.replace(to_replace = 'Meat, pig, preparations', value = 'Meat, pig' , inplace=True)
oz_df.replace(to_replace = 'Bovine Meat', value = 'Meat, beef' , inplace=True)
oz_df.replace(to_replace = 'Meat, goose and guinea fowl', value = 'Meat, goose' , inplace=True)
oz_df.replace(to_replace = 'Almonds, with shell', value = 'Almonds' , inplace=True)
oz_df.replace(to_replace = 'Almonds shelled', value = 'Almonds' , inplace=True)
oz_df.replace(to_replace = 'Hazelnuts, with shell', value = 'Hazelnuts' , inplace=True)
oz_df.replace(to_replace = 'Hazelnuts, shelled', value = 'Hazelnuts' , inplace=True)
oz_df.replace(to_replace = 'Cashew nuts, with shell', value = 'Cashew nuts' , inplace=True)
oz_df.replace(to_replace = 'Cashew nuts, shelled', value = 'Cashew nuts' , inplace=True)
oz_df.replace(to_replace = 'Oats rolled', value = 'Oats' , inplace=True)

## Feature Engineering - Australia Consumption

In [ ]:
oz_df['Consumption'] = (oz_df['Production Value'] + oz_df['Import Quantity']) - oz_df['Export Quantity']

In [ ]:
oz_df.head()

## Australia Meat/ Dairy/ Crop Datasets

In [ ]:
# Aus production meat products
oz_meat = oz_df.loc[oz_df['Crop_Livestock'].str.contains('meat', case=False)]
oz_meat = oz_meat.loc[oz_meat['Crop_Livestock'].str.contains('nes|total|poultry|other|canned', case=False) == False]
oz_meat.rename(columns={'Crop_Livestock': 'Meat_Type'}, inplace=True)
oz_meat.reset_index(drop=True)

# Aus production dairy products
oz_dairy = oz_df.loc[oz_df['Crop_Livestock'].str.contains('milk|cream', case=False)]
oz_dairy.rename(columns={'Crop_Livestock': 'Dairy_Product'}, inplace=True)
oz_dairy.reset_index(drop=True)

# Aus production crops
oz_crop = oz_df.loc[oz_df['Crop_Livestock'].str.contains('total|chickpea|soy|almond|oat|hazelnut|cashew|tofu|avocado|mushroom|hemp|flax|chia|seaweed|yeast|quinoa|primary', case=False)]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('meat|milk|offal|fat|hide|wool|sheep|cream|egg|lard|butter|cheese|oil|skin|goat|rice|juice|other|paste|sauce|canned|cake|frozen|nes|confectionery|oil|broken|waste|equivalent|tow', case=False) == False]
oz_crop.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
oz_crop.reset_index(drop=True)

In [ ]:
oz_crop['Crop'].unique()

In [ ]:
# check Meat Type values are what we want for analysis
oz_meat['Meat_Type'].unique()

In [ ]:

oz_meat = oz_meat.loc[oz_meat['Meat_Type'].str.contains('Sheep and Goat Meat', case=False) == False]

In [ ]:
oz_dairy['Dairy_Product'].unique()

In [ ]:
oz_dairy = oz_dairy.loc[oz_dairy['Dairy_Product'] != 'Evaporat&Condensed Milk']
oz_dairy = oz_dairy.loc[oz_dairy['Dairy_Product'] != 'Buttermilk, curdled, acidified milk']
oz_dairy = oz_dairy.loc[oz_dairy['Dairy_Product'] != 'Ice cream and edible ice']
oz_dairy = oz_dairy.loc[oz_dairy['Dairy_Product'] != 'Skim Milk&Buttermilk,Dry']
oz_dairy = oz_dairy.loc[oz_dairy['Dairy_Product'] != 'Ghee, butteroil of cow milk']
oz_dairy = oz_dairy.loc[oz_dairy['Dairy_Product'].str.contains('total|nes', case=False) == False]

### Descriptive statistics per product type for all years

In [ ]:
# for all meat products 1961-2019
oz_meat.describe()

# for all dairy products 1961-2019
oz_dairy.describe()

# for all crops 1961-2019
oz_crop.describe()

### Australia Visualisations

The below visualisations highlight the following observations:

In [ ]:
oz_meat_list = oz_meat['Meat_Type'].unique()
oz_dairy_list = oz_dairy['Dairy_Product'].unique()
oz_crop_list = oz_crop['Crop'].unique()

#### Meat

In [ ]:
# oz meat visuals
plotlinegraphs(oz_meat, 'Meat_Type', 'Australia ', 'Population_Australia', oz_meat_list)
plotfigures(oz_meat, 'Meat_Type', 'Australia ');

In [ ]:
# oz meat visuals more detail 
plotlinegraphsii(oz_meat, 'Meat_Type', 35000, 1350000, 'Australia ', 'Population_Australia', oz_meat_list, 'Top ')
plotlinegraphsii(oz_meat, 'Meat_Type', 0, 35000, 'Australia ', 'Population_Australia', oz_meat_list,  'Other ')

#### Dairy

In [ ]:
# oz dairy visuals
plotlinegraphs(oz_dairy, 'Dairy_Product', 'Australia ', 'Population_Australia', oz_dairy_list)
plotfigures(oz_dairy, 'Dairy_Product', 'Australia ');

In [ ]:
# oz dairy visuals more detail 
plotlinegraphsii(oz_dairy, 'Dairy_Product', 400000, 12000000, 'Australia ', 'Population_Australia', oz_dairy_list, 'Top ')
plotlinegraphsii(oz_dairy, 'Dairy_Product', 0, 400000, 'Australia ', 'Population_Australia', oz_dairy_list,  'Other ')

#### Crops

In [ ]:
# oz crops visual
plotlinegraphs(oz_crop, 'Crop', 'Australia ', 'Population_Australia', oz_crop_list)
plotfigures(oz_crop, 'Crop', 'Australia ');

In [ ]:
# oz crops visuals more detail 
plotlinegraphsii(oz_crop, 'Crop', 10000000, 50000000, 'Australia ', 'Population_Australia', oz_crop_list, 'Top ')
plotlinegraphsii(oz_crop, 'Crop', 0, 5000000, 'Australia ', 'Population_Australia', oz_crop_list, 'Mid ')
plotlinegraphsii(oz_crop, 'Crop', 0, 250000, 'Australia ', 'Population_Australia', oz_crop_list, 'Smaller ')

### Australia Production Pivot Table

In [ ]:
#germany as a pivot table to see poduct values per year

oz_meat_table = pd.pivot_table(oz_meat, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Meat_Type'], aggfunc=np.sum, fill_value=0)


oz_dairy_table = pd.pivot_table(oz_dairy, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Dairy_Product'], aggfunc=np.sum, fill_value=0)


oz_crop_table = pd.pivot_table(oz_crop, values='Production Value', index=['Prod Country', 'Year'],
                    columns=['Crop'], aggfunc=np.sum, fill_value=0)

In [ ]:
oz_meat_table
oz_dairy_table
oz_crop_table

### Descriptive Statistics per product for all years

In [ ]:
oz_meat_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))
oz_dairy_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))
oz_crop_table.describe().apply(lambda s: s.apply('{0:.2f}'.format))

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=oz_meat_table, orient='h', palette='Reds_r');

In [ ]:
plt.figure(figsize=[15, 10])
sns.boxplot(data=oz_dairy_table, orient='h', palette='BuPu_r');

In [ ]:
plt.figure(figsize=[15, 40])
sns.boxplot(data=oz_crop_table, orient='h', palette='summer_r');

##  Inferential Statistics

In order to compare like for like between countries, per capita datasets must be prepared. This will be done by dividing each of the relevant columns by the country population to get per capita amounts for production/ imports/ expports and consumption for analysis.

In [ ]:
ireland_meat_pc = ireland_meat
ireland_dairy_pc = ireland_dairy
ireland_crop_pc = ireland_crop
germany_meat_pc = germany_meat
germany_dairy_pc = germany_dairy
germany_crop_pc = germany_crop
oz_meat_pc = oz_meat
oz_dairy_pc = oz_dairy
oz_crop_pc = oz_crop

dropvalue = ['Prod Country', 'Production Unit','Production Value', 
             'Import Unit', 'Import Quantity', 'Export Unit','Export Quantity', 'Consumption']

In [ ]:
def percapita(dataset, popvalue):
    dataset['Prod_PerCap'] = (dataset['Production Value'] / dataset[popvalue])
    dataset['Import_PerCap'] = (dataset['Import Quantity'] / dataset[popvalue])
    dataset['Export_PerCap'] = (dataset['Export Quantity'] / dataset[popvalue])
    dataset['Consumption_PerCap'] = (dataset['Consumption'] / dataset[popvalue])
    dataset.drop(dropvalue, axis = 1, inplace=True)
    dataset.reset_index(drop=True, inplace=True)

In [ ]:
percapita(ireland_meat_pc, 'Population_Ireland')
percapita(ireland_dairy_pc, 'Population_Ireland')
percapita(ireland_crop_pc, 'Population_Ireland')

percapita(germany_meat_pc, 'Population_Germany')
percapita(germany_dairy_pc, 'Population_Germany')
percapita(germany_crop_pc, 'Population_Germany')

percapita(oz_meat_pc, 'Population_Australia')
percapita(oz_dairy_pc, 'Population_Australia')
percapita(oz_crop_pc, 'Population_Australia')

germany_meat_pc.head()

In [ ]:
ireland_meat_pc.columns

On average:

Ireland/ Germany/ Australia on average produce the same amount of meat products per capita 
Ireland/ Germany/ Australia on average import the same amount of meat products per capita 
Ireland/ Germany/ Australia on average export the same amount of meat products per capita 
Ireland/ Germany/ Australia on average consume the same amount of meat products per capita 

Ireland/ Germany/ Australia on average produce the same amount of dairy products per capita 
Ireland/ Germany/ Australia on average import the same amount of dairy products per capita 
Ireland/ Germany/ Australia on average export the same amount of dairy products per capita 
Ireland/ Germany/ Australia on average consume the same amount of dairy products per capita 

Ireland/ Germany/ Australia on average produce the same amount of dairy products per capita 
Ireland/ Germany/ Australia on average import the same amount of dairy products per capita 
Ireland/ Germany/ Australia on average export the same amount of dairy products per capita 
Ireland/ Germany/ Australia on average consume the same amount of dairy products per capita 

Anova / Kruskal Wallis

# Old Code

In [ ]:
xxxx

In [ ]:
#ireland dairy / milk alternative analysis
ireland_df2 = ireland_df.loc[ireland_df['Crop_Livestock'].str.contains('butter|cheese|milk|soy|almond|oat|hazelnut|cashew|treenut|quinoa', case=False)]
ireland_df2 = ireland_df2.loc[ireland_df2['Crop_Livestock'].str.contains('dried|condensed|evaporated|ghee|kind|total|sheep|dry|cake|cocoa|oil|goat|nes|sauce|peanut|processed|curdled', case=False) == False]
ireland_df2.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
ireland_df2.reset_index(drop=True, inplace=True)

#germany dairy / milk alternative analysis
germany_df2 = germany_df.loc[germany_df['Crop_Livestock'].str.contains('butter|cheese|milk|soy|almond|oat|hazelnut|cashew|treenut|quinoa', case=False)]
germany_df2 = germany_df2.loc[germany_df2['Crop_Livestock'].str.contains('dried|condensed|evaporated|ghee|kind|total|sheep|dry|cake|cocoa|oil|goat|nes|sauce|peanut|processed|curdled', case=False) == False]
germany_df2.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
germany_df2.reset_index(drop=True, inplace=True)

#aus dairy / milk alternative analysis
oz_df2 = oz_df.loc[oz_df['Crop_Livestock'].str.contains('butter|cheese|milk|soy|almond|oat|hazelnut|cashew|treenut|quinoa', case=False)]
oz_df2 = oz_df2.loc[oz_df2['Crop_Livestock'].str.contains('dried|condensed|evaporated|ghee|kind|total|sheep|dry|cake|cocoa|oil|goat|nes|sauce|peanut|processed|curdled', case=False) == False]
oz_df2.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
oz_df2.reset_index(drop=True, inplace=True)

In [ ]:
ireland_df_dairy = ireland_df2.loc[ireland_df2['Crop'].str.contains('milk', case=False)]
ireland_df_alt = ireland_df2.loc[ireland_df2['Crop'].str.contains('soy|almond|oat|hazelnut|cashew|treenut|quinoa', case=False)]
ireland_df_dairy.reset_index(drop=True, inplace=True)
ireland_df_alt.reset_index(drop=True, inplace=True)

germany_df_dairy = germany_df2.loc[germany_df2['Crop'].str.contains('milk', case=False)]
germany_df_alt = germany_df2.loc[germany_df2['Crop'].str.contains('soy|almond|oat|hazelnut|cashew|treenut|quinoa', case=False)]
germany_df_dairy.reset_index(drop=True, inplace=True)
germany_df_alt.reset_index(drop=True, inplace=True)

oz_df_dairy = oz_df2.loc[oz_df2['Crop'].str.contains('milk', case=False)]
oz_df_alt = oz_df2.loc[oz_df2['Crop'].str.contains('soy|almond|oat|hazelnut|cashew|treenut|quinoa', case=False)]
oz_df_dairy.reset_index(drop=True, inplace=True)
oz_df_alt.reset_index(drop=True, inplace=True)

In [ ]:
plt.figure(figsize = (15,8))
sns.barplot(data=ireland_meat, x="Meat Type", y="Production Value")  
plt.xlabel('\nProduct', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('\nTop Ireland Production 1961-2019\n', fontsize=20)
plt.xticks(rotation = 85, fontsize=12);

plt.figure(figsize = (15,8))
sns.barplot(data=ireland_meat, x="Meat Type", y="Import Quantity")  
plt.xlabel('\nProduct', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('\nTop Ireland Meat Imports 1961-2019\n', fontsize=20)
plt.xticks(rotation = 85, fontsize=12);

plt.figure(figsize = (15,8))
sns.barplot(data=ireland_meat, x="Meat Type", y="Export Quantity")  
plt.xlabel('\nProduct', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('\nTop Ireland Meat Exports 1961-2019\n', fontsize=20)
plt.xticks(rotation = 85, fontsize=12);

plt.figure(figsize = (15,8))
sns.barplot(data=ireland_meat, x="Meat Type", y="Consumption")  
plt.xlabel('\nProduct', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('\nTop Ireland Meat Consumption 1961-2019\n', fontsize=20)
plt.xticks(rotation = 85, fontsize=12);

In [ ]:
features = ['Production Value', 'Import Quantity', 'Export Quantity', 'Consumption']

plt.figure(figsize = (15,30))
for i in enumerate(features):
    plt.subplot(4,1,i[0]+1)
    sns.barplot(data = ireland_meat, x = "Meat Type", y = i[1])
    plt.xticks(rotation = 40, fontsize=12)
    plt.xlabel('Product', fontsize=15) 
    plt.ylabel('Amount in Tonnes\n', fontsize=15)
    # https://stackoverflow.com/questions/35638525/how-to-add-title-to-subplots-with-loop
    # set the spacing between subplots 
    plt.subplots_adjust(left=None, bottom=None, right=None, top=0.9, wspace=None, hspace=0.8)
    # add title to include i value
    plt.title('\n Ireland ' + i[1] + ' for 1961-2019\n', fontsize=20)
plt.show();

In [ ]:
plt.figure(figsize = (12,8))
sns.lineplot(data=ireland_meat, x="Year", y="Production Value", hue="Meat_Type")  
plt.xlabel('\nYear', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('\nIreland Meat Production 1961-2019\n', fontsize=20)
plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
plt.xticks(rotation = 80);

plt.figure(figsize = (12,8))
sns.lineplot(data=ireland_meat, x="Year", y="Consumption", hue="Meat_Type")  
plt.xlabel('\nYear', fontsize=15) 
plt.ylabel('Tonnes Produced\n', fontsize=15)
plt.title ('\nIreland Meat Consumption 1961-2019\n', fontsize=20)
plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
plt.xticks(rotation = 80);

In [ ]:
line_values = ['Production Value', 'Consumption']

def plotlinegraphs(dataset, value, country, popvalue):
    plt.figure(figsize = (15,20))
    for i in enumerate(line_values):
        plt.subplot(2,1,i[0]+1)
        sns.lineplot(data= dataset, x="Year", y= i[1], hue= value )
        plt.xticks(rotation = 80, fontsize=12)
        plt.xlabel('\nYear', fontsize=15) 
        plt.ylabel('Amount in Tonnes\n', fontsize=15)
        plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
    # https://stackoverflow.com/questions/35638525/how-to-add-title-to-subplots-with-loop
    # set the spacing between subplots 
        plt.subplots_adjust(left=None, bottom=None, right=None, top=0.8, wspace=None, hspace=0.9)
    # add title to include i value
        plt.title('\n ' + country + i[1] + ' per ' + value + ' Vs Population for 1961-2019\n', fontsize=20)
        ax2 = plt.twinx()
        plt.ylabel('\nPopulation', fontsize=15)
        sns.lineplot(data=dataset, x="Year", y= popvalue, color ="r", 
                     label= 'Population', linestyle='dashdot', linewidth=3, ax=ax2)        
plt.show();

In [ ]:
plt.figure(figsize = (15,8))
sns.lineplot(data= ireland_dairy, x="Year", y= 'Consumption', hue= 'Dairy_Product') 
plt.xticks(rotation = 80, fontsize=12)
plt.xlabel('\nYear', fontsize=15) 
plt.ylabel('Amount in Tonnes\n', fontsize=15)
plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))   
plt.subplots_adjust(left=None, bottom=None, right=None, top=0.8, wspace=None, hspace=0.9)   
plt.title('\n Title\n', fontsize=20)

ax2 = plt.twinx()
plt.ylabel('\nPopulation', fontsize=15)
sns.lineplot(data=ireland_dairy, x="Year", y= 'Population_Ireland', color ="r", 
                     label= 'Population', linestyle='dashdot', linewidth=2, ax=ax2)     
plt.show();

In [ ]:
dataframe['LogValue'] = np.log10(dataframe['Value'])

In [ ]:
#man whitney 

def manw(df):
    '''This function takes a dataframe as input, loops through all the countries
    in the dfcolumns and does a mann whitney versus Irelands data'''
    for country in df.iloc[:,:]:
        if country != "Ireland":
            result = mannwhitneyu(df.Ireland, df[country])
            if result.pvalue <= 0.05:
                print(f"The p-value for Ireland vs {country} is {result.pvalue}, the null hypothesis is rejected")
                print(f"round{result}\n")
            else:
                print(f"The p-value for Ireland vs {country} is {result.pvalue}, the null hypothesis is accepted")
                print(f"{result}\n")

In [ ]:
oz_crop = oz_df.loc[oz_df['Crop_Livestock'].str.contains('meat', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('milk', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('offals', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('fat', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('hides', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('wool', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('sheep', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('cream', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('egg', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('lard', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('butter', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('cheese', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('oil', case=False) == False]
oz_crop = oz_crop.loc[oz_crop['Crop_Livestock'].str.contains('skin', case=False) == False]

In [ ]:
# function 1 - Line graphs for production / consumption Vs Population throughout years

# set the spacing between subplots /  # add title to include i value
# https://stackoverflow.com/questions/35638525/how-to-add-title-to-subplots-with-loop

## add annotation for lines in line graph
# https://stackoverflow.com/questions/49237522/how-to-annotate-end-of-lines-using-python-and-matplotlib
#https://matplotlib.org/3.5.0/api/_as_gen/matplotlib.axes.Axes.annotate.html



line_values = ['Production Value', 'Consumption']

def plotlinegraphs(dataset, value, country, popvalue):
    plt.figure(figsize = (15,20))
    for i in enumerate(line_values):
        plt.subplot(2,1,i[0]+1)
        sns.lineplot(data= dataset, x="Year", y= i[1], hue= value, ci=None )
        plt.xticks(rotation = 80, fontsize=12)
        plt.xlabel('\nYear', fontsize=15) 
        plt.ylabel('Amount in Tonnes\n', fontsize=15)
        plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
        plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
        plt.title('\n ' + country + i[1] + ' per ' + value + ' Vs Population for 1961-2019\n', fontsize=20)
        ax2 = plt.twinx()
        plt.ylabel('\nPopulation', fontsize=15)
        sns.lineplot(data=dataset, x="Year", y= popvalue, color ="r", 
                     label= 'Population', linestyle='dashdot', linewidth=3, ax=ax2)        
plt.show();

In [ ]:
# # function 2 - Line graphs for production / consumption thrughout yearswhere max/ min values are required 

line_values = ['Production Value', 'Consumption']

def plotlinegraphsii(dataset, value, minx, maxx, country, popvalue, title):
    plt.figure(figsize = (15,20))
    for i in enumerate(line_values):
        plt.subplot(2,1,i[0]+1)
        sns.lineplot(data= dataset, x="Year", y= i[1], hue= value, ci=None )
        plt.ylim([minx, maxx])
        plt.xticks(rotation = 80, fontsize=12)
        plt.xlabel('\nYear', fontsize=15) 
        plt.ylabel('Amount in Tonnes\n', fontsize=15)
        plt.legend(prop = {'size': 10}, loc='best', bbox_to_anchor=(1.3, 1))
    # https://stackoverflow.com/questions/35638525/how-to-add-title-to-subplots-with-loop
    # set the spacing between subplots 
        plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    # add title to include i value
        plt.title('\n ' + country + i[1] + ' per ' + title + value + ' Vs Population for 1961-2019\n', fontsize=20)
        ax2 = plt.twinx()
        plt.ylabel('\nPopulation', fontsize=15)
        sns.lineplot(data=dataset, x="Year", y= popvalue, color ="r", 
                     label= 'Population', linestyle='dashdot', linewidth=3, ax=ax2)        
plt.show();