In [3]:
# pip install tweepy

In [88]:
# pip install -U textblob

Requirement already satisfied: textblob in c:\users\rhian\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\rhian\anaconda3\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\users\rhian\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\users\rhian\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\rhian\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\rhian\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\rhian\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

## Import Libraries

In [3]:
import tweepy

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

from textblob import TextBlob
import pandas as pd

import json
import csv
import re
import io

from nltk.stem import PorterStemmer 
st = PorterStemmer()
from textblob import Word

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rhian\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

#Enter your twitter credentials here
#Rhianne
consumer_key = "FksIiE6KS9Z2y1L3ycnIXxKhh"
consumer_secret = "4FYsVQC6Uu9LsVJe7OqhhKtuyc8Sp8k3rGm6cXeGWaMC1BTRbW"
access_token= "1516834013058584582-p8BftWFDGNSkfSADaNbmFDO8tSgjLA"
access_token_secret= "DNsMZV8cmOtfxTTzMM4cm48us5s3NJHmdgyrqS2qNvVGN"

## Import Tweets using Tweepy 

Create list for search words, ords. 

Pull all tweet data obtained from search_tweets into a json file and create tempory dataframe to store data.
https://developer.twitter.com/en/docs/twitter-api/v1/tweets/search/api-reference/get-search-tweets

Search user object to also include screen_name and locatin for tweewts
https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet

In [4]:
# Twitter credentials for project
consumer_key = "ATr3GPX2ECzzrQu1NWPSz1cpU"
consumer_secret = "VdUHLsnmPon7RDG5Y1IwTHCndg5kLTd4yBbZXUQ7q0sLS7yXK0"
access_token= "1516171293766389765-cZBHtFeMbwzupeYnOb5B142zNLHyb1"
access_token_secret= "lBCtCP0vCQwkUUIJFqzSTzepsXpbieqyJnVLeLhDOvWhz"

In [5]:
# Twitter authentication and the connection to Twitter Streaming API
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [6]:
# create list of words to search for in tweets
#https://docs.tweepy.org/en/stable/api.html
words = ['vegan produce', 'vegan', 'vegetarian', 'plant based', '@vegan', '@farm', '@farmer', 'meat free', 'dairy free', 'vegan farming' , 'milk alternative', 'meat alternative', 'meat replacement', 'vegan friendly']
train = pd.DataFrame()

In [11]:
# search only last 7 days of tweets
# https://developer.twitter.com/en/docs/twitter-api/v1/tweets/search/api-reference/get-search-tweets

for word in words:
    tweets = tweepy.Cursor(api.search_tweets, q=word+'-filter:retweets', lang='en', tweet_mode='extended').items(180)
    for tweet in tweets:
        temp = pd.DataFrame.from_dict(tweet._json, orient='index')
        temp = temp.T
        temp = temp[['created_at', 'id', 'full_text','lang']]
        temp.loc[:,'user'] = tweet._json['user']['screen_name']
        temp['User Location'] = tweet._json['user']['location']
        train= pd.concat([train, temp], axis=0)
train.reset_index(inplace=True, drop=True)

In [154]:
tweet._json.keys()

dict_keys(['created_at', 'id', 'id_str', 'full_text', 'truncated', 'display_text_range', 'entities', 'metadata', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'lang'])

In [162]:
tweet._json['user']['location']

'Los Angeles'

## Export to CSV

https://developer.twitter.com/en/docs/twitter-api/rate-limits

Tweepy API has limits on how many requests you can make every 15 mins. Tweepy also has a limit of 180 requests per user every 15 minutes so multiple exports are required. 

You also loose data every 15 mins once api times out. Export df to CSV each time you call api to avoid this and concat seperate dataframes into one.

In [8]:
#train.to_csv('sentiment_analysis1.csv', index=False)

In [167]:
#train.to_csv('sentiment_analysis2.csv', index=False)

In [13]:
#train.to_csv('sentiment_analysis3.csv', index=False)

In [164]:
train.to_csv('sentiment_analysis4.csv', index=False)

In [ ]:
#train.to_csv('sentiment_analysis5.csv', index=False)

In [14]:
# import datasets
df = pd.read_csv("sentiment_analysis1.csv")
df2 = pd.read_csv("sentiment_analysis2.csv")
df3 = pd.read_csv("sentiment_analysis3.csv")
df4 = pd.read_csv("sentiment_analysis4.csv")
#df5 = pd.read_csv("sentiment_analysis5.csv")

In [138]:
#combine datasets using concat
concat1 = pd.concat([df, df2], ignore_index=True)
concat2 = pd.concat([concat1, df3], ignore_index=True)
concat3 = pd.concat([concat2, df4], ignore_index=True)
tweets_df = pd.concat([concat3, df5], ignore_index=True)

In [142]:
tweets_df

,created_at,id,full_text,retweeted,lang
0,Wed May 18 14:00:45 +0000 2022,1526925763886325762,Say hello to Dug Drinks potato milk 🥔🥛 We’re t...,False,en
1,Wed May 18 11:01:46 +0000 2022,1526880721935253511,Any #journos interested in vegan wellbeing/ski...,False,en
2,Wed May 18 10:10:22 +0000 2022,1526867783493070849,1lb homemade vegan veggie burger on a sourdoug...,False,en
3,Tue May 17 19:59:28 +0000 2022,1526653650550013952,"Great talk between the plant power doctor, Dr ...",False,en
4,Tue May 17 18:20:04 +0000 2022,1526628634647199746,@AldiUK A vegan version of Aldi's Irish Countr...,False,en
...,...,...,...,...,...
5314,Wed May 18 02:09:17 +0000 2022,1526746717143683072,Dairy free ranch is bullshit,NaN,en
5315,Wed May 18 02:01:33 +0000 2022,1526744770357362689,"@HappyCow I've never been vegan, but I have be...",NaN,en
5316,Wed May 18 01:56:12 +0000 2022,1526743422463246336,"Gluten, soy, nut, fruit and dairy free… anyone...",NaN,en
5317,Wed May 18 01:54:04 +0000 2022,1526742886007640067,Gluten-Free Dark Chocolate Walnut Bliss Bars. ...,NaN,en
5318,Fri May 13 15:28:25 +0000 2022,1525135885829799941,If you are teetering on the verge of trying ve...,NaN,en

In [117]:
df.drop('retweeted', axis=1, inplace=True)

In [113]:
df['retweeted'].unique()

array([False])

In [106]:
# view some tweets
df['full_text'][665]

'@pete_ar_fryn @simoncclark456 @ecoreflections @fleroy1974 That is the mimicry of a simple natural process, not quite the same. There are no ethical issues with eating animal products produced in this country, there would be however with the wholesale replacement of entire traditional supply chains involved in the production of meat.'

In [55]:
# rename columns
df.rename(columns={'full_text': 'tweet', 'lang':'language'}, inplace=True)

In [59]:
df.shape

(0, 0)

In [67]:
df.columns()

TypeError: 'Index' object is not callable

## Basic Feature Extraction

In [ ]:
#create a new feature
train["word_count"] = train["tweet"].apply(lambda x : len(str(x).split()))

In [ ]:
train["char_count"] = train["tweet"].str.len()

In [ ]:
#create stopwords
stop = stopwords.words("english")

# if a stopword is present, save into this list
train["stopwords"] = train["tweet"].apply(lambda x : len([x for x in x.split() if x in stop]))

In [ ]:
# special characters
train["hashtag"] = train["tweet"].apply(lambda x : len([x for x in x.split() if x.startswith("#")]))

In [ ]:
# @ names
train["at_names"] = train["tweet"].apply(lambda x : len([x for x in x.split() if x.startswith("@")]))

## Basic Pre-processing

In [ ]:
train['clean_tweet'] = train['full_text'].apply(lambda x : " ".join(x.lower() for x in x.split()))

In [43]:
# remove special characters
train['clean_tweet'] = train['clean_tweet'].str.replace("[^\w\s]", "")

C:\Users\rhian\AppData\Local\Temp/ipykernel_19112/2542136566.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train['clean_tweet'] = train['clean_tweet'].str.replace("[^\w\s]", "")

In [ ]:
train['clean_tweet'] = train['clean_tweet'].str.replace("ð", "")

In [ ]:
# remove any stopwords
train['clean_tweet'] = train['clean_tweet'].apply(lambda x : " ".join(x for x in x.split() if x not in stop))

In [ ]:
# @ names
train["at_names"] = train["tweet"].apply(lambda x : len([x for x in x.split() if x.startswith("@")]))

In [ ]:
#identify common words
common = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10] 
common

In [ ]:
#remove common words
common = list(common.index) 
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in common)) 
train['tweet'].head()

In [ ]:
#identify rare words
rare = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:] 
rare

In [ ]:
#remove rare words
rare = list(rare.index) 
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in rare)) 
train['tweet'].head()

In [ ]:
#correct spelling
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

In [ ]:
# remove suffices like “ing”, “ly”, “s”
#train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

Lemmatization is a more effective option than stemming because it converts the word into its 
root word, rather than just stripping the suffices. It makes use of the vocabulary and does a 
morphological analysis to obtain the root word. Therefore, we usually prefer using 
lemmatization over stemming.

In [ ]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()])) 
train['tweet'].head()

## Advance Text Processing

In [ ]:
# extract bigrams from our tweets using the ngrams function of the textblob 
TextBlob(train['tweet'][0]).ngrams(2)

## Sentiment Analysis

In [44]:
train['sentiment'] = train['clean_tweet'].apply(lambda x : TextBlob(x).sentiment[0])

In [ ]:
train["subjectivity"] = train["tweet_clean"][:5].apply(lambda x : TextBlob(x).sentiment[1])

## Old Code

In [166]:
xxxx

NameError: name 'xxxx' is not defined

In [ ]:
# For search date parameters / label will be in your Dev enviorment label
# https://developer.twitter.com/en/account/environments
for word in words:
    tweets = tweepy.Cursor(api.search_full_archive, label='CA2Agriculture', query=word,
                       fromDate='20070101000', toDate='20200101000').items(1000)
    for tweet in tweets:
        temp = pd.DataFrame.from_dict(tweet._json, orient='index')
        temp = temp.T
        temp = temp[['created_at', 'id', 'text','geo', 'coordinates','retweeted','lang']]
        train= pd.concat([train, temp], axis=0)
train.reset_index(inplace=True, drop=True)