# Irish Ag CA2

In [ ]:
 # ireland_prod.loc[ireland_prod['Crop_Livestock'] == 'Sugar Crops Primary']

Countries chosen for this analysis are Ireland, Germany, Austrailia.

This analysis will focus on the Irish agricultural landscape and the impact that the move towards a more plant based diet has had on it's production/ imports/ exports in comparrison to other counties wehere veganism is also on the rise. 

From the Europe Dataset, the analysis will focus on Ireland, which will be the baseline for all analysis and then Germany. The Irish agriculture findings will then be compared against Germany as both countries benifit from the European Common agricultural Policy. The analysis will be looking for similarities & differences in each countries agriculture indistry. Germany has been chosen as a country for analysis as it is one of the countries with the highest % of vegans in Europe.

The analysis will go on to compare Irish agriculure against  Austraulia, one of the largest vegan populations in the world who do not benifit from being a member of the CAP.

## Import Initial Libraries 

Import Pandas and Numpy libraries. 

Pandas is a Python library used for data analysis. The Pandas library enables DataFrame and Series functionality used for analyzing the data. This library works with the tabular data, i.e data that is organized in a table with rows(observations) and columns(features). 

NumPy is a Python library used to perform mathematical and computing operations specific to arrays. The NumPy module works with the numerical data.
https://numpy.org/doc/stable/

Seaborn and Matplotlib libraries are used for data visualisation purposes to generate plots, graphs and other visuaisations of data.

In [1]:
#data manipulation libraries
import pandas as pd
import numpy as np

# data visualization Libraries
import seaborn as sns
from matplotlib import pyplot as plt

## Python Good Practice 
The following are also good practice to run at the start of every Analysis project to ensure the best results

In [2]:
# filter warnings
import warnings
warnings.filterwarnings("ignore")

# avoid blurry images
%config InLineBackend.figure_format = "retina"
sns.set_context=("talk")

# enable multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Datasets

There is both production and import/export of goods data available on https://www.fao.org/faostat/en/#data/QCL for all continents.

In this section both production and import/export data for Europe, Americas & Oceanias will be imported. Later this data will be go through EDA and data cleaning before moving onto analysis and visualisation. 

Population will also be imported for each country as to standardise analysis to per capita findings. 
Ireland population: https://fred.stlouisfed.org/series/POPTOTIEA647NWDB

In [3]:
#import dataset
europe = pd.read_csv("data\Production_Crops_Livestock_E_Europe_NOFLAG.csv")

europe.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,3,Albania,515,Apples,5312,Area harvested,ha,NaN,NaN,NaN,...,3450.0,3719.0,3838.0,3863.0,4008.0,4230.0,4346.0,4294.0,4407.0,4420.0
1,3,Albania,515,Apples,5419,Yield,hg/ha,NaN,NaN,NaN,...,185507.0,191718.0,197316.0,212426.0,228882.0,240028.0,221671.0,252387.0,240374.0,231147.0
2,3,Albania,515,Apples,5510,Production,tonnes,10004.0,8039.0,7931.0,...,64000.0,71300.0,75730.0,82060.0,91736.0,101532.0,96338.0,108375.0,105933.0,102167.0
3,3,Albania,526,Apricots,5312,Area harvested,ha,NaN,NaN,NaN,...,300.0,301.0,315.0,320.0,331.0,326.0,326.0,337.0,341.0,346.0
4,3,Albania,526,Apricots,5419,Yield,hg/ha,NaN,NaN,NaN,...,130000.0,147176.0,139683.0,129375.0,152417.0,159325.0,154601.0,152493.0,142962.0,148642.0

In [4]:
#import dataset
europe_trade = pd.read_csv("data\Trade_CropsLivestock_E_Europe_NOFLAG.csv")

europe_trade.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,3,Albania,862,Alfalfa meal and pellets,5610,Import Quantity,tonnes,NaN,NaN,NaN,...,290.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN
1,3,Albania,862,Alfalfa meal and pellets,5622,Import Value,1000 US$,NaN,NaN,NaN,...,89.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,3,Albania,862,Alfalfa meal and pellets,5910,Export Quantity,tonnes,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Albania,862,Alfalfa meal and pellets,5922,Export Value,1000 US$,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Albania,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,NaN,NaN,...,180.0,144.0,126.0,32.0,133.0,129.0,59.0,85.0,512.0,367.0

In [5]:
#import dataset
americas = pd.read_csv("data\Production_Crops_Livestock_E_Americas_NOFLAG.csv")

americas.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,8,Antigua and Barbuda,1107,Asses,5111,Stocks,Head,2300.0,2300.0,2300.0,...,1700.0,1700.0,1700.0,1700.0,1703.0,1707.0,1719.0,1719.0,1723.0,1726.0
1,8,Antigua and Barbuda,486,Bananas,5312,Area harvested,ha,NaN,NaN,NaN,...,28.0,35.0,32.0,35.0,37.0,41.0,44.0,48.0,52.0,11.0
2,8,Antigua and Barbuda,486,Bananas,5419,Yield,hg/ha,NaN,NaN,NaN,...,85357.0,71429.0,79688.0,74000.0,71081.0,56341.0,46364.0,37292.0,28846.0,4545.0
3,8,Antigua and Barbuda,486,Bananas,5510,Production,tonnes,NaN,NaN,NaN,...,239.0,250.0,255.0,259.0,263.0,231.0,204.0,179.0,150.0,5.0
4,8,Antigua and Barbuda,414,"Beans, green",5312,Area harvested,ha,1.0,1.0,2.0,...,24.0,25.0,25.0,25.0,25.0,25.0,26.0,26.0,26.0,26.0

In [6]:
#import dataset
americas_trade = pd.read_csv("data\Trade_CropsLivestock_E_Americas_NOFLAG.csv")

americas_trade.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,8,Antigua and Barbuda,862,Alfalfa meal and pellets,5610,Import Quantity,tonnes,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,8,Antigua and Barbuda,862,Alfalfa meal and pellets,5622,Import Value,1000 US$,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,NaN
2,8,Antigua and Barbuda,231,Almonds shelled,5610,Import Quantity,tonnes,NaN,NaN,NaN,...,NaN,36.0,8.0,12.0,16.0,12.0,16.0,16.0,13.0,1.0
3,8,Antigua and Barbuda,231,Almonds shelled,5622,Import Value,1000 US$,NaN,NaN,NaN,...,NaN,145.0,37.0,47.0,46.0,38.0,54.0,59.0,44.0,6.0
4,8,Antigua and Barbuda,231,Almonds shelled,5910,Export Quantity,tonnes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [7]:
#import dataset
oceania = pd.read_csv("data\Production_Crops_Livestock_E_Oceania_NOFLAG.csv")

oceania.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,10,Australia,221,"Almonds, with shell",5312,Area harvested,ha,NaN,NaN,NaN,...,25666.0,26058.0,28586.0,28060.0,28190.0,28553.0,29282.0,31361.0,37903.0,39301.0
1,10,Australia,221,"Almonds, with shell",5419,Yield,hg/ha,NaN,NaN,NaN,...,32300.0,41907.0,56531.0,54337.0,55090.0,61170.0,63513.0,55164.0,55932.0,56458.0
2,10,Australia,221,"Almonds, with shell",5510,Production,tonnes,NaN,NaN,NaN,...,82900.0,109200.0,161600.0,152470.0,155300.0,174660.0,185980.0,173000.0,212000.0,221886.0
3,10,Australia,711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,NaN,NaN,...,914.0,1015.0,1040.0,989.0,989.0,1006.0,987.0,994.0,996.0,992.0
4,10,Australia,711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,11368.0,11488.0,11548.0,11587.0,11608.0,11581.0,11581.0,11590.0,11576.0,11593.0

In [8]:
#import dataset
oceania_trade = pd.read_csv("data\Trade_CropsLivestock_E_Oceania_NOFLAG.csv")

oceania_trade.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020
0,10,Australia,862,Alfalfa meal and pellets,5610,Import Quantity,tonnes,0.0,0.0,0.0,...,12.0,9.0,0.0,1.0,13.0,59.0,109.0,657.0,1003.0,1.0
1,10,Australia,862,Alfalfa meal and pellets,5622,Import Value,1000 US$,0.0,0.0,0.0,...,34.0,25.0,0.0,4.0,18.0,55.0,149.0,363.0,497.0,9.0
2,10,Australia,862,Alfalfa meal and pellets,5910,Export Quantity,tonnes,0.0,0.0,0.0,...,85992.0,77026.0,73652.0,97312.0,84691.0,81045.0,72941.0,52186.0,50680.0,40056.0
3,10,Australia,862,Alfalfa meal and pellets,5922,Export Value,1000 US$,0.0,0.0,0.0,...,25292.0,24082.0,23972.0,38488.0,27409.0,26811.0,20611.0,16656.0,16107.0,12946.0
4,10,Australia,231,Almonds shelled,5610,Import Quantity,tonnes,0.0,0.0,0.0,...,1164.0,2309.0,2515.0,2056.0,1904.0,2314.0,3061.0,3657.0,2784.0,2436.0

In [9]:
# import dataset
ireland_pop = pd.read_csv("data\irelandpop.csv")

columns = [ 'Year', 'Population_Ireland']
ireland_pop.columns = columns

# reformat year
ireland_pop['Year'] = ireland_pop['Year'].str[:4]

# drop year 1960 & 2020 
ireland_pop.drop([0], axis=0, inplace=True)
ireland_pop.drop([60], axis=0, inplace=True)

# cast pop as int 
ireland_pop['Population_Ireland'] = ireland_pop['Population_Ireland'].astype('int')

ireland_pop.tail()

    Year  Population_Ireland
55  2015             4701957
56  2016             4755335
57  2017             4807388
58  2018             4867316
59  2019             4934340

In [83]:
#import dataset
germany_pop = pd.read_csv("data\germanypop.csv")

columns = [ 'Year', 'Population_Germany']
germany_pop.columns = columns

#reformat year
germany_pop['Year'] = germany_pop['Year'].str[:4]

#drop year 1960 # drop year 1960 & 2020
germany_pop.drop([0], axis=0, inplace=True)
germany_pop.drop([60], axis=0, inplace=True)

# cast pop as int 
germany_pop['Population_Germany'] = germany_pop['Population_Germany'].astype('int')

germany_pop.tail()

    Year  Population_Germany
55  2015            81686611
56  2016            82348669
57  2017            82657002
58  2018            82905782
59  2019            83092962

In [11]:
#import dataset
us_pop = pd.read_csv("data\\americapop.csv")

columns = ['Year', 'Population_US']
us_pop.columns = columns

#reformat year
us_pop['Year'] = us_pop['Year'].str[:4]

#drop year 1960 
us_pop.drop([0], axis=0, inplace=True)

# cast pop as int 
us_pop['Population_US'] = us_pop['Population_US'].astype('int')

us_pop.head()

   Year  Population_US
1  1961      183691000
2  1962      186538000
3  1963      189242000
4  1964      191889000
5  1965      194303000

In [12]:
#import dataset
aus_pop = pd.read_csv("data\\australiapop.csv")

columns = [ 'Year', 'Population_Australia']
aus_pop.columns = columns

#reformat year
aus_pop['Year'] = aus_pop['Year'].str[:4]

#drop year 1960 
aus_pop.drop([0], axis=0, inplace=True)

# cast pop as int 
aus_pop['Population_Australia'] = aus_pop['Population_Australia'].astype('int')

aus_pop.head()

   Year  Population_Australia
1  1961              10483000
2  1962              10742000
3  1963              10950000
4  1964              11167000
5  1965              11388000

## Europe Production Dataset

The European Prouction Dataset is taken from faostat and contains annual data on all crops and animal products producted in  Europe from 1961-2020, measured in tonnes. It also contains information on livestock numbers, yields, areas havested and slaughtering numbers.

Unit Measurements:

    Production = tonnes
    Area harvested = ha
    Yield =	hg/ha
    Stocks = head 
    Slaughter = head
    Yields/ Carcass Weight = 0.1g/An, hg/An
    Milking Animals = head
    Laying = head
    Prod Popultn (bees/honey) = number

"Crop statistics are recorded for 173 products, covering the following categories: Crops Primary, Fibre Crops Primary, Cereals, Coarse Grain, Citrus Fruit, Fruit, Jute Jute-like Fibres, Oilcakes Equivalent, Oil crops Primary, Pulses, Roots and Tubers, Treenuts and Vegetables and Melons. Data are expressed in terms of area harvested, production quantity and yield. The objective is to comprehensively cover production of all primary crops for all countries and regions in the world. Area and production data on cereals relate to crops harvested for dry grain only. Cereal crops harvested for hay or harvested green for food, feed or silage or used for grazing are therefore excluded. Area data relate to harvested area. Some countries report sown or cultivated area only." https://www.fao.org/faostat/en/#data/QCL

In [13]:
#drop columns not required for analysis
to_drop = ['Area Code','Item Code','Element Code']
europe.drop(to_drop, inplace=True, axis=1)

### Melt Data

The current dataset is difficult to read as it has lots of columns for the different years of data. This dataset can be reshaped using the melt() function

In [14]:
# melt new dataframe in order to visualise data by street 
europe_melt = pd.melt(europe, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
europe_melt.columns = columns

#remove Y from year
europe_melt['Year'] = europe_melt['Year'].str[1:]

#set Year to datetime dtype
#europe_melt['Year']= pd.to_datetime(europe_melt['Year'])

europe_melt.head()

   Country Crop_Livestock         Element    Unit  Year    Value
0  Albania         Apples  Area harvested      ha  1961      NaN
1  Albania         Apples           Yield   hg/ha  1961      NaN
2  Albania         Apples      Production  tonnes  1961  10004.0
3  Albania       Apricots  Area harvested      ha  1961      NaN
4  Albania       Apricots           Yield   hg/ha  1961      NaN

In [15]:
# dataframe shape, number of rows/ columns 
europe_melt.shape

(959580, 6)

In [16]:
europe_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959580 entries, 0 to 959579
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country         959580 non-null  object
 1   Crop_Livestock  959580 non-null  object
 2   Element         959580 non-null  object
 3   Unit            959580 non-null  object
 4   Year            959580 non-null  object
 5   Value           544700 non-null  float64
dtypes: float64(1), object(5)
memory usage: 43.9+ MB

### Missing Values

Missing values and 0 values look to reflect that there was no production/ harvest/ yield etc. in a given year for a given country for a given crop/livestock. For early years, it is accptable to assume 0/ NaN values reflect that a cuntry had not yet bgan to produce/ trade this item and therefore values remain as NaN. These values can be removed. 

However, this does not seem to be the case for all 0 / NaN values as pending further investigation it looks like quite a lot of items are missing the last 3 years of production data (2018 / 2019 / 2020). This is consistent across all EU data. This data might not have been submitted to official sources and therefore not included in datasets yet due to covid 19 disruptions. Oceania data seems to only be missing 2020 data as a result of Covid disruptions.

Interpolating or replacing this 2020 might not be appropriate as the interpolated data will not be able to account for the disruption caused by Covid on the Agriculture sector for both production & trade. Therefore, this data will be dropped form the analysis. 

2018 / 2019 data should be interpolated, but it will need to be specific to only the last 2 years to ensure data integretity. It is difficult to interpolate data in the format it is currently in as the Crop_Livestock and Year column contain multiple values which would make it harder to specify what exactly to interpolate. To rectify this, Europe data will first be tidied into seperate Ireland/ Germany datasets to make it easier to identify what specific data to interpolate using the iloc replace function as it allows for specificied rows/ values to be amended, thus keeping the earlier years 0 values in tact to reflect true circumstances.

In [17]:
#remove rows with data not available 
europe_melt = europe_melt.loc[europe_melt["Year"] != "2020"]

In [18]:
# number of missing values 
europe_melt.isnull().sum()

Country                0
Crop_Livestock         0
Element                0
Unit                   0
Year                   0
Value             409536
dtype: int64

In [19]:
#check the amount of 0's in each column
europe_melt_sparse = (europe_melt == 0).sum()
europe_melt_sparse

Country              0
Crop_Livestock       0
Element              0
Unit                 0
Year                 0
Value             6871
dtype: int64

## Ireland Production Dataset

In [20]:
# create irish dataset
ireland_prod_df = europe_melt.loc[europe_melt['Country']=='Ireland']

# irish production dataset - all products (crop, meat, livestock)
ireland_prod = ireland_prod_df.loc[ireland_prod_df['Element']=='Production']

#reset index
ireland_prod.reset_index(drop=True, inplace=True)

ireland_prod

      Country            Crop_Livestock     Element    Unit  Year     Value
0     Ireland       Almonds, with shell  Production  tonnes  1961       NaN
1     Ireland                    Apples  Production  tonnes  1961   29000.0
2     Ireland                  Apricots  Production  tonnes  1961       NaN
3     Ireland                  Avocados  Production  tonnes  1961       NaN
4     Ireland                   Bananas  Production  tonnes  1961       NaN
...       ...                       ...         ...     ...   ...       ...
8432  Ireland       Sheep and Goat Meat  Production  tonnes  2019   66040.0
8433  Ireland  Skim Milk&Buttermilk,Dry  Production  tonnes  2019  134300.0
8434  Ireland       Sugar Crops Primary  Production  tonnes  2019       0.0
8435  Ireland           Treenuts, Total  Production  tonnes  2019       0.0
8436  Ireland        Vegetables Primary  Production  tonnes  2019  184810.0

[8437 rows x 6 columns]

### Ireland Missing Values

In [22]:
#ireland_prod as a pivot table to see what values we need to replace for 2018/2019 only

ireland_prod_table = pd.pivot_table(ireland_prod, values='Value', index=['Country', 'Element', 'Unit', 'Year'],
                    columns=['Crop_Livestock'], aggfunc=np.sum, fill_value=0)
ireland_prod_table

Crop_Livestock                   Almonds, with shell  Apples  Apricots  \
Country Element    Unit    Year
Ireland Production 1000 No 1961                    0       0         0
                           1962                    0       0         0
                           1963                    0       0         0
                           1964                    0       0         0
                           1965                    0       0         0
...                                              ...     ...       ...
                   tonnes  2015                    0   18800         0
                           2016                    0   21800         0
                           2017                    0   21369         0
                           2018                    0   20140         0
                           2019                    0   19880         0

Crop_Livestock                   Avocados  Bananas   Barley  Beans, dry  \
Country Element    Unit    Year
Ireland Production 1000 No 1961         0        0        0           0
                           1962         0        0        0           0
                           1963         0        0        0           0
                           1964         0        0        0           0
                           1965         0        0        0           0
...                                   ...      ...      ...         ...
                   tonnes  2015         0        0  1739200           0
                           2016         0        0  1479900           0
                           2017         0        0  1505811           0
                           2018         0        0  1181560           0
                           2019         0        0  1479600           0

Crop_Livestock                   Beans, green  Beef and Buffalo Meat  \
Country Element    Unit    Year
Ireland Production 1000 No 1961             0                      0
                           1962             0                      0
                           1963             0                      0
                           1964             0                      0
                           1965             0                      0
...                                       ...                    ...
                   tonnes  2015          1679                 564100
                           2016          1706                 588400
                           2017          1702                 617000
                           2018             0                 622540
                           2019             0                 619800

Crop_Livestock                   Beer of barley  ...  Triticale  \
Country Element    Unit    Year                  ...
Ireland Production 1000 No 1961               0  ...          0
                           1962               0  ...          0
                           1963               0  ...          0
                           1964               0  ...          0
                           1965               0  ...          0
...                                         ...  ...        ...
                   tonnes  2015          775500  ...          0
                           2016          768000  ...          0
                           2017          801900  ...          0
                           2018          832200  ...          0
                           2019          830000  ...          0

Crop_Livestock                   Vegetables Primary  Vegetables, fresh nes  \
Country Element    Unit    Year
Ireland Production 1000 No 1961                   0                      0
                           1962                   0                      0
                           1963                   0                      0
                           1964                   0                      0
                           1965                   0                      0
...                                             ...                    ...
                   tonnes  2015              222293                  31424
                           2016              231989                  28537
                           2017              204672                  26516
                           2018              170700                      0
                           2019              184810                      0

Crop_Livestock                   Vegetables, leguminous nes  \
Country Element    Unit    Year
Ireland Production 1000 No 1961                           0
                           1962                           0
                           1963                           0
                           1964                           0
                           1965                           0
...                                                     ...
                   tonnes  2015                           2
                           2016                           2
                           2017                           2
                           2018                           0
                           2019                           0

Crop_Livestock                   Walnuts, with shell  Watermelons   Wheat  \
Country Element    Unit    Year
Ireland Production 1000 No 1961                    0            0       0
                           1962                    0            0       0
                           1963                    0            0       0
                           1964                    0            0       0
                           1965                    0            0       0
...                                              ...          ...     ...
                   tonnes  2015                    0            0  696600
                           2016                    0            0  647700
                           2017                    0            0  681679
                           2018                    0            0  485480
                           2019                    0            0  595360

Crop_Livestock                   Whey, condensed  Whey, dry  Wool, greasy
Country Element    Unit    Year
Ireland Production 1000 No 1961                0          0             0
                           1962                0          0             0
                           1963                0          0             0
                           1964                0          0             0
                           1965                0          0             0
...                                          ...        ...           ...
                   tonnes  2015             1850      34856         14123
                           2016             1838      34416         14330
                           2017             2219      41849         14436
                           2018                0          0             0
                           2019                0          0             0

[118 rows x 142 columns]

In [23]:
# search tab to identify what 2018/2019 data to be replaces & identify iloc 
ireland_prod.loc[ireland_prod['Crop_Livestock']=='Hops']

      Country Crop_Livestock     Element    Unit  Year  Value
43    Ireland           Hops  Production  tonnes  1961    NaN
186   Ireland           Hops  Production  tonnes  1962    NaN
329   Ireland           Hops  Production  tonnes  1963    NaN
472   Ireland           Hops  Production  tonnes  1964    NaN
615   Ireland           Hops  Production  tonnes  1965    NaN
758   Ireland           Hops  Production  tonnes  1966    NaN
901   Ireland           Hops  Production  tonnes  1967    NaN
1044  Ireland           Hops  Production  tonnes  1968    NaN
1187  Ireland           Hops  Production  tonnes  1969    NaN
1330  Ireland           Hops  Production  tonnes  1970    NaN
1473  Ireland           Hops  Production  tonnes  1971    NaN
1616  Ireland           Hops  Production  tonnes  1972    NaN
1759  Ireland           Hops  Production  tonnes  1973    NaN
1902  Ireland           Hops  Production  tonnes  1974    NaN
2045  Ireland           Hops  Production  tonnes  1975    NaN
2188  Ireland           Hops  Production  tonnes  1976    NaN
2331  Ireland           Hops  Production  tonnes  1977    NaN
2474  Ireland           Hops  Production  tonnes  1978   72.0
2617  Ireland           Hops  Production  tonnes  1979   83.0
2760  Ireland           Hops  Production  tonnes  1980   76.0
2903  Ireland           Hops  Production  tonnes  1981   77.0
3046  Ireland           Hops  Production  tonnes  1982   88.0
3189  Ireland           Hops  Production  tonnes  1983  110.0
3332  Ireland           Hops  Production  tonnes  1984  110.0
3475  Ireland           Hops  Production  tonnes  1985   52.0
3618  Ireland           Hops  Production  tonnes  1986   41.0
3761  Ireland           Hops  Production  tonnes  1987   41.0
3904  Ireland           Hops  Production  tonnes  1988   40.0
4047  Ireland           Hops  Production  tonnes  1989   40.0
4190  Ireland           Hops  Production  tonnes  1990   39.0
4333  Ireland           Hops  Production  tonnes  1991   37.0
4476  Ireland           Hops  Production  tonnes  1992   37.0
4619  Ireland           Hops  Production  tonnes  1993   36.0
4762  Ireland           Hops  Production  tonnes  1994   37.0
4905  Ireland           Hops  Production  tonnes  1995   38.0
5048  Ireland           Hops  Production  tonnes  1996   38.0
5191  Ireland           Hops  Production  tonnes  1997   39.0
5334  Ireland           Hops  Production  tonnes  1998   39.0
5477  Ireland           Hops  Production  tonnes  1999   39.0
5620  Ireland           Hops  Production  tonnes  2000   40.0
5763  Ireland           Hops  Production  tonnes  2001   40.0
5906  Ireland           Hops  Production  tonnes  2002   41.0
6049  Ireland           Hops  Production  tonnes  2003   41.0
6192  Ireland           Hops  Production  tonnes  2004   41.0
6335  Ireland           Hops  Production  tonnes  2005   42.0
6478  Ireland           Hops  Production  tonnes  2006   45.0
6621  Ireland           Hops  Production  tonnes  2007   40.0
6764  Ireland           Hops  Production  tonnes  2008   42.0
6907  Ireland           Hops  Production  tonnes  2009   43.0
7050  Ireland           Hops  Production  tonnes  2010   43.0
7193  Ireland           Hops  Production  tonnes  2011   43.0
7336  Ireland           Hops  Production  tonnes  2012   44.0
7479  Ireland           Hops  Production  tonnes  2013   44.0
7622  Ireland           Hops  Production  tonnes  2014   44.0
7765  Ireland           Hops  Production  tonnes  2015   45.0
7908  Ireland           Hops  Production  tonnes  2016   45.0
8051  Ireland           Hops  Production  tonnes  2017   45.0
8194  Ireland           Hops  Production  tonnes  2018    NaN
8337  Ireland           Hops  Production  tonnes  2019    NaN

In [24]:
# replace missing 2018/ 2019 values with last recorded value 

ireland_prod.iloc[[8203, 8346],[5]] = 2696.0
ireland_prod.iloc[[8206, 8349],[5]] = 3463.0
ireland_prod.iloc[[8208, 8351],[5]] = 1222.0
ireland_prod.iloc[[8209, 8352],[5]] = 3279.0
ireland_prod.iloc[[8168, 8311],[5]] = 4435.0
ireland_prod.iloc[[8214, 8357],[5]] = 4706000.0
ireland_prod.iloc[[8217, 8360],[5]] = 57170.0
ireland_prod.iloc[[8158, 8301],[5]] = 1702.0
ireland_prod.iloc[[8160, 8303],[5]] = 199.0
ireland_prod.iloc[[8167, 8310],[5]] = 1478.0
ireland_prod.iloc[[8168, 8311],[5]] = 4435.0
ireland_prod.iloc[[8171, 8314],[5]] = 340.0
ireland_prod.iloc[[8184, 8327],[5]] = 8906.0
ireland_prod.iloc[[8193, 8336],[5]] = 268.0
ireland_prod.iloc[[8194, 8337],[5]] = 45.0
ireland_prod.iloc[[8223, 8336],[5]] = 2890.0
ireland_prod.iloc[[8236, 8379],[5]] = 7169.0
ireland_prod.iloc[[8244, 8387],[5]] = 1855.0
ireland_prod.iloc[[8252, 8395],[5]] = 629.0
ireland_prod.iloc[[8258, 8401],[5]] = 75000.0
ireland_prod.iloc[[8259, 8402],[5]] = 9755.0
ireland_prod.iloc[[8266, 8409],[5]] = 26516.0
ireland_prod.iloc[[8267, 8410],[5]] = 2.0
ireland_prod.iloc[[8271, 8414],[5]] = 2219.0
ireland_prod.iloc[[8272, 8415],[5]] = 41849.0
ireland_prod.iloc[[8292, 8434],[5]] = 75000.0

In [25]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
ireland_prod.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
ireland_prod = ireland_prod.dropna(axis=0)

# check if we have any NaN values in our dataset
ireland_prod.isnull().values.any()

False

### Ireland Production- Add Population

In [32]:
# merge population data. Outer merge so no data is lost 

ireland_prod_pop = pd.merge(ireland_prod, ireland_pop, how="outer", on = ["Year"])
ireland_prod_pop.head()

,Country,Crop_Livestock,Element,Unit,Year,Value,Population_Ireland
0,Ireland,Apples,Production,tonnes,1961,29000.0,2824400
1,Ireland,Barley,Production,tonnes,1961,515400.0,2824400
2,Ireland,Beer of barley,Production,tonnes,1961,363000.0,2824400
3,Ireland,Berries nes,Production,tonnes,1961,1000.0,2824400
4,Ireland,"Butter, cow milk",Production,tonnes,1961,61300.0,2824400

In [33]:
ireland_prod_pop.shape

(4755, 7)

In [34]:
# cast value as int 
ireland_prod_pop['Value'] = ireland_prod_pop['Value'].astype('int')

### Ireland Meat/ Dairy/ Crop Production

In [46]:
# irish production meat products
ireland_meat_prod = ireland_prod_pop.loc[ireland_prod_pop['Crop_Livestock'].str.contains('meat', case=False)]
ireland_meat_prod.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
ireland_meat_prod.reset_index(drop=True)

# irish production dairy products
ireland_dairy_prod = ireland_prod_pop.loc[ireland_prod_pop['Crop_Livestock'].str.contains('milk', case=False)]
ireland_dairy_prod.rename(columns={'Crop_Livestock': 'Dairy Product'}, inplace=True)
ireland_dairy_prod.reset_index(drop=True)

# irish production crops
ireland_crop_prod = ireland_prod_pop.loc[ireland_prod_pop['Crop_Livestock'].str.contains('meat', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('milk', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('offals', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('fat', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('hides', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('wool', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('skin', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('cream', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('egg', case=False) == False]
ireland_crop_prod = ireland_crop_prod.loc[ireland_crop_prod['Crop_Livestock'].str.contains('lard', case=False) == False]
ireland_crop_prod.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
ireland_crop_prod.reset_index(drop=True)

,Country,Meat Type,Element,Unit,Year,Value,Population_Ireland
0,Ireland,Meat nes,Production,tonnes,1961,5000,2824400
1,Ireland,"Meat, cattle",Production,tonnes,1961,144539,2824400
2,Ireland,"Meat, chicken",Production,tonnes,1961,10000,2824400
3,Ireland,"Meat, duck",Production,tonnes,1961,1400,2824400
4,Ireland,"Meat, goose and guinea fowl",Production,tonnes,1961,1000,2824400
...,...,...,...,...,...,...,...
762,Ireland,"Meat, turkey",Production,tonnes,2019,12990,4934340
763,Ireland,Beef and Buffalo Meat,Production,tonnes,2019,619800,4934340
764,Ireland,"Meat, Poultry",Production,tonnes,2019,153990,4934340
765,Ireland,"Meat, Total",Production,tonnes,2019,1147379,4934340
766,Ireland,Sheep and Goat Meat,Production,tonnes,2019,66040,4934340

,Country,Dairy Product,Element,Unit,Year,Value,Population_Ireland
0,Ireland,"Butter, cow milk",Production,tonnes,1961,61300,2824400
1,Ireland,"Cheese, whole cow milk",Production,tonnes,1961,6000,2824400
2,Ireland,"Milk, skimmed cow",Production,tonnes,1961,1423066,2824400
3,Ireland,"Milk, skimmed dried",Production,tonnes,1961,6000,2824400
4,Ireland,"Milk, whole condensed",Production,tonnes,1961,330,2824400
...,...,...,...,...,...,...,...
606,Ireland,"Milk, whole dried",Production,tonnes,2019,57170,4934340
607,Ireland,"Milk, whole fresh cow",Production,tonnes,2019,8244870,4934340
608,Ireland,Evaporat&Condensed Milk,Production,tonnes,2019,3800,4934340
609,Ireland,"Milk, Total",Production,tonnes,2019,8244870,4934340
610,Ireland,"Skim Milk&Buttermilk,Dry",Production,tonnes,2019,134300,4934340

,Country,Crop,Element,Unit,Year,Value,Population_Ireland
0,Ireland,Apples,Production,tonnes,1961,29000,2824400
1,Ireland,Barley,Production,tonnes,1961,515400,2824400
2,Ireland,Beer of barley,Production,tonnes,1961,363000,2824400
3,Ireland,Berries nes,Production,tonnes,1961,1000,2824400
4,Ireland,Cabbages and other brassicas,Production,tonnes,1961,25000,2824400
...,...,...,...,...,...,...,...
2812,Ireland,"Oilcrops, Oil Equivalent",Production,tonnes,2019,14246,4934340
2813,Ireland,"Pulses, Total",Production,tonnes,2019,40610,4934340
2814,Ireland,"Roots and Tubers, Total",Production,tonnes,2019,382370,4934340
2815,Ireland,Sugar Crops Primary,Production,tonnes,2019,75000,4934340
2816,Ireland,Vegetables Primary,Production,tonnes,2019,184810,4934340

### Ireland Production Pivot Table

In [36]:
#ireland_dairy_prod as a pivot table to see dairy poduct values per year

ireland_meat_prod_table = pd.pivot_table(ireland_meat_prod, values='Value', index=['Country', 'Element', 'Unit', 'Year', 'Population_Ireland'],
                    columns=['Meat Type'], aggfunc=np.sum, fill_value=0)


ireland_dairy_prod_table = pd.pivot_table(ireland_dairy_prod, values='Value', index=['Country', 'Element', 'Unit', 'Year', 'Population_Ireland'],
                    columns=['Dairy Product'], aggfunc=np.sum, fill_value=0)


ireland_crop_prod_table = pd.pivot_table(ireland_crop_prod, values='Value', index=['Country', 'Element', 'Unit', 'Year', 'Population_Ireland'],
                    columns=['Crop'], aggfunc=np.sum, fill_value=0)

In [37]:
ireland_meat_prod_table

Meat Type                                          Beef and Buffalo Meat  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                            144539
                          1962 2836050                            125689
                          1963 2852650                            129513
                          1964 2866550                            112798
                          1965 2877300                            112943
                          1966 2888800                            135257
                          1967 2902450                            222957
                          1968 2915550                            192949
                          1969 2932650                            197955
                          1970 2957250                            216339
                          1971 2992050                            236040
                          1972 3036850                            204507
                          1973 3085950                            207300
                          1974 3137500                            342000
                          1975 3189550                            420000
                          1976 3238050                            328000
                          1977 3282200                            384800
                          1978 3329100                            388700
                          1979 3373750                            387900
                          1980 3412800                            446400
                          1981 3453000                            316300
                          1982 3485800                            344900
                          1983 3510600                            353000
                          1984 3532423                            402281
                          1985 3538082                            448226
                          1986 3539690                            509443
                          1987 3540057                            483620
                          1988 3524949                            459100
                          1989 3511009                            432400
                          1990 3513974                            515000
                          1991 3534235                            557100
                          1992 3558430                            568200
                          1993 3576261                            528500
                          1994 3590386                            447800
                          1995 3608841                            481100
                          1996 3637510                            538400
                          1997 3674171                            569500
                          1998 3712696                            594800
                          1999 3754786                            643800
                          2000 3805174                            576900
                          2001 3866243                            579400
                          2002 3931947                            540000
                          2003 3996521                            568000
                          2004 4070262                            563600
                          2005 4159914                            546000
                          2006 4273591                            537300
                          2007 4398942                            580800
                          2008 4489544                            537300
                          2009 4535375                            514500
                          2010 4560155                            559100
                          2011 4580084                            547100
                          2012 4599533                            495400
                          2013 4623816                            517600
                          2014 4657740                            582100
                          2015 4701957                            564100
                          2016 4755335                            588400
                          2017 4807388                            617000
                          2018 4867316                            622540
                          2019 4934340                            619800

Meat Type                                          Meat nes  Meat, Poultry  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                 5000          17400
                          1962 2836050                 1500          17000
                          1963 2852650                 1000          18600
                          1964 2866550                 1000          20200
                          1965 2877300                 1000          21370
                          1966 2888800                 1000          24580
                          1967 2902450                 1000          24780
                          1968 2915550                 1000          28520
                          1969 2932650                 1000          30460
                          1970 2957250                 1000          30320
                          1971 2992050                 1000          34750
                          1972 3036850                 1000          39000
                          1973 3085950                 1000          43000
                          1974 3137500                 1000          37000
                          1975 3189550                 1000          35160
                          1976 3238050                 1000          41000
                          1977 3282200                 1000          43000
                          1978 3329100                 1000          43720
                          1979 3373750                 1000          48580
                          1980 3412800                 1000          49440
                          1981 3453000                 1000          51980
                          1982 3485800                 1000          57580
                          1983 3510600                 1000          57580
                          1984 3532423                 1000          58980
                          1985 3538082                 1000          61440
                          1986 3539690                 1000          66540
                          1987 3540057                 1000          75240
                          1988 3524949                 1000          81340
                          1989 3511009                 1000          80840
                          1990 3513974                 1000          91312
                          1991 3534235                 1000          99440
                          1992 3558430                 1200          91640
                          1993 3576261                 3500          90290
                          1994 3590386                 1200          99640
                          1995 3608841                  600          99840
                          1996 3637510                 1000         104140
                          1997 3674171                 1000         108840
                          1998 3712696                 5300         109640
                          1999 3754786                 3000         126640
                          2000 3805174                 3500         123280
                          2001 3866243                11500         123280
                          2002 3931947                 2200         122680
                          2003 3996521                 2000         122680
                          2004 4070262                 3000         127780
                          2005 4159914                 1000         129180
                          2006 4273591                 2293         123000
                          2007 4398942                 2309         115800
                          2008 4489544                 2435         117150
                          2009 4535375                 2466         118900
                          2010 4560155                 2498         115400
                          2011 4580084                 1000         119400
                          2012 4599533                 2684         119798
                          2013 4623816                 2756         118996
                          2014 4657740                 2766         120836
                          2015 4701957                 2708         121660
                          2016 4755335                 2681         124323
                          2017 4807388                 2696         145935
                          2018 4867316                 2696         145460
                          2019 4934340                 2696         153990

Meat Type                                          Meat, Total  Meat, cattle  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                  311867        144539
                          1962 2836050                  305487        125689
                          1963 2852650                  314355        129513
                          1964 2866550                  304307        112798
                          1965 2877300                  322461        112943
                          1966 2888800                  338143        135257
                          1967 2902450                  407804        222957
                          1968 2915550                  393062        192949
                          1969 2932650                  419419        197955
                          1970 2957250                  434231        216339
                          1971 2992050                  475687        236040
                          1972 3036850                  451972        204507
                          1973 3085950                  439983        207300
                          1974 3137500                  558086        342000
                          1975 3189550                  604239        420000
                          1976 3238050                  533504        328000
                          1977 3282200                  599294        384800
                          1978 3329100                  612100        388700
                          1979 3373750                  630152        387900
                          1980 3412800                  694967        446400
                          1981 3453000                  565962        316300
                          1982 3485800                  599762        344900
                          1983 3510600                  614401        353000
                          1984 3532423                  649088        402281
                          1985 3538082                  696035        448226
                          1986 3539690                  760923        509443
                          1987 3540057                  748628        483620
                          1988 3524949                  739093        459100
                          1989 3511009                  721405        432400
                          1990 3513974                  850361        515000
                          1991 3534235                  923576        557100
                          1992 3558430                  953000        568200
                          1993 3576261                  930601        528500
                          1994 3590386                  854690        447800
                          1995 3608841                  880840        481100
                          1996 3637510                  943440        538400
                          1997 3674171                  976090        569500
                          1998 3712696                 1038740        594800
                          1999 3754786                 1114440        643800
                          2000 3805174                 1018480        576900
                          2001 3866243                 1033580        579400
                          2002 3931947                  963280        540000
                          2003 3996521                  976780        568000
                          2004 4070262                  972555        563600
                          2005 4159914                  957280        546000
                          2006 4273591                  943543        537300
                          2007 4398942                  971609        580800
                          2008 4489544                  919710        537300
                          2009 4535375                  888216        514500
                          2010 4560155                  940998        559100
                          2011 4580084                  952600        547100
                          2012 4599533                  917182        495400
                          2013 4623816                  940652        517600
                          2014 4657740                 1021013        582100
                          2015 4701957                 1026927        564100
                          2016 4755335                 1062763        588400
                          2017 4807388                 1130210        617000
                          2018 4867316                 1142852        622540
                          2019 4934340                 1147379        619800

Meat Type                                          Meat, chicken  Meat, duck  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                     10000        1400
                          1962 2836050                      9800        1200
                          1963 2852650                     11600        1000
                          1964 2866550                     12880        1000
                          1965 2877300                     14050        1000
                          1966 2888800                     17580        1400
                          1967 2902450                     18020        1200
                          1968 2915550                     21760        1200
                          1969 2932650                     23700        1200
                          1970 2957250                     23600        1200
                          1971 2992050                     27430        1200
                          1972 3036850                     32240        1200
                          1973 3085950                     35800        1600
                          1974 3137500                     28000        1600
                          1975 3189550                     26800        1600
                          1976 3238050                     32880        1400
                          1977 3282200                     33080        2000
                          1978 3329100                     33200        2000
                          1979 3373750                     37500        2000
                          1980 3412800                     39600        2000
                          1981 3453000                     39100        2400
                          1982 3485800                     41400        2200
                          1983 3510600                     40000        2200
                          1984 3532423                     42100        1600
                          1985 3538082                     44500         400
                          1986 3539690                     48400         800
                          1987 3540057                     56100        1000
                          1988 3524949                     60400        1400
                          1989 3511009                     57800        1400
                          1990 3513974                     62672        1400
                          1991 3534235                     63000        1400
                          1992 3558430                     57000        1800
                          1993 3576261                     60950        1800
                          1994 3590386                     67000        1900
                          1995 3608841                     70000        2300
                          1996 3637510                     74000        2500
                          1997 3674171                     76000        2600
                          1998 3712696                     78000        2000
                          1999 3754786                     91000        2000
                          2000 3805174                     86000        2000
                          2001 3866243                     90000        2000
                          2002 3931947                     89000        2400
                          2003 3996521                     90000        2400
                          2004 4070262                     91000        2000
                          2005 4159914                     92000        2400
                          2006 4273591                     90000        2400
                          2007 4398942                     85000        3200
                          2008 4489544                     85450        3200
                          2009 4535375                     90000        3200
                          2010 4560155                     85000        3200
                          2011 4580084                     87000        3200
                          2012 4599533                     87459        3139
                          2013 4623816                     87046        3112
                          2014 4657740                     88100        3200
                          2015 4701957                     88776        3263
                          2016 4755335                     90454        3440
                          2017 4807388                    128170        3463
                          2018 4867316                    131940        3463
                          2019 4934340                    141000        3463

Meat Type                                          Meat, goose and guinea fowl  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                                    1000
                          1962 2836050                                    1000
                          1963 2852650                                    1000
                          1964 2866550                                     920
                          1965 2877300                                     920
                          1966 2888800                                     800
                          1967 2902450                                     760
                          1968 2915550                                     760
                          1969 2932650                                     760
                          1970 2957250                                     720
                          1971 2992050                                     720
                          1972 3036850                                     760
                          1973 3085950                                     800
                          1974 3137500                                     800
                          1975 3189550                                     760
                          1976 3238050                                     720
                          1977 3282200                                     720
                          1978 3329100                                     720
                          1979 3373750                                     680

In [38]:
ireland_dairy_prod_table

Dairy Product                                      Butter, cow milk  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                        61300
                          1962 2836050                        62200
                          1963 2852650                        60346
                          1964 2866550                        64500
                          1965 2877300                        65845
                          1966 2888800                        67197
                          1967 2902450                        73000
                          1968 2915550                        78069
                          1969 2932650                        77674
                          1970 2957250                        72752
                          1971 2992050                        75000
                          1972 3036850                        77043
                          1973 3085950                        87000
                          1974 3137500                        76000
                          1975 3189550                        85000
                          1976 3238050                       103000
                          1977 3282200                       107000
                          1978 3329100                       132000
                          1979 3373750                       134000
                          1980 3412800                       124000
                          1981 3453000                       125000
                          1982 3485800                       140000
                          1983 3510600                       164000
                          1984 3532423                       171000
                          1985 3538082                       167000
                          1986 3539690                       153496
                          1987 3540057                       134394
                          1988 3524949                       123800
                          1989 3511009                       139100
                          1990 3513974                       148200
                          1991 3534235                       140000
                          1992 3558430                       133600
                          1993 3576261                       127500
                          1994 3590386                       126800
                          1995 3608841                       142400
                          1996 3637510                       142200
                          1997 3674171                       138800
                          1998 3712696                       131300
                          1999 3754786                       135300
                          2000 3805174                       145000
                          2001 3866243                       139000
                          2002 3931947                       147000
                          2003 3996521                       140100
                          2004 4070262                       136900
                          2005 4159914                       143000
                          2006 4273591                       139100
                          2007 4398942                       141400
                          2008 4489544                       123800
                          2009 4535375                       120300
                          2010 4560155                       135100
                          2011 4580084                       145900
                          2012 4599533                       145000
                          2013 4623816                       152100
                          2014 4657740                       166370
                          2015 4701957                       187490
                          2016 4755335                       198700
                          2017 4807388                       223700
                          2018 4867316                       237800
                          2019 4934340                       250800

Dairy Product                                      Cheese, skimmed cow milk  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                                    0
                          1962 2836050                                    0
                          1963 2852650                                    0
                          1964 2866550                                    0
                          1965 2877300                                    0
                          1966 2888800                                    0
                          1967 2902450                                    0
                          1968 2915550                                    0
                          1969 2932650                                    0
                          1970 2957250                                    0
                          1971 2992050                                    0
                          1972 3036850                                    0
                          1973 3085950                                    0
                          1974 3137500                                    0
                          1975 3189550                                    0
                          1976 3238050                                 2100
                          1977 3282200                                 1350
                          1978 3329100                                 1650
                          1979 3373750                                 1350
                          1980 3412800                                  600
                          1981 3453000                                 3000
                          1982 3485800                                 1950
                          1983 3510600                                 1500
                          1984 3532423                                 3000
                          1985 3538082                                 2550
                          1986 3539690                                 2400
                          1987 3540057                                 2250
                          1988 3524949                                 2250
                          1989 3511009                                 2250
                          1990 3513974                                 2250
                          1991 3534235                                 2250
                          1992 3558430                                 2250
                          1993 3576261                                 2250
                          1994 3590386                                 2250
                          1995 3608841                                 2250
                          1996 3637510                                 3000
                          1997 3674171                                 3000
                          1998 3712696                                 3000
                          1999 3754786                                 3000
                          2000 3805174                                 3750
                          2001 3866243                                 3750
                          2002 3931947                                 3750
                          2003 3996521                                 3000
                          2004 4070262                                 3750
                          2005 4159914                                 3750
                          2006 4273591                                 3750
                          2007 4398942                                 3750
                          2008 4489544                                 3750
                          2009 4535375                                 3750
                          2010 4560155                                 3750
                          2011 4580084                                 3750
                          2012 4599533                                 3000
                          2013 4623816                                 3000
                          2014 4657740                                 3490
                          2015 4701957                                 3753
                          2016 4755335                                 3954
                          2017 4807388                                 4435
                          2018 4867316                                 4435
                          2019 4934340                                 4435

Dairy Product                                      Cheese, whole cow milk  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                               6000
                          1962 2836050                               8165
                          1963 2852650                              12000
                          1964 2866550                              16000
                          1965 2877300                              16527
                          1966 2888800                              17078
                          1967 2902450                              24640
                          1968 2915550                              29000
                          1969 2932650                              28000
                          1970 2957250                              29000
                          1971 2992050                              34000
                          1972 3036850                              47000
                          1973 3085950                              42000
                          1974 3137500                              60000
                          1975 3189550                              62000
                          1976 3238050                              49000
                          1977 3282200                              53400
                          1978 3329100                              49700
                          1979 3373750                              58000
                          1980 3412800                              49300
                          1981 3453000                              54200
                          1982 3485800                              57300
                          1983 3510600                              52287
                          1984 3532423                              54870
                          1985 3538082                              75000
                          1986 3539690                              59900
                          1987 3540057                              67100
                          1988 3524949                              74600
                          1989 3511009                              73600
                          1990 3513974                              68500
                          1991 3534235                              73700
                          1992 3558430                              93500
                          1993 3576261                              92700
                          1994 3590386                              93000
                          1995 3608841                              80000
                          1996 3637510                              97200
                          1997 3674171                              95700
                          1998 3712696                              95300
                          1999 3754786                             101800
                          2000 3805174                              98500
                          2001 3866243                             122800
                          2002 3931947                             115900
                          2003 3996521                             111900
                          2004 4070262                             118000
                          2005 4159914                             118800
                          2006 4273591                             136900
                          2007 4398942                             140400
                          2008 4489544                             174500
                          2009 4535375                             162600
                          2010 4560155                             171800
                          2011 4580084                             179900
                          2012 4599533                             185500
                          2013 4623816                             182800
                          2014 4657740                             188400
                          2015 4701957                             207100
                          2016 4755335                             205000
                          2017 4807388                             259400
                          2018 4867316                             269400
                          2019 4934340                             278400

Dairy Product                                      Evaporat&Condensed Milk  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                                 365
                          1962 2836050                                 345
                          1963 2852650                                 620
                          1964 2866550                                 480
                          1965 2877300                                1330
                          1966 2888800                                1475
                          1967 2902450                                1640
                          1968 2915550                                2210
                          1969 2932650                                3410
                          1970 2957250                                5290
                          1971 2992050                               13915
                          1972 3036850                                3530
                          1973 3085950                                2695
                          1974 3137500                                1015
                          1975 3189550                                   0
                          1976 3238050                                   0
                          1977 3282200                                   0
                          1978 3329100                                   0
                          1979 3373750                                1750
                          1980 3412800                                 595
                          1981 3453000                                   0
                          1982 3485800                                   0
                          1983 3510600                                   0
                          1984 3532423                                 805
                          1985 3538082                                   0
                          1986 3539690                                   0
                          1987 3540057                                   0
                          1988 3524949                                8180
                          1989 3511009                               17950
                          1990 3513974                               11420
                          1991 3534235                               18225
                          1992 3558430                               33500
                          1993 3576261                                1500
                          1994 3590386                                2105
                          1995 3608841                                1395
                          1996 3637510                                   0
                          1997 3674171                                2880
                          1998 3712696                                   0
                          1999 3754786                                4500
                          2000 3805174                                1200
                          2001 3866243                                 600
                          2002 3931947                                 900
                          2003 3996521                                1200
                          2004 4070262                                1680
                          2005 4159914                                2400
                          2006 4273591                                2400
                          2007 4398942                                2400
                          2008 4489544                                2400
                          2009 4535375                                2400
                          2010 4560155                                2400
                          2011 4580084                                2400
                          2012 4599533                                1800
                          2013 4623816                                1500
                          2014 4657740                                1740
                          2015 4701957                                1850
                          2016 4755335                                1838
                          2017 4807388                                2219
                          2018 4867316                                3300
                          2019 4934340                                3800

Dairy Product                                      Milk, Total  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                 2356000
                          1962 2836050                 2450800
                          1963 2852650                 2461100
                          1964 2866550                 2548300
                          1965 2877300                 2637800
                          1966 2888800                 2716600
                          1967 2902450                 2951400
                          1968 2915550                 3148700
                          1969 2932650                 3145000
                          1970 2957250                 3075600
                          1971 2992050                 3161400
                          1972 3036850                 3318900
                          1973 3085950                 3475500
                          1974 3137500                 3340000
                          1975 3189550                 3593000
                          1976 3238050                 3862700
                          1977 3282200                 4157200
                          1978 3329100                 4697000
                          1979 3373750                 4788200
                          1980 3412800                 4717400
                          1981 3453000                 4682800
                          1982 3485800                 5105600
                          1983 3510600                 5498300
                          1984 3532423                 5736500
                          1985 3538082                 5830300
                          1986 3539690                 5621000
                          1987 3540057                 5528200
                          1988 3524949                 5330300
                          1989 3511009                 5381800
                          1990 3513974                 5402400
                          1991 3534235                 5281800
                          1992 3558430                 5326100
                          1993 3576261                 5267400

In [39]:
ireland_crop_prod_table

Crop                                               Apples   Barley  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400              29000   515400
                          1962 2836050              31000   603200
                          1963 2852650              35000   588900
                          1964 2866550              24000   550699
                          1965 2877300              21000   615730
                          1966 2888800              17000   638200
                          1967 2902450              16000   676700
                          1968 2915550              20000   752400
                          1969 2932650              22000   788000
                          1970 2957250              20000   782000
                          1971 2992050              13000   992000
                          1972 3036850               9100   981100
                          1973 3085950              11900   904600
                          1974 3137500              10000  1038000
                          1975 3189550              10300  1019000
                          1976 3238050              10800   922000
                          1977 3282200               9800  1445000
                          1978 3329100              10100  1396000
                          1979 3373750              10000  1558000
                          1980 3412800               8900  1701000
                          1981 3453000               6500  1670000
                          1982 3485800               9000  1676000
                          1983 3510600              10350  1503000
                          1984 3532423              13692  1770000
                          1985 3538082              10960  1494000
                          1986 3539690               9800  1428000
                          1987 3540057              10400  1599000
                          1988 3524949              10400  1475000
                          1989 3511009              11700  1325000
                          1990 3513974              10600  1223000
                          1991 3534235              10300  1148000
                          1992 3558430               8100  1168000
                          1993 3576261               8100   958000
                          1994 3590386              11500   910000
                          1995 3608841              11800  1084000
                          1996 3637510              11500  1225000
                          1997 3674171               9700  1087000
                          1998 3712696               8000  1073000
                          1999 3754786              13000  1278000
                          2000 3805174              10800  1309900
                          2001 3866243              15600  1277200
                          2002 3931947              10900   962800
                          2003 3996521               7500  1197700
                          2004 4070262              18500  1326600
                          2005 4159914              14800  1024400
                          2006 4273591              18200  1136900
                          2007 4398942              15000  1124500
                          2008 4489544              15600  1294100
                          2009 4535375              13100  1227300
                          2010 4560155              21100  1223100
                          2011 4580084              20400  1412000
                          2012 4599533              12100  1260700
                          2013 4623816              15200  1662800
                          2014 4657740              19600  1731200
                          2015 4701957              18800  1739200
                          2016 4755335              21800  1479900
                          2017 4807388              21369  1505811
                          2018 4867316              20140  1181560
                          2019 4934340              19880  1479600

Crop                                               Beans, dry  Beans, green  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                      0             0
                          1962 2836050                      0             0
                          1963 2852650                      0             0
                          1964 2866550                      0             0
                          1965 2877300                      0             0
                          1966 2888800                      0             0
                          1967 2902450                      0             0
                          1968 2915550                      0             0
                          1969 2932650                      0             0
                          1970 2957250                      0             0
                          1971 2992050                      0             0
                          1972 3036850                      0             0
                          1973 3085950                      0             0
                          1974 3137500                      0             0
                          1975 3189550                      0             0
                          1976 3238050                      0             0
                          1977 3282200                      0             0
                          1978 3329100                      0             0
                          1979 3373750                      0             0
                          1980 3412800                      0             0
                          1981 3453000                      0             0
                          1982 3485800                      0             0
                          1983 3510600                      0             0
                          1984 3532423                      0             0
                          1985 3538082                      0             0
                          1986 3539690                      0             0
                          1987 3540057                      0             0
                          1988 3524949                   5800           700
                          1989 3511009                   7800          1500
                          1990 3513974                   4900          1700
                          1991 3534235                      0          1400
                          1992 3558430                      0          1600
                          1993 3576261                      0          2500
                          1994 3590386                      0          3500
                          1995 3608841                      0          1400
                          1996 3637510                      0          2300
                          1997 3674171                      0          2200
                          1998 3712696                      0          1600
                          1999 3754786                      0          1600
                          2000 3805174                      0          1766
                          2001 3866243                      0          1752
                          2002 3931947                      0          1781
                          2003 3996521                      0          1775
                          2004 4070262                      0          1769
                          2005 4159914                      0          1760
                          2006 4273591                      0          1700
                          2007 4398942                      0          1500
                          2008 4489544                      0          1676
                          2009 4535375                      0          1666
                          2010 4560155                      0          1657
                          2011 4580084                      0          1650
                          2012 4599533                      0          1500
                          2013 4623816                      0          1649
                          2014 4657740                      0          1672
                          2015 4701957                      0          1679
                          2016 4755335                      0          1706
                          2017 4807388                      0          1702
                          2018 4867316                      0          1702
                          2019 4934340                      0          1702

Crop                                               Beer of barley  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                     363000
                          1962 2836050                     350000
                          1963 2852650                     346000
                          1964 2866550                     351000
                          1965 2877300                     348000
                          1966 2888800                     346000
                          1967 2902450                     353000
                          1968 2915550                     380000
                          1969 2932650                     377000
                          1970 2957250                     393000
                          1971 2992050                     420000
                          1972 3036850                     423000
                          1973 3085950                     444900
                          1974 3137500                     454000
                          1975 3189550                     459000
                          1976 3238050                     442000
                          1977 3282200                     440900
                          1978 3329100                     458000
                          1979 3373750                     480000
                          1980 3412800                     468000
                          1981 3453000                     467000
                          1982 3485800                     436000
                          1983 3510600                     396000
                          1984 3532423                     433000
                          1985 3538082                     463000
                          1986 3539690                     458000
                          1987 3540057                     456000
                          1988 3524949                     459000
                          1989 3511009                     515000
                          1990 3513974                     529000
                          1991 3534235                     639500
                          1992 3558430                     666300
                          1993 3576261                     691000
                          1994 3590386                     718600
                          1995 3608841                     813200
                          1996 3637510                    1076500
                          1997 3674171                    1209500
                          1998 3712696                    1258000
                          1999 3754786                     900000
                          2000 3805174                     850000
                          2001 3866243                     871200
                          2002 3931947                     915700
                          2003 3996521                     802300
                          2004 4070262                     814200
                          2005 4159914                     896900
                          2006 4273591                     937700
                          2007 4398942                     927000
                          2008 4489544                     884600
                          2009 4535375                     804100
                          2010 4560155                     824900
                          2011 4580084                     851900
                          2012 4599533                     819700
                          2013 4623816                     800800
                          2014 4657740                     800000
                          2015 4701957                     775500
                          2016 4755335                     768000
                          2017 4807388                     801900
                          2018 4867316                     832200
                          2019 4934340                     830000

Crop                                               Berries nes  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                    1000
                          1962 2836050                    1000
                          1963 2852650                    1000
                          1964 2866550                    1100
                          1965 2877300                    1200
                          1966 2888800                    1300
                          1967 2902450                    1500
                          1968 2915550                    1600
                          1969 2932650                    1800
                          1970 2957250                    2000
                          1971 2992050                    2600
                          1972 3036850                    3100
                          1973 3085950                    2600
                          1974 3137500                    2100
                          1975 3189550                    2100
                          1976 3238050                    1500
                          1977 3282200                    2400
                          1978 3329100                    2100
                          1979 3373750                    1800
                          1980 3412800                    1000
                          1981 3453000                    1600
                          1982 3485800                    1200
                          1983 3510600                    1262
                          1984 3532423                    1526
                          1985 3538082                    1482
                          1986 3539690                    1231
                          1987 3540057                    1000
                          1988 3524949                     700
                          1989 3511009                     500
                          1990 3513974                     200
                          1991 3534235                     137
                          1992 3558430                     100
                          1993 3576261                     100
                          1994 3590386                     100
                          1995 3608841                     100
                          1996 3637510                     100
                          1997 3674171                     100
                          1998 3712696                     100
                          1999 3754786                     111
                          2000 3805174                     114
                          2001 3866243                     117
                          2002 3931947                     121
                          2003 3996521                     124
                          2004 4070262                     128
                          2005 4159914                     141
                          2006 4273591                     146
                          2007 4398942                     152
                          2008 4489544                     157
                          2009 4535375                     163
                          2010 4560155                     169
                          2011 4580084                     174
                          2012 4599533                     220
                          2013 4623816                     186
                          2014 4657740                     177
                          2015 4701957                     190
                          2016 4755335                     195
                          2017 4807388                     199
                          2018 4867316                     199
                          2019 4934340                     199

Crop                                               Broad beans, horse beans, dry  \
Country Element    Unit   Year Population_Ireland
Ireland Production tonnes 1961 2824400                                         0
                          1962 2836050                                         0
                          1963 2852650                                         0
                          1964 2866550                                         0
                          1965 2877300                                         0
                          1966 2888800                                         0
                          1967 2902450                                         0
                          1968 2915550                                         0
                          1969 2932650                                         0
                          1970 2957250                                         0
                          1971 2992050                                         0
                          1972 3036850                                         0
                          1973 3085950                                         0
                          1974 3137500                                         0
                          1975 3189550                                         0
                          1976 3238050                                         0
                          1977 3282200                                         0
                          1978 3329100                                         0
                          1979 3373750                                         0
                          1980 3412800                                         0
                          1981 3453000                                         0
                          1982 3485800                                         0
                          1983 3510600                                         0
                          1984 3532423                                         0
                          1985 3538082                                         0
                          1986 3539690                                         0
                          1987 3540057                                         0
                          1988 3524949                                         0
                          1989 3511009                                         0
                          1990 3513974                                         0
                          1991 3534235                                      5000
                          1992 3558430                                      9000
                          1993 3576261                                     17500
                          1994 3590386                                     16800
                          1995 3608841                                     17000
                          1996 3637510                                     17000
                          1997 3674171                                     17000
                          1998 3712696                                     27000
                          1999 3754786                                     16000
                          2000 3805174                                      6000
                          2001 3866243                                      7900

 ## Germany Production Datasets

In [44]:
# create german dataset
germany_prod_df = europe_melt.loc[europe_melt['Country']=='Germany']

# german production dataset - all products (crop, meat, livestock)
germany_prod = germany_prod_df.loc[germany_prod_df['Element']=='Production']

#reset index
germany_prod.reset_index(drop=True, inplace=True)

germany_prod

      Country            Crop_Livestock     Element    Unit  Year       Value
0     Germany                    Apples  Production  tonnes  1961    851000.0
1     Germany                  Apricots  Production  tonnes  1961      2900.0
2     Germany                 Asparagus  Production  tonnes  1961     16300.0
3     Germany                  Avocados  Production  tonnes  1961         NaN
4     Germany                   Bananas  Production  tonnes  1961         NaN
...       ...                       ...         ...     ...   ...         ...
9789  Germany       Sheep and Goat Meat  Production  tonnes  2019     35000.0
9790  Germany  Skim Milk&Buttermilk,Dry  Production  tonnes  2019    437549.0
9791  Germany       Sugar Crops Primary  Production  tonnes  2019  29728300.0
9792  Germany           Treenuts, Total  Production  tonnes  2019         NaN
9793  Germany        Vegetables Primary  Production  tonnes  2019   3440400.0

[9794 rows x 6 columns]

### Germany Missing Values

In [45]:
#ireland_prod as a pivot table to see what values we need to replace for 2018/2019 only

germany_prod_table = pd.pivot_table(germany_prod, values='Value', index=['Country', 'Element', 'Unit', 'Year'],
                    columns=['Crop_Livestock'], aggfunc=np.sum, fill_value=0)
germany_prod_table

Crop_Livestock                    Apples  Apricots  Asparagus  Avocados  \
Country Element    Unit    Year
Germany Production 1000 No 1961        0         0          0         0
                           1962        0         0          0         0
                           1963        0         0          0         0
                           1964        0         0          0         0
                           1965        0         0          0         0
...                                  ...       ...        ...       ...
                   tonnes  2015   973462       232     113613         0
                           2016  1032913       229     120014         0
                           2017   596666       227     130881         0
                           2018  1198520         0     133020         0
                           2019   991450         0     130560         0

Crop_Livestock                   Bananas    Barley  Beans, dry  Beans, green  \
Country Element    Unit    Year
Germany Production 1000 No 1961        0         0           0             0
                           1962        0         0           0             0
                           1963        0         0           0             0
                           1964        0         0           0             0
                           1965        0         0           0             0
...                                  ...       ...         ...           ...
                   tonnes  2015        0  11629900           0         47442
                           2016        0  10730500           0         45634
                           2017        0  10853400           0         51469
                           2018        0   9583600           0         41180
                           2019        0  11591500           0         39710

Crop_Livestock                   Beef and Buffalo Meat  Beer of barley  ...  \
Country Element    Unit    Year                                         ...
Germany Production 1000 No 1961                      0               0  ...
                           1962                      0               0  ...
                           1963                      0               0  ...
                           1964                      0               0  ...
                           1965                      0               0  ...
...                                                ...             ...  ...
                   tonnes  2015                1132340         8721339  ...
                           2016                1155483         8677578  ...
                           2017                1137008         8480625  ...
                           2018                1109000         8656824  ...
                           2019                1107000         8040566  ...

Crop_Livestock                   Vetches  Walnuts, with shell  Watermelons  \
Country Element    Unit    Year
Germany Production 1000 No 1961        0                    0            0
                           1962        0                    0            0
                           1963        0                    0            0
                           1964        0                    0            0
                           1965        0                    0            0
...                                  ...                  ...          ...
                   tonnes  2015        0                18330            0
                           2016        0                18101            0
                           2017        0                18261            0
                           2018        0                    0            0
                           2019        0                    0            0

Crop_Livestock                      Wheat  Whey, condensed  Whey, dry    Wine  \
Country Element    Unit    Year
Germany Production 1000 No 1961         0                0          0       0
                           1962         0                0          0       0
                           1963         0                0          0       0
                           1964         0                0          0       0
                           1965         0                0          0       0
...                                   ...              ...        ...     ...
                   tonnes  2015  26549500            31592     400500  571794
                           2016  24463800            29064     359700  578692
                           2017  24481600            29446     345200  626532
                           2018  20263500                0          0  633424
                           2019  23062600                0          0       0

Crop_Livestock                   Wool, greasy  Yams  Yoghurt
Country Element    Unit    Year
Germany Production 1000 No 1961             0     0        0
                           1962             0     0        0
                           1963             0     0        0
                           1964             0     0        0
                           1965             0     0        0
...                                       ...   ...      ...
                   tonnes  2015         12426     0        0
                           2016         12448     0        0
                           2017         12404     0        0
                           2018             0     0        0
                           2019             0     0        0

[118 rows x 165 columns]

In [75]:
# search tab to identify what 2018/2019 data to be replaces & identify iloc 
germany_prod.loc[germany_prod['Crop_Livestock']=='Treenuts, Total']

      Country   Crop_Livestock     Element    Unit  Year    Value
164   Germany  Treenuts, Total  Production  tonnes  1961   5533.0
330   Germany  Treenuts, Total  Production  tonnes  1962   8508.0
496   Germany  Treenuts, Total  Production  tonnes  1963  12532.0
662   Germany  Treenuts, Total  Production  tonnes  1964  13672.0
828   Germany  Treenuts, Total  Production  tonnes  1965   8557.0
994   Germany  Treenuts, Total  Production  tonnes  1966  13457.0
1160  Germany  Treenuts, Total  Production  tonnes  1967  11853.0
1326  Germany  Treenuts, Total  Production  tonnes  1968  12850.0
1492  Germany  Treenuts, Total  Production  tonnes  1969  14850.0
1658  Germany  Treenuts, Total  Production  tonnes  1970  15850.0
1824  Germany  Treenuts, Total  Production  tonnes  1971  14150.0
1990  Germany  Treenuts, Total  Production  tonnes  1972   7850.0
2156  Germany  Treenuts, Total  Production  tonnes  1973  17900.0
2322  Germany  Treenuts, Total  Production  tonnes  1974   7950.0
2488  Germany  Treenuts, Total  Production  tonnes  1975  14000.0
2654  Germany  Treenuts, Total  Production  tonnes  1976   9867.0
2820  Germany  Treenuts, Total  Production  tonnes  1977   7465.0
2986  Germany  Treenuts, Total  Production  tonnes  1978  10340.0
3152  Germany  Treenuts, Total  Production  tonnes  1979  10847.0
3318  Germany  Treenuts, Total  Production  tonnes  1980  14299.0
3484  Germany  Treenuts, Total  Production  tonnes  1981   3608.0
3650  Germany  Treenuts, Total  Production  tonnes  1982  17195.0
3816  Germany  Treenuts, Total  Production  tonnes  1983  10766.0
3982  Germany  Treenuts, Total  Production  tonnes  1984  12734.0
4148  Germany  Treenuts, Total  Production  tonnes  1985   9000.0
4314  Germany  Treenuts, Total  Production  tonnes  1986  13100.0
4480  Germany  Treenuts, Total  Production  tonnes  1987   6100.0
4646  Germany  Treenuts, Total  Production  tonnes  1988  14200.0
4812  Germany  Treenuts, Total  Production  tonnes  1989  11800.0
4978  Germany  Treenuts, Total  Production  tonnes  1990  12200.0
5144  Germany  Treenuts, Total  Production  tonnes  1991   5100.0
5310  Germany  Treenuts, Total  Production  tonnes  1992  18100.0
5476  Germany  Treenuts, Total  Production  tonnes  1993  16500.0
5642  Germany  Treenuts, Total  Production  tonnes  1994  14300.0
5808  Germany  Treenuts, Total  Production  tonnes  1995  13800.0
5974  Germany  Treenuts, Total  Production  tonnes  1996  12416.0
6140  Germany  Treenuts, Total  Production  tonnes  1997   7686.0
6306  Germany  Treenuts, Total  Production  tonnes  1998  15200.0
6472  Germany  Treenuts, Total  Production  tonnes  1999  15600.0
6638  Germany  Treenuts, Total  Production  tonnes  2000  18200.0
6804  Germany  Treenuts, Total  Production  tonnes  2001  15700.0
6970  Germany  Treenuts, Total  Production  tonnes  2002  16900.0
7136  Germany  Treenuts, Total  Production  tonnes  2003  16037.0
7302  Germany  Treenuts, Total  Production  tonnes  2004  16273.0
7468  Germany  Treenuts, Total  Production  tonnes  2005  16484.0
7634  Germany  Treenuts, Total  Production  tonnes  2006  16687.0
7800  Germany  Treenuts, Total  Production  tonnes  2007  17000.0
7966  Germany  Treenuts, Total  Production  tonnes  2008  17057.0
8132  Germany  Treenuts, Total  Production  tonnes  2009  17332.0
8298  Germany  Treenuts, Total  Production  tonnes  2010  16997.0
8464  Germany  Treenuts, Total  Production  tonnes  2011  17200.0
8630  Germany  Treenuts, Total  Production  tonnes  2012  17403.0
8796  Germany  Treenuts, Total  Production  tonnes  2013  17605.0
8962  Germany  Treenuts, Total  Production  tonnes  2014  18009.0
9128  Germany  Treenuts, Total  Production  tonnes  2015  18330.0
9294  Germany  Treenuts, Total  Production  tonnes  2016  18101.0
9460  Germany  Treenuts, Total  Production  tonnes  2017  18261.0
9626  Germany  Treenuts, Total  Production  tonnes  2018      NaN
9792  Germany  Treenuts, Total  Production  tonnes  2019      NaN

In [76]:
# replace missing 2018/ 2019 values with last recorded value 

germany_prod.iloc[[9463, 9629],[5]] = 227.0
germany_prod.iloc[[9478, 9644],[5]] = 2040.0
germany_prod.iloc[[9479, 9645],[5]] = 791400.0
germany_prod.iloc[[9480, 9646],[5]] = 1484200.0
germany_prod.iloc[[9499, 9665],[5]] = 2703.0
germany_prod.iloc[[9501, 9667],[5]] = 86160.0
germany_prod.iloc[[9510, 9676],[5]] = 21600.0
germany_prod.iloc[[9526, 9692],[5]] = 58400.0
germany_prod.iloc[[9531, 9697],[5]] = 32532.0
germany_prod.iloc[[9534, 9700],[5]] = 13800937.0
germany_prod.iloc[[9535, 9701],[5]] = 430400.0
germany_prod.iloc[[9536, 9702],[5]] = 27000.0
germany_prod.iloc[[9537, 9703],[5]] = 37363.0
germany_prod.iloc[[9538, 9704],[5]] = 134800.0
germany_prod.iloc[[9539, 9705],[5]] = 376407.0
germany_prod.iloc[[9546, 9712],[5]] = 8194.0
germany_prod.iloc[[9561, 9727],[5]] = 12851.0
germany_prod.iloc[[9567, 9733],[5]] = 91603.0
germany_prod.iloc[[9569, 9735],[5]] = 562.0
germany_prod.iloc[[9574, 9740],[5]] = 2905.0
germany_prod.iloc[[9576, 9742],[5]] = 13141.0
germany_prod.iloc[[9591, 9757],[5]] = 38164.0
germany_prod.iloc[[9593, 9759],[5]] = 6218.0
germany_prod.iloc[[9599, 9765],[5]] = 18261.0
germany_prod.iloc[[9602, 9768],[5]] = 29446.0
germany_prod.iloc[[9603, 9769],[5]] = 345200.0
germany_prod.iloc[[9626, 9792],[5]] = 18261.0

In [77]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
germany_prod.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
germany_prod = ireland_prod.dropna(axis=0)

# check if we have any NaN values in our dataset
germany_prod.isnull().values.any()

False

### Germany Production- Add Population

In [84]:
# merge population data. Outer merge so no data is lost 
germany_prod_pop = pd.merge(germany_prod, germany_pop, how="outer", on = ["Year"])
germany_prod_pop.head()

,Country,Crop_Livestock,Element,Unit,Year,Value,Population_Germany
0,Ireland,Apples,Production,tonnes,1961,29000.0,73377632
1,Ireland,Barley,Production,tonnes,1961,515400.0,73377632
2,Ireland,Beer of barley,Production,tonnes,1961,363000.0,73377632
3,Ireland,Berries nes,Production,tonnes,1961,1000.0,73377632
4,Ireland,"Butter, cow milk",Production,tonnes,1961,61300.0,73377632

In [85]:
germany_prod_pop.shape

(4755, 7)

In [89]:
# cast value as int 
germany_prod_pop['Value'] = germany_prod_pop['Value'].astype('int')

###  Germany Meat/ Dairy/ Crop Production

In [90]:
# german production meat products
germany_meat_prod = germany_prod_pop.loc[germany_prod_pop['Crop_Livestock'].str.contains('meat', case=False)]
germany_meat_prod.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
germany_meat_prod.reset_index(drop=True)

# german production dairy products
germany_dairy_prod =  germany_prod_pop.loc[ germany_prod_pop['Crop_Livestock'].str.contains('milk', case=False)]
germany_dairy_prod.rename(columns={'Crop_Livestock': 'Dairy Product'}, inplace=True)
germany_dairy_prod.reset_index(drop=True)

# german production crops
germany_crop_prod = germany_prod_pop.loc[germany_prod_pop['Crop_Livestock'].str.contains('meat', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('milk', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('offals', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('fat', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('hides', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('wool', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('sheep', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('cream', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('egg', case=False) == False]
germany_crop_prod = germany_crop_prod.loc[germany_crop_prod['Crop_Livestock'].str.contains('lard', case=False) == False]
germany_crop_prod.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
germany_crop_prod.reset_index(drop=True)

,Country,Meat Type,Element,Unit,Year,Value,Population_Germany
0,Ireland,Meat nes,Production,tonnes,1961,5000,73377632
1,Ireland,"Meat, cattle",Production,tonnes,1961,144539,73377632
2,Ireland,"Meat, chicken",Production,tonnes,1961,10000,73377632
3,Ireland,"Meat, duck",Production,tonnes,1961,1400,73377632
4,Ireland,"Meat, goose and guinea fowl",Production,tonnes,1961,1000,73377632
...,...,...,...,...,...,...,...
762,Ireland,"Meat, turkey",Production,tonnes,2019,12990,83092962
763,Ireland,Beef and Buffalo Meat,Production,tonnes,2019,619800,83092962
764,Ireland,"Meat, Poultry",Production,tonnes,2019,153990,83092962
765,Ireland,"Meat, Total",Production,tonnes,2019,1147379,83092962
766,Ireland,Sheep and Goat Meat,Production,tonnes,2019,66040,83092962

,Country,Dairy Product,Element,Unit,Year,Value,Population_Germany
0,Ireland,"Butter, cow milk",Production,tonnes,1961,61300,73377632
1,Ireland,"Cheese, whole cow milk",Production,tonnes,1961,6000,73377632
2,Ireland,"Milk, skimmed cow",Production,tonnes,1961,1423066,73377632
3,Ireland,"Milk, skimmed dried",Production,tonnes,1961,6000,73377632
4,Ireland,"Milk, whole condensed",Production,tonnes,1961,330,73377632
...,...,...,...,...,...,...,...
606,Ireland,"Milk, whole dried",Production,tonnes,2019,57170,83092962
607,Ireland,"Milk, whole fresh cow",Production,tonnes,2019,8244870,83092962
608,Ireland,Evaporat&Condensed Milk,Production,tonnes,2019,3800,83092962
609,Ireland,"Milk, Total",Production,tonnes,2019,8244870,83092962
610,Ireland,"Skim Milk&Buttermilk,Dry",Production,tonnes,2019,134300,83092962

,Country,Crop,Element,Unit,Year,Value,Population_Germany
0,Ireland,Apples,Production,tonnes,1961,29000,73377632
1,Ireland,Barley,Production,tonnes,1961,515400,73377632
2,Ireland,Beer of barley,Production,tonnes,1961,363000,73377632
3,Ireland,Berries nes,Production,tonnes,1961,1000,73377632
4,Ireland,Cabbages and other brassicas,Production,tonnes,1961,25000,73377632
...,...,...,...,...,...,...,...
2753,Ireland,"Oilcrops, Oil Equivalent",Production,tonnes,2019,14246,83092962
2754,Ireland,"Pulses, Total",Production,tonnes,2019,40610,83092962
2755,Ireland,"Roots and Tubers, Total",Production,tonnes,2019,382370,83092962
2756,Ireland,Sugar Crops Primary,Production,tonnes,2019,75000,83092962
2757,Ireland,Vegetables Primary,Production,tonnes,2019,184810,83092962

In [ ]:
# Rename 2015 Columns
# dcc_2015_ff.rename(columns={' O_Connell_St_Outside_Clerys': 'OConnell_St_Clerys'}, inplace=True)

## European Trade Dataset

The European Trade Dataset is taken from faostat and contains annual data on all crop/ livestock/ animal product Imports and Exports in Europe from 1961-2020, measured in tonnes and heads. It also contains information on Import and Export values in $1000US.

Import/ Export Quantity Unit Measurements:

    Crops = tonnes
    Livestock = head
    Dairy Products = tonnes
    Meat animal Product = tonnes 

"The food and agricultural trade dataset is collected, processed and disseminated by FAO according to the standard International Merchandise Trade Statistics (IMTS) Methodology. The data is mainly provided by UNSD, Eurostat, and other national authorities as needed. This source data is checked for outliers, trade partner data is used for non-reporting countries or missing cells, and data on food aid is added to take into account total cross-border trade flows."  https://www.fao.org/faostat/en/#data/TCL

In [ ]:
#drop columns not required for analysis
europe_trade.drop(to_drop, inplace=True, axis=1)

### Melt Data

In [ ]:
# melt new dataframe in order to visualise data by street 
europe_trade_melt = pd.melt(europe_trade, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
europe_trade_melt.columns = columns

#remove Y from year
europe_trade_melt['Year'] = europe_trade_melt['Year'].str[1:]

#set Year to datetime dtype
#europe_melt['Year']= pd.to_datetime(europe_melt['Year'])

europe_trade_melt.head()

In [ ]:
# dataframe shape, number of rows/ columns 
europe_trade_melt.shape

In [ ]:
europe_trade_melt.info()

### Missing Values

Unlike for the Europoean Production data, European and Oceania Trade data is not missing large amounts of data as a result of covid disruption. Meaning, any missing data identified here either relates to years there was no imports/exports for a given country for a given crop/livestock. 

For early years, it is accptable to assume 0/ NaN values reflect that a country had not yet began to produce/ trade this item and therefore values remain as NaN and can be removed. Any other Nan/ 0's identified are likely to reflect other years where no trade took place for the given product. 

As such, any missing data will just be removed for European & Oceanic Trade datasets.

In [ ]:
# number of missing values 
europe_trade_melt.isnull().sum()

In [ ]:
#check the amount of 0's in each column
europe_trade_melt_sparse = (europe_trade_melt == 0).sum()
europe_trade_melt_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
europe_trade_melt.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
europe_trade_df = europe_trade_melt.dropna(axis=0)

# check if we have any NaN values in our dataset
europe_trade_df.isnull().values.any()

In [ ]:
europe_trade_df.shape

In [ ]:
# cast value as int 
europe_trade_df['Value'] = europe_trade_df['Value'].astype('int')

## Ireland Trade Datasets

In [ ]:
# create irish dataset
ireland_trade = europe_trade_df.loc[europe_trade_df['Country']=='Ireland']

# irish import/ export datasets - all products (crop, meat, livestock)
ireland_imports = ireland_trade.loc[ireland_trade['Element']=='Import Quantity']
ireland_exports = ireland_trade.loc[ireland_trade['Element']=='Export Quantity']

# merge population data. Outer merge so no data is lost 
#ireland_trade_pop = pd.merge(ireland_trade, ireland_pop, how="outer", on = ["Year"])

#reset index
ireland_imports.reset_index(drop=True, inplace=True)
ireland_exports.reset_index(drop=True, inplace=True)

In [ ]:
# merge population data. Outer merge so no data is lost 
ireland_imports = pd.merge(ireland_imports, ireland_pop, how="outer", on = ["Year"])
ireland_exports = pd.merge(ireland_exports, ireland_pop, how="outer", on = ["Year"])

ireland_imports.head()
ireland_exports.head()

In [ ]:
ireland_imports.shape
ireland_exports.shape

### Ireland Livestock/Meat/ Dairy/ Crops Import/Exports

In [ ]:
# import/ export livestock
ireland_livestock_imports = ireland_imports.loc[ireland_imports['Unit'].str.contains('head', case=False)]
ireland_livestock_exports = ireland_exports.loc[ireland_exports['Unit'].str.contains('head', case=False)]
ireland_livestock_imports.rename(columns={'Crop_Livestock': 'Animal Type'}, inplace=True)
ireland_livestock_exports.rename(columns={'Crop_Livestock': 'Animal Type'}, inplace=True)
ireland_livestock_imports.reset_index(drop=True)
ireland_livestock_exports.reset_index(drop=True)

# import/ export meat products
ireland_meat_imports = ireland_imports.loc[ireland_imports['Crop_Livestock'].str.contains('meat', case=False)]
ireland_meat_exports = ireland_exports.loc[ireland_exports['Crop_Livestock'].str.contains('meat', case=False)]
ireland_meat_imports.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
ireland_meat_exports.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
ireland_meat_imports.reset_index(drop=True)
ireland_meat_exports.reset_index(drop=True)

# import/ export dairy products
ireland_dairy_imports = ireland_imports.loc[ireland_imports['Crop_Livestock'].str.contains('milk', case=False)]
ireland_dairy_exports = ireland_exports.loc[ireland_exports['Crop_Livestock'].str.contains('milk', case=False)]
ireland_dairy_imports.rename(columns={'Crop_Livestock': 'Dairy Type'}, inplace=True)
ireland_dairy_exports.rename(columns={'Crop_Livestock': 'Dairy Type'}, inplace=True)
ireland_dairy_imports.reset_index(drop=True)
ireland_dairy_exports.reset_index(drop=True)

# import/ export crops
ire_imports_tonnes = ireland_imports.loc[ireland_imports['Unit'].str.contains('tonne', case=False)]
ire_exports_tonnes = ireland_exports.loc[ireland_exports['Unit'].str.contains('tonne', case=False)]
ireland_crop_imports = ire_imports_tonnes.loc[ire_imports_tonnes['Crop_Livestock'].str.contains('meat', case=False) == False]
ireland_crop_exports = ire_exports_tonnes.loc[ire_exports_tonnes['Crop_Livestock'].str.contains('meat', case=False) == False]
ireland_crop_imports.rename(columns={'Crop_Livestock': 'Crop Type'}, inplace=True)
ireland_crop_exports.rename(columns={'Crop_Livestock': 'Crop Type'}, inplace=True)
ireland_crop_imports.reset_index(drop=True)
ireland_crop_exports.reset_index(drop=True)

## Germany Trade Datasets

In [ ]:
# create german dataset
germany_trade = europe_trade_df.loc[europe_trade_df['Country']=='Germany']

# german import/ export datasets - all products (crop, meat, livestock)
germany_imports = germany_trade.loc[germany_trade['Element']=='Import Quantity']
germany_exports = germany_trade.loc[germany_trade['Element']=='Export Quantity']

#reset index
germany_imports.reset_index(drop=True)
germany_exports.reset_index(drop=True)

In [ ]:
# merge population data. Outer merge so no data is lost 
germany_imports = pd.merge(germany_imports, germany_pop, how="outer", on = ["Year"])
germany_exports = pd.merge(germany_exports, germany_pop, how="outer", on = ["Year"])

germany_imports.head()
germany_exports.head()

In [ ]:
germany_imports.shape
germany_exports.shape

### Germany Livestock/ Meat / Dairy/ Crops Imports/ Exports

In [ ]:
# import/ export livestock
germany_livestock_imports = germany_imports.loc[germany_imports['Unit'].str.contains('head', case=False)]
germany_livestock_exports = germany_exports.loc[germany_exports['Unit'].str.contains('head', case=False)]
germany_livestock_imports.rename(columns={'Crop_Livestock': 'Animal Type'}, inplace=True)
germany_livestock_exports.rename(columns={'Crop_Livestock': 'Animal Type'}, inplace=True)
germany_livestock_imports.reset_index(drop=True)
germany_livestock_exports.reset_index(drop=True)

# import/ export meat products
germany_meat_imports = germany_imports.loc[germany_imports['Crop_Livestock'].str.contains('meat', case=False)]
germany_meat_exports = germany_exports.loc[germany_exports['Crop_Livestock'].str.contains('meat', case=False)]
germany_meat_imports.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
germany_meat_exports.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
germany_meat_imports.reset_index(drop=True)
germany_meat_exports.reset_index(drop=True)

# import/ export dairy products
germany_dairy_imports = germany_imports.loc[germany_imports['Crop_Livestock'].str.contains('milk', case=False)]
germany_dairy_exports = germany_exports.loc[germany_exports['Crop_Livestock'].str.contains('milk', case=False)]
germany_dairy_imports.rename(columns={'Crop_Livestock': 'Dairy Type'}, inplace=True)
germany_dairy_exports.rename(columns={'Crop_Livestock': 'Dairy Type'}, inplace=True)
germany_dairy_imports.reset_index(drop=True)
germany_dairy_exports.reset_index(drop=True)

# import/ export crops
ger_imports_tonnes = germany_imports.loc[germany_imports['Unit'].str.contains('tonne', case=False)]
ger_exports_tonnes = germany_exports.loc[germany_exports['Unit'].str.contains('tonne', case=False)]
germany_crop_imports = ger_imports_tonnes.loc[ger_imports_tonnes['Crop_Livestock'].str.contains('meat', case=False) == False]
germany_crop_exports = ger_exports_tonnes.loc[ger_exports_tonnes['Crop_Livestock'].str.contains('meat', case=False) == False]
germany_crop_imports.rename(columns={'Crop_Livestock': 'Crop Type'}, inplace=True)
germany_crop_exports.rename(columns={'Crop_Livestock': 'Crop Type'}, inplace=True)
germany_crop_imports.reset_index(drop=True)
germany_crop_exports.reset_index(drop=True)

## Oceania Production Dataset

The Oceania Prouction Dataset is taken from faostat and contains annual data on all crops and animal products producted throughout the Oceania region from 1961-2020, measured in tonnes. It also contains information on livestock numbers, yields, areas havested and slaughtering numbers.

Unit Measurements:

    Production = tonnes
    Area harvested = ha
    Yield =	hg/ha
    Stocks = head 
    Slaughter = head
    Yields/ Carcass Weight = 0.1g/An, hg/An
    Milking Animals = head
    Laying = head
    Prod Popultn (bees/honey) = number

"Crop statistics are recorded for 173 products, covering the following categories: Crops Primary, Fibre Crops Primary, Cereals, Coarse Grain, Citrus Fruit, Fruit, Jute Jute-like Fibres, Oilcakes Equivalent, Oil crops Primary, Pulses, Roots and Tubers, Treenuts and Vegetables and Melons. Data are expressed in terms of area harvested, production quantity and yield. The objective is to comprehensively cover production of all primary crops for all countries and regions in the world. Area and production data on cereals relate to crops harvested for dry grain only. Cereal crops harvested for hay or harvested green for food, feed or silage or used for grazing are therefore excluded. Area data relate to harvested area. Some countries report sown or cultivated area only." https://www.fao.org/faostat/en/#data/QCL

In [ ]:
#drop columns not required for analysis
to_drop = ['Area Code','Item Code','Element Code']
oceania.drop(to_drop, inplace=True, axis=1)

### Melt Data

In [ ]:
# melt new dataframe in order to visualise data by street 
oceania_melt = pd.melt(oceania, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
oceania_melt.columns = columns

#remove Y from year
oceania_melt['Year'] = oceania_melt['Year'].str[1:]

#set Year to datetime dtype
#oceania_melt['Year']= pd.to_datetime(europe_melt['Year'])

oceania_melt

In [ ]:
# dataframe shape, number of rows/ columns 
oceania_melt.shape

In [ ]:
oceania_melt.info()

### Missing Values

In [ ]:
# number of missing values 
oceania_melt.isnull().sum()

In [ ]:
#check the amount of 0's in each column
oceania_melt_sparse = (oceania_melt == 0).sum()
oceania_melt_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
oceania_melt.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
oceania_df = oceania_melt.dropna(axis=0)

# check if we have any NaN values in our dataset
oceania_df.isnull().values.any()

In [ ]:
oceania_df.shape

In [ ]:
# cast value as int 
oceania_df['Value'] = oceania_df['Value'].astype('int')

In [ ]:
oceania_df

## Australia Production Datasets

In [ ]:
# create australian dataset
oz_df = oceania_df.loc[oceania_df['Country']=='Australia']

# australian production dataset - all products (crop, meat, livestock)
oz_prod = oz_df.loc[oz_df['Element']=='Production']

#reset index
oz_prod.reset_index(drop=True, inplace=True)

In [ ]:
# merge population data. Outer merge so no data is lost 
oz_prod_pop = pd.merge(oz_prod, aus_pop, how="inner", on = ["Year"])
oz_prod_pop.head()

In [ ]:
oz_prod_pop.shape

### Australia Meat/ Dairy/ Crop Production

In [ ]:
# australian production meat products
oz_meat_prod = oz_prod_pop.loc[oz_prod_pop['Crop_Livestock'].str.contains('meat', case=False)]
oz_meat_prod.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
oz_meat_prod.reset_index(drop=True)

# australian production dairy products
oz_dairy_prod = oz_prod_pop.loc[oz_prod_pop['Crop_Livestock'].str.contains('milk', case=False)]
oz_dairy_prod.rename(columns={'Crop_Livestock': 'Dairy Product'}, inplace=True)
oz_dairy_prod.reset_index(drop=True)

# australian production crops
oz_crop_prod = oz_prod_pop.loc[oz_prod_pop['Crop_Livestock'].str.contains('meat', case=False) == False]
oz_crop_prod = oz_crop_prod.loc[oz_crop_prod['Crop_Livestock'].str.contains('milk', case=False) == False]
oz_crop_prod.rename(columns={'Crop_Livestock': 'Crop'}, inplace=True)
oz_crop_prod.reset_index(drop=True)

## Oceania Trade Dataset

The Oceania Trade Dataset is taken from faostat and contains annual data on all crop/ livestock/ animal product Imports and Exports throughout the Oceania region from 1961-2020, measured in tonnes and heads. It also contains information on Import and Export values in $1000US.

Import/ Export Quantity Unit Measurements:

    Crops = tonnes
    Livestock = head
    Dairy Products = tonnes
    Meat animal Product = tonnes 

"The food and agricultural trade dataset is collected, processed and disseminated by FAO according to the standard International Merchandise Trade Statistics (IMTS) Methodology. The data is mainly provided by UNSD, Eurostat, and other national authorities as needed. This source data is checked for outliers, trade partner data is used for non-reporting countries or missing cells, and data on food aid is added to take into account total cross-border trade flows."  https://www.fao.org/faostat/en/#data/TCL

In [ ]:
#drop columns not required for analysis
oceania_trade.drop(to_drop, inplace=True, axis=1)

### Melt Data

In [ ]:
# melt new dataframe in order to visualise data by street 
oceania_trade_melt = pd.melt(oceania_trade, id_vars=[ 'Area', 'Item', 'Element', 'Unit'])

# rename columns 
columns = [ 'Country', 'Crop_Livestock', 'Element', 'Unit', 'Year', 'Value']
oceania_trade_melt.columns = columns

#remove Y from year
oceania_trade_melt['Year'] = oceania_trade_melt['Year'].str[1:]

#set Year to datetime dtype
#europe_melt['Year']= pd.to_datetime(europe_melt['Year'])

oceania_trade_melt.head()

In [ ]:
# dataframe shape, number of rows/ columns 
oceania_trade_melt.shape

In [ ]:
oceania_trade_melt.info()

### Missing Values

In [ ]:
# number of missing values 
oceania_trade_melt.isnull().sum()

In [ ]:
#check the amount of 0's in each column
oceania_trade_melt_sparse = (oceania_trade_melt == 0).sum()
oceania_trade_melt_sparse

In [ ]:
# drop all rows with NaN and 0 values

# first will replace 0 values with NaNs  
oceania_trade_melt.replace(to_replace = 0, value = np.nan, inplace=True)

# row = 0, column = 1
oceania_trade_df = oceania_trade_melt.dropna(axis=0)

# check if we have any NaN values in our dataset
oceania_trade_df.isnull().values.any()

In [ ]:
oceania_trade_df.shape

In [ ]:
# cast value as int 
oceania_trade_df['Value'] = oceania_trade_df['Value'].astype('int')

## Australia Trade Datasets

In [ ]:
# create australian dataset
oz_trade = oceania_trade_df.loc[oceania_trade_df['Country']=='Australia']

# australian import/ export datasets - all products (crop, meat, livestock)
oz_imports = oz_trade.loc[oz_trade['Element']=='Import Quantity']
oz_exports = oz_trade.loc[oz_trade['Element']=='Export Quantity']

#reset index
oz_imports.reset_index(drop=True)
oz_exports.reset_index(drop=True)

In [ ]:
# merge population data. Outer merge so no data is lost 
oz_imports = pd.merge(oz_imports, aus_pop, how="outer", on = ["Year"])
oz_exports = pd.merge(oz_exports, aus_pop, how="outer", on = ["Year"])

oz_imports.head()
oz_exports.head()

In [ ]:
oz_imports.shape
oz_exports.shape

### Australia Livestock/ Meat / Dairy/ Crops Imports/ Exports

In [ ]:
# import/ export livestock
oz_livestock_imports = oz_imports.loc[oz_imports['Unit'].str.contains('head', case=False)]
oz_livestock_exports = oz_exports.loc[oz_exports['Unit'].str.contains('head', case=False)]
oz_livestock_imports.rename(columns={'Crop_Livestock': 'Animal Type'}, inplace=True)
oz_livestock_exports.rename(columns={'Crop_Livestock': 'Animal Type'}, inplace=True)
oz_livestock_imports.reset_index(drop=True)
oz_livestock_exports.reset_index(drop=True)

# import/ export meat products
oz_meat_imports = oz_imports.loc[oz_imports['Crop_Livestock'].str.contains('meat', case=False)]
oz_meat_exports = oz_exports.loc[oz_exports['Crop_Livestock'].str.contains('meat', case=False)]
oz_meat_imports.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
oz_meat_exports.rename(columns={'Crop_Livestock': 'Meat Type'}, inplace=True)
oz_meat_imports.reset_index(drop=True)
oz_meat_exports.reset_index(drop=True)

# import/ export dairy products
oz_dairy_imports = oz_imports.loc[oz_imports['Crop_Livestock'].str.contains('milk', case=False)]
oz_dairy_exports = oz_exports.loc[oz_exports['Crop_Livestock'].str.contains('milk', case=False)]
oz_dairy_imports.rename(columns={'Crop_Livestock': 'Dairy Type'}, inplace=True)
oz_dairy_exports.rename(columns={'Crop_Livestock': 'Dairy Type'}, inplace=True)
oz_dairy_imports.reset_index(drop=True)
oz_dairy_exports.reset_index(drop=True)

# import/ export crops
aus_imports_tonnes = oz_imports.loc[oz_imports['Unit'].str.contains('tonne', case=False)]
aus_exports_tonnes = oz_exports.loc[oz_exports['Unit'].str.contains('tonne', case=False)]
oz_crop_imports = aus_imports_tonnes.loc[aus_imports_tonnes['Crop_Livestock'].str.contains('meat', case=False) == False]
oz_crop_exports = aus_exports_tonnes.loc[aus_exports_tonnes['Crop_Livestock'].str.contains('meat', case=False) == False]
oz_crop_imports.rename(columns={'Crop_Livestock': 'Crop Type'}, inplace=True)
oz_crop_exports.rename(columns={'Crop_Livestock': 'Crop Type'}, inplace=True)
oz_crop_imports.reset_index(drop=True)
oz_crop_exports.reset_index(drop=True)